/*
@Author: 
@URL: 

*/

/* Your custom css codes start here: */
// Fonts
@font-face {
    font-family: thesans;
    src: url('/css/fonts/TheSaB4_.woff') format('woff');
}

@font-face {
    font-family: theserif;
    src: url('/css/fonts/TheSerif_cls_3_.woff') format('woff');
}
body {
    font-size: 16px;
}
.list-icon li {
    font-size: 16px;    
}
.font-thesans {
  font-family: 'thesans', sans-serif;
}
.font-theserif {
  font-family: 'theserif', serif;
}

/*a {    color: #337ab7;}
*/
/* Color schemes */
.unibworange-text { color: #ff6600; }
.unibworange-background { background-color: #ff6600; }
.unibworange-border { border-color: #ff6600; }

.background-light-gray { background-color: #eee; }
.background-gray { background-color: #aaa; }
.background-dark-gray { background-color: #666; }

.scheme-light-gray { background-color: #eee !important; color: #333 !important; }
.scheme-gray { background-color: #bbb !important; color: black !important; }
.scheme-dark-gray { background-color: #666 !important; color: white !important; }

.scheme-yellow { background-color: #FFFA08 !important; color: black !important; }
.scheme-orange { background-color: #FFFA08 !important; color: white !important; }
.scheme-red { background-color: #FF0000 !important; color: white !important; }
.scheme-purple { background-color: #720CE8 !important; color: white !important; }
.scheme-blue { background-color: #0D9DFF !important; color: white !important; }

#header {
    background-color: #fff;
    color: #6A686F;
    padding: 0.5em 0;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 85px;
    transition: all 1s;
}
#global-navigation {
    position: relative;
    height: 42px;
    line-height: 42px;
}
#athene{
    position: absolute;
    left: 50%;
    transform: -webkit-translateX(-50%);
    transform: -moz-translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    transition: all 1s;
    top: -80px;
    opacity: 1;
    height: 70px;
    overflow: hidden;

}
#athene.bumped {
    top: -50px;
    opacity: 0;
}
#athene a {
    background: url("/media/logos/logo-unibw-brandmark.svg");
    background-size: cover;
    color: transparent;
    width: 330px;
    height: 53px;
    display: block;
    /*transform: scale(1.5);*/
    transition: all 0.5s;
    margin-left: -15px;
}
/*#athene a:hover {
    transform: -webkit-scale(1);
    transform: -moz-scale(1);
    transform: scale(1);
    margin-top: 12px;
    margin-left: 0;
}
*/#athene a:hover:before {
    opacity: 1;
}
#athene a:before {
    content: ' ';
    background: url("/media/logos/logo-unibw-text.svg");
    background-size: cover;
    width: 330px;
    height: 53px;
    display: block;
    /*opacity: 0;*/
    /*transition: all 0.5s;*/
}

#global-navigation nav {
    position: relative;
    z-index: 2;
    float: left;
}

nav ul li a#faculty {
    color: transparent;
    border-radius: 0;
    width: 36px;
    height: 36px;
    background-image: url('/media/logos/casc.png');
}
.menuzord-menu > li  {
    padding: 2px 0;
}
.menuzord-menu > li > a {
    color: black;
    font-size: 16px;
}

.header-nav-wrapper,
.header-nav .header-nav-wrapper .menuzord {
    background-color: white;
}

/* Inner Header - Heros on subpages */

section.inner-header {
    height: 400px;
}
section.inner-header.no-hero {
    height: 220px;
}
section.inner-header .title {
    font-size: 36px;
}
section.inner-header small {
    font-size: 18px;
    color: white;
}

/* Testimonials - Quotes */
#quotes .item img {
    height: 100px;
    width: 100px;
}
/* Slider */
/*.inner-header .hero-image:before,
section.gradient:before,
.rev_slider .slotholder:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: -moz-linear-gradient(top, rgba(125,185,232,0) 0%, rgba(0,0,0,0.25) 32%, rgba(0,0,0,0.78) 100%);
    background: -webkit-linear-gradient(top, rgba(125,185,232,0) 0%,rgba(0,0,0,0.25) 32%,rgba(0,0,0,0.78) 100%); 
    background: linear-gradient(to bottom, rgba(125,185,232,0) 0%,rgba(0,0,0,0.25) 32%,rgba(0,0,0,0.78) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#c7000000',GradientType=0 ); 
}
.inner-header .hero-image:after,
section.gradient:after,
.rev_slider .slotholder:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30%;
    left: 0;
    z-index: 2;
    opacity: 0.5;
}*/

section.gradient:before,
section.gradient:after {
    z-index: 0;
}
.rev_slider .text-layer {
    width: 80%;
}
#hero .title,
#hero small,
.rev_slider h2 {
    background-color: grey;
    display: inline;
    padding: 4px 8px;
}
#hero .marker {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40px;
    height: 100%;
}
#hero .marker span {
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    font-size: 26px;
    line-height: 41px;
}
.rev_slider p.description {
    white-space: normal ;
}


/* Sections */

section.clients img {

}
section.clients h2 {
    text-align: center;
}
section.clients .clients-logo {
    height: 10em;
}
section.clients .clients-logo img {
    height: 6em;
    padding: 1em 2em;
}

/* Description highlight */

.single-service .description {
    font-size: 20px;
    font-weight: 600;
}


/* Hack to offset anchors by the height of the navbar*/
a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}

#header .header-nav div.header-nav-wrapper {
    background-color: white;
}
#header .header-nav div.header-nav-wrapper .active a {
    border-bottom: 6px solid #da670f;
    border-radius: 0 !important;
    padding: 4px 4px;
    margin: 4px 12px;
}

body.category-service .main-content #overview {
    min-height: 350px;
    background-position: center -100px !important;
    background-size: cover;
    text-align: center;
}
body.category-institut .main-content #overview {
    min-height: 350px;
    background-position: center center !important;
    background-size: cover;
}
body.category-antrag .main-content #overview {
    min-height: 350px;
    background-position: center center !important;
    background-size: cover;
}

.main-content .accordion ul,
.main-content .single-post ul {
    list-style: outside none none;
    margin-top: 13px;
    padding-left: 0;
    padding: 0;
    margin: 0;
}

.main-content .accordion ul li,
.main-content .single-post ul li {
    margin: 5px 0 5px 10px;
    font-weight: 500;
    padding-left: 15px;
    position: relative;
}

.main-content .accordion ul li:before, 
.main-content .single-post ul li:before {
    border: none;
    color: #a9a9a9;
    content: "\f111";
    display: inline-block;
    font-family: fontawesome;
    font-size: 9px;
    margin-right: 10px;
    padding: 0;
    left: 0;
    position: absolute;
    top: 4px;
}

/* gradients */

.royal-gradient::before {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}
.titanium-gradient::before {
    background: #283048; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #283048 , #859398); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #283048 , #859398); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */        
}

#studies-info .box {
    margin-top: -70px;
    background-color: #666666;
    color: #fff;
    border-radius: 0px 0px 20px 20px;
    padding: 10px 0px 20px 30px;
}
#studies-info .box a,
#studies-info .box a i,
#studies-info .box h3 {
    color: white;
}

/* start 'orangehills' theme */
.emerald {
  background-color: #ff6600;
}

.media-body,
.media-body h3 {
  color: #fff;
}

.icon-lg {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 100%;
  color: #fff;
  display: inline-block !important;
  font-size: 48px;
  height: 108px;
  line-height: 108px;
  margin: 10px;
  text-align: center;
  width: 108px;
}

.quicklinks-wrapper > .row {
  margin-bottom: 20px;
}

.quicklink {
  display: inline-block;
  margin: 0 20px;
  text-align: center;
  width: 80px;
}

.quicklink .fa {
  border: 2px solid #fff;
  border-radius: 100%;
  margin-bottom: 10px;
  padding: 15px;
}

#intranet-search input[type=checkbox] {
  margin-left: -60px;
}

.grid-sizer {
  width: 212px;
  height: 100px;
}

.search-results .grid-item {
  width: 212px;
  height: 100px;
  background-color: #f5f5f5;;
  margin-bottom: 10px;
}

.color-marker {
  color: white;
  width: 30px;
  height: 30px;
  display: inline-block;
  border-radius: 15px;
  vertical-align: middle;
  margin: 0;
  padding: 7px 6px;
}

.color-marker.services {
  background-color: #16A085;
}

.color-marker.research {
  background-color: #2980B9;
  padding-left: 8px;
}

.color-marker.studies {
  background-color: #8E44AD;
  padding-left: 5px;
}

.color-marker.personel {
  background-color: #006B2D;
}

.color-marker.it {
  background-color: #2C3E50;
}

.color-marker.soul {
  background-color: #4C348C;
}

.color-marker.people {
  background-color: #898E92;
  padding-left: 8px;
}

.color-marker.lunch {
  background-color: #C00D0E;
  padding-left: 9px;
}

.color-marker.learning {
  background-color: #2C2D2E;
}

.search-results .grid-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-results .grid-item .item-header {
  color: #fff;
  height: 30px;
  padding: 5px 10px;
}

#intranet-search {
  padding: 0;
}

.row.search-form {
  margin: 50px 0;
  padding: 0 20px;
}

.row.search-results {
  margin: 50px auto;
}

.search-results .grid-item .item-header.services {
  background-color: #16a085;
}

.search-results .grid-item .item-header.research {
  background-color: #2980b9;
}

.search-results .grid-item .item-header.studies {
  background-color: #8e44ad;
}

.search-results .grid-item .item-header.personel {
  background-color: #006b2d;
}

.search-results .grid-item .item-header.it {
  background-color: #2c3e50;
}

.search-results .grid-item .item-header.soul {
  background-color: #4c348c;
}

.search-results .grid-item .item-header.people {
  background-color: #898e92;
}

.search-results .grid-item .item-header.lunch {
  background-color: #c00d0e;
}

.search-results .grid-item .item-header.learning {
  background-color: #2c2d2e;
}

.search-results .grid-item .text {
  display: block;
  font-weight: bold;
  line-height: 30px;
  padding: 0 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

/* end 'orangehills' theme */
