---
layout: page
title: Bau
name: prototyp
description: Lorem Ipsum
category: 
tagline: 
hero_image: /media/hero/index.png
hero_title: Bauingenieurwesen und Umweltwissenschaften
hero_overline: Fakultät
section: Prototyp
color_scheme: orange
department: UniBwM
---


{% include intro-text-zwei-spalten.html %}


{% include gallerie_institute.html %}

{% include studiengang-info-img-left.html %}

{% include studiengang-infoimg-right.html %}

{% include team-slider.html color_scheme="grey" title="Professuren" %}

{% include organisationskontakt.html %}

