---
layout: generic
title: 
name: prototyp
description: 
category: 
tagline: 
hero_image: /media/hero/kugelstosspendel.png
hero_title: Bauingenieurwesen und Umweltwissenschaften
hero_overline: Fakultät
section: Prototyp
color_scheme: grey
department: bau
gallery:
- title: Mathematik und Bauinformatik
  img: /media/bau/mathematik_bauinformatik.jpg
  url: /bau_institut_werkstoffe.html
- title: Mechanik und Statik
  img: /media/bau/mechanik_baustatik.jpg
  url: /bau_institut_werkstoffe.html
- title: Werkstoffe des Bauwesens
  img: /media/bau/werkstoffe2.png
  url: /bau_institut_werkstoffe.html
- title: Konstruktiver Ingenieurbau
  img: /media/bau/bauv4_2.jpg
  url: /bau_institut_werkstoffe.html
- title: Bodenmechanik und Grundbau
  img: /media/bau/mechnaik_grundbau.jpg
  url: /bau_institut_werkstoffe.html
- title: Wasserwesen
  img: /media/bau/wasserwesen.jpg
  url: /bau_institut_werkstoffe.html
- title: Verkehrswesen und Raumplanung
  img: /media/bau/verkehrswesen_raumplanung.jpg
  url: /bau_institut_werkstoffe.html
- title: Baubetrieb
  img: /media/bau/baubetrieb.jpg
  url: /bau_institut_werkstoffe.html
- title: Geodäsie
  img: /media/bau/geodaesie.jpg
  url: /bau_institut_werkstoffe.html

---


{% include intro-text-zwei-spalten.html %}

{% include gallery.html title="Institute" color_scheme="grey" %}

{% include page-teaser-img-left.html pagename="bau-text-seite-1" %}

{% include studiengang-infoimg-right.html %}

{% include team-slider.html color_scheme="grey" title="Professuren" %}

{% include organisationskontakt_bau.html %}


