---
layout: generic
title: Werkstoffe des Bauwesens
name: prototyp
description: 
category: 
tagline: 
hero_image: /media/hero/Leichtbeton2.jpg
hero_title: Werkstoffe des Bauwesens
hero_overline: Institut für
section: BAU
color_scheme: orange
department: werkstoffe

orgkontakt:
- name: christian_thienel
- name: thomas_apel
- name: karin_baechle
breadcrumbs:
- title: Home
  url: bau.html
---

{% include static.html pagename="werkstoffe-homepage-claim" %}


{% include news.html title="Aktuelles" %}

{% include page-teaser-img-left.html pagename="werkstoffe-wir-bilden-aus" %}
{% include page-teaser-img-right.html color_scheme="beige" pagename="werkstoffe-aktuelle-themen" %}

{% include events-listing.html bg-image="/media/werkstoffe/events.jpg"  bg-position="50% 32px" %}






