---
layout: generic
title: 
name: prototyp
description: 
category: 
tagline: 
hero_image: /media/hero/bau_werkstoffe.jpg
hero_title: Werkstoffe des Bauwesens
hero_overline: Institut für
section: BAU
color_scheme: orange
department: UniBwM
gallery:
- title: Werkstoffe des Bauwesens
  img: /media/bau/werkstoffe2.png
  url: bla
- title:
  img: 
  url: 
---


{% include intro-text-zwei-spalten.html %}


{% include gallerie_institute.html color_scheme="grey" %}

{% include page-teaser-img-left.html pagename="bau-text-seite-1" %}


{% include studiengang-infoimg-right.html %}

{% include team-slider.html color_scheme="grey" title="Professuren" %}

{% include organisationskontakt_bau.html %}


