---
layout: generic
title: 
name: prototyp
description: 
category: 
tagline: 
hero_image: /media/hero/Leichtbeton2.jpg
hero_title: Werkstoffe des Bauwesens
hero_overline:
section: BAU
color_scheme: orange
department: bau
gallery:
- title: Hochdynamische Beanspruchung von Beton
  img: /media/bau/werkstoffe2.png
  url: #
- title: Calcinierte Tone in zementgebundenen Systemen
  img: /media/bau/calcinierte_tone.jpg
  url: #
- title: Calcinierte Tone in<br>Sandstein
  img: /media/bau/calciniert_ton_sandstein.jpg
  url: #
- title: Mikrorissbildung in hochfestem Beton
  img: /media/bau/mikrorissbildung.jpg
  url: #
- title: Leichtbeton
  img: /media/bau/leichtbeton.jpg
  url: #
- title: Alternative Betonzusatzstoffe
  img: /media/bau/alt_zusatzstoffe.png
  url: #
orgkontakt:
- name: christian_thienel
- name: thomas_apel
- name: karin_baechle

---


{% include werkstoffe_intro-text-zwei-spalten.html %}


{% include gallery.html color_scheme="grey" title="Forschung" %}


{% include bau_kompetenzen.html %}

{% include team-slider_bau.html color_scheme="grey" title="Professuren" %}

{% include organisationskontakt.html %}


