---
layout: generic
title: 
name: prototyp
description: 
category: 
tagline: 
hero_image: /media/hero/bw2_hero.jpg
hero_title: Betriebswirtschaft
hero_overline: Fakultät
section: BW
color_scheme: orange
department: bw
gallery:
- title: Unternehmensführung
  img: /media/bau/mathematik_bauinformatik.jpg
  url: /bw_institut_orgkomm.html
- title: Ökonomie und Recht
  img: /media/bau/mechanik_baustatik.jpg
  url: /bw_institut_orgkomm.html
- title: Organisationskommunikation
  img: /media/bau/werkstoffe2.png
  url: /bw_institut_orgkomm.html
- title: Journalistik
  img: /media/bau/bauv4_2.jpg
  url: /bw_institut_orgkomm.html
- title: Mathematik und Informatik
  img: /media/bau/mechnaik_grundbau.jpg
  url: /bw_institut_orgkomm.html

orgkontakt:
- name: geralt_siebert
- name: thomas_apel
- name: karin_baechle
---


{% include intro-text-zwei-spalten.html %}

{% include gallery.html title="Institute" color_scheme="gray" %}

{% include page-teaser-img-left.html pagename="bau-studiengang-bwma" color_scheme="light-grey"%}

{% include page-teaser-img-right.html pagename="bau-studiengang-bwma"%}

{% include fulltext-bg-image.html color_scheme="dark-gray" pagename="bw-berufsfeld" %}

{% include team-slider_bw.html color_scheme="gray" title="Professoren" %}

{% include organisationskontakt.html %}

