---
layout: generic
title: 
name: prototyp
description: 
category: 
tagline: 
hero_image: /media/hero/hero_studber.jpg
hero_title: Journalistik
hero_overline: Institut
section: BW
color_scheme: orange
department: bw
gallery:
- title: Social Media Content
  img: /media/bau/werkstoffe2.png
  url: #
- title: Krisenpublikation
  img: /media/bau/calcinierte_tone.jpg
  url: #
- title: Crossmedialer Journalismus
  img: /media/bau/calciniert_ton_sandstein.jpg
  url: #
 - title: Mobilkommunikation
  img: /media/bau/calciniert_ton_sandstein.jpg
  url: #
orgkontakt:
- name: geralt_siebert
- name: thomas_apel
- name: karin_baechle

---


{% include orgkomm_intro-text-zwei-spalten.html %}


{% include gallery.html color_scheme="grey" title="Forschung" %}


{% include team-slider.html color_scheme="grey" title="Professuren" %}

{% include organisationskontakt.html %}


