---
layout: generic
title: Studiengänge
img: media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg
hero_overline: Bauingenieurweisen und Umweltwissenschaften
hero_title: Studiengänge
hero_image: media/hero/bau_studiengang_hero.jpg
section: BW
color_scheme: orange
department: bau
breadcrumbs:
- title: Home
  url: bw.html

---

{% include bau_studies_intro-text-zwei-spalten.html %}

{% include overview.html color_scheme='light-gray' %}

{% include team-2.html %}

{% include image-clickable.html title="Modulstruktur" color_scheme='light-gray' %}

{% include testimonials.html %}

{% include two-column-text.html color_scheme='light-gray' %}


