---
layout: generic
title: Tag der Bundeswehr
name: Tag der Bundeswehr
hero_overline: Aktuelles
hero_title: Tag der Bundeswehr
image_src: /media/studies/studienplan.png
image_heading: Studiengangsaufbau
---
<section id="studies-info" class="">
  <div class="container">
    <div class="row">

      <div class="col-sm-8">
        <div class="blog">
          <div class="blog-item">
            <div class="blog-content">
              <h3>Über 260.000 Besucher erlebten am zweiten Tag der Bundeswehr ihre Streitkräfte zum Anfassen</h3>
              <div class="entry-meta">
                <span>
                  <i class="fa fa-user" aria-hidden="true"></i>
                  <a href="#"> Achim Vogel</a>
                </span>
                <span>
                  <i class="fa fa-folder" aria-hidden="true"></i>
                  <a href="#"> Aktuelles</a>
                </span>
                <span>
                  <i class="fa fa-calendar" aria-hidden="true"></i> 16. Juli 2016
                </span>
              </div>
              <p class="lead">Am 11. Juni hatten von Hohn bis München und Trier bis Schlieben quer durch Deutschland 16 Standorte der Bundeswehr ihre Tore geöffnet. In Erfurt, Bonn, Schlieben und Koblenz kam sie sogar direkt zu den Menschen und präsentierte sich auf den Marktplätzen. Bei sonnigen gut 20 Grad knüpfte man an das Erfolgskonzept von 2015 an und freute sich, 2016 sogar 13.000 Besucher mehr begeistern zu können.</p>
              <!-- <iframe width="100%" height="630" src="https://www.youtube.com/embed/tb0uQ345FqA" frameborder="0" allowfullscreen></iframe> -->
              <div class="img-wrapper">
                <img class="img-responsive" src="/media/content/tag_bw_1_small.jpg">
                <span class="img-desc">Tag der Bundeswehr in Hohn: Die Fliegerkombi sitzt &ndash; bei beiden. (Quelle: Bundeswehr/Falk Bärwald)</span>
              </div>
              <p>So hatten die Menschen am 11.Juni 2016 die Möglichkeit hinter die Kulissen der Bundeswehr zu schauen. „Türen auf, Klappen auf, Luken auf! Schauen Sie sich die Bundeswehr an! Ihre Präsenz hier bei unserem Tag der Bundeswehr ist für uns alle Motivation.“ Mit diesen Worten eröffnete Verteidigungsministerin Ursula von der Leyen den Tag bei ihrem Besuch im sächsischen Frankenberg. Ihre Begrüßungsrede wurde in die anderen 15 Standorte live übertragen.</p>

              <h3>Von A wie A400M bis W wie Wiesel</h3>

              <p>
                Ob Schiffe, Panzer, Flugzeuge oder auch Menschen und Tiere mit ganz besonderen Fähigkeiten &ndash; alles konnten die Besucher nicht nur ansehen, sondern auch erleben und anfassen. Fast 17.000 Gäste staunten im Heeresstandort Munster, während über 30 Fahrzeuge im „Heidesturm“ an ihnen vorbei donnerten und ihr Können demonstrierten. Zur gleichen Zeit zeigte das Kommando Spezialkräfte im schleswig-holsteinischen Hohn ihre Fähigkeiten zur Geiselbefreiung. Und im bayerischen Neuburg, dem kleinsten NATO-Flugplatz Europas, präsentierten sich 21 Luftfahrzeuge aus 6 Nationen in über 5 Stunden Flugbetrieb. In allen Standorten sorgten Bühnenprogramme mit Vorführungen, Interviews und Gesprächen für informative und kurzweilige Unterhaltung. Häufig gefragt waren auch die persönlichen Möglichkeiten beim Arbeitgeber Bundeswehr. Auf diese Fragen konnten überall Karriereberater kompetent und direkt mit ersten Einblicken antworten.
              </p>
              <div class="img-wrapper">
                <img class="img-responsive" src="/media/content/tag_bw_2_small.jpg">
                <span class="img-desc">Großer Andrang vor der Bühne. (Quelle: Bundeswehr/Jane Schmidt)</span>
              </div>

              <h3>Von Ja-Wörtern und Rückkehrern</h3>

              <p>
                Es hatte sich schon letztes Jahr bewährt, dass die Bundeswehr nicht nur in die Kasernen einlud, sie ging in vier Städten auch direkt zu den Menschen auf die Marktplätze.. So haben zum Beispiel in Bonn weit über 20.000 Besucher die Gelegenheit zur Begegnung genutzt. Mehr als 430 Soldaten präsentierten Fahrzeuge, Material und Ausrüstung und die Big Band der Bundeswehr überzeugte die Besucher mit ihrem Können. Und für eins der zwölf Brautpaare, die sich an diesem Tag im Bonner Rathaus das Ja-Wort gaben, sollte es eine besondere Überraschung geben: Auf Wunsch der Braut spielte die Big Band für das frisch getraute Paar den Hochzeitsmarsch.
              </p>

              <p>
                Auch in allen anderen Städten war die Resonanz der Besucher auf das ungewohnte Bild in ihrer Stadt durchweg positiv. Auf dem Domplatz in Erfurt konnten die Besucher in einer Liveübertragung miterleben wie ihr Patenschiff, die Korvette Erfurt, nach 510 Einsatztagen bei „Atalanta“ und „UNIFIL“ mit der „Delta“ Besatzung wieder in ihren Heimathafen Warnemünde einlief.
              </p>

              <h4>Apelle und Beförderungen zum Miterleben</h4>

              <p>
                Doch der 11. Juni 2016 war nicht nur für die Besucher etwas ganz Besonderes: An den Bundeswehruniversitäten in Hamburg und München wurden insgesamt rund 900 studierende Offizieranwärter vor den Augen des interessierten Publikums zu Offizieren befördert. In Frankenberg und Munster feierten darüber hinaus rund 400 Rekruten ihr feierliches Gelöbnis und somit einen der ersten Meilensteine auf ihrem Weg zum komplett ausgebildeten Soldaten.
              </p>
              <div class="img-wrapper">
                <img class="img-responsive" src="/media/content/tag_bw_3_small.jpg">
                <span class="img-desc">Besatzung „Delta“ der Korvette ist zur Medal Parade angetreten. (Quelle: Bundeswehr/Björn Wilke)</span>
              </div>

            </div>
          </div>
        </div>
      </div>

      <aside class="col-sm-4">

        {% include author.html %}

        {% include downloads.html %}
        
        {% include tags.html %}
        
        {% include related-articles.html %}

      </aside>

    </div>
  </div>
</section>
