---
layout: generic
title: DTEC page with slider
name: dtec-landing
category: home
hero_title: DTEC.Bw – Zentrum für Digitalisierung und Technologieforschung
hero_overline: Landingpage DTEC.Bw
slider_section: unibw
department: DTEC

breadcrumbs:
- title: Home
  url: rz.html

gallery:
- title: Space Projekt-Beispiel hier steht später eine Headline
  description: Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
  img: media/dtec/teaser_project_1.png
  url: /dtec-project.html
- title: Ciss Projekt-Beispiel hier steht später eine Headline
  description: Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
  img: media/dtec/teaser_project_2.png
  url: /dtec-project.html
- title: Code Projekt-Beispiel hier steht später eine Headline
  description: Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans.
  img: media/dtec/teaser_project_3.png
  url: /dtec-project.html
--- 


<div class="mosaic-tile-content">
{% include contact-search.html description="Weit hinten, hinter den Wortbergen, fern der Länder Vokalien und Konsonantien leben die Blindtexte. Abgeschieden wohnen sie in Buchstabhausen an der Küste des Semantik, eines großen Sprachozeans. Ein kleines Bächlein namens Duden fließt durch ihren Ort und versorgt sie mit den nötigen Regelialien. Es ist ein paradiesmatisches Land, in dem einem gebratene Satzteile in den Mund fliegen. Nicht einmal von der allmächtigen Interpunktion werden die Blindtexte beherrscht – ein geradezu unorthographisches Leben. Eines Tages aber beschloß eine kleine Zeile Blindtext, ihr Name war Lorem Ipsum, hinaus zu gehen in die weite Grammatik. Der große Oxmox riet ihr davon ab, da es dort wimmele von bösen Kommata, wilden Fragezeichen und hinterhältigen Semikoli, doch das Blindtextchen ließ sich nicht beirren." %}
</div>


<div class="mosaic-tile-content">
{% include gallery-extended.html title="Aktuelle Projekte" color_scheme="light-grey" %}
</div>
