---
layout: generic
title: 7. Unternehmens- und Karriereforum am 14. und 15. Oktober 2016
name: 7. Unternehmens- und Karriereforum am 14. und 15. Oktober 2016
hero_overline: Veranstaltungen
hero_title: 7. Unternehmens- und Karriereforum am 14. und 15. Oktober 2016
---

{% include hero-text.html %}

<section id="studies-info" class="">
  <div class="container">

    <div class="row">

      <div class="col-md-12 col-sm-12">
        <div>
          <p>Das Unternehmens- und Karriereforum ist die nationale Tagung zur beruflichen Orientierung, Karriereförderung und wissenschaftlichen Weiterbildung der Universität der Bundeswehr München. Sie findet 2016 bereits zum 7. Mal statt, dieses Jahr erstmals als zweitägige Veranstaltung. Alumni, Studierende, wissenschaftliche Mitarbeiterinnen und Mitarbeiter sind herzlich eingeladen, sich im Oktober zwei Tage lang intensiv um ihre Karriere zu kümmern.</p>
          <p>Am ersten Tag, <b>Freitag, den 14. Oktober 2016</b>, gestalten im Rahmen des Karriereforums ausgewählte Trainer und Coaches, darunter zahlreiche Alumni, karrierefördernde Veranstaltungen. Sie geben beispielsweise Tipps für den Übergang von der militärischen in die zivile Karriere, berichten über Karrierewege in bestimmten Branchen und bieten Workshops zu Fragen rund um Lebenslauf, Bewerbungsschreiben und Vorstellungsgespräch an. Mit Snacks und Getränken bei einem lockeren Get-together klingt das Karriereforum gesellig aus.</p>
          <p>Der zweite Tag, <b>Samstag, der 15. Oktober 2016</b>, steht im Zeichen des Networkings. Auf dem Unternehmensforum stellen sich namhafte Unternehmen, zum Beispiel ESG, Rohde &amp; Schwarz, Lidl und EY sowie Behörden wie der Bundesnachrichtendienst oder das Deutsche Patent- und Markenamt als Arbeitgeber vor und informieren in Vorträgen und persönlichen Gesprächen über Einstiegs- und Karrieremöglichkeiten. Hinzu kommen Angebote für individuelle Coachings und Bewerbungstrainings sowie Informationen zu Weiterbildungsmöglichkeiten.</p>
          <p>Nutzen Sie die Chance, wertvolle Kontakte für Ihre Karriere zu knüpfen! Wir freuen uns auf Ihr Kommen!</p>
        </div>
      </div>

    </div>
  </div>
</section>

{% include organisationskontakt-2.html %}

{% include logos-slider.html %}

{% include two-column-text.html %}

{% include teaser-3x2.html %}

