---
layout: generic
title: Beispiele Modul Linkboxen
name: rechenzentrum
category: about
hero_image: media/hero/support-rz.jpg
hero_title:
hero_overline: Beispiele für das Modul Linkboxen
color_scheme: orange
breadcrumbs:
- title: Home
  url: rz.html

scats:
- title: Nutzerkonto
  description: Fragen zum Thema Nutzerkonto, RZ-Kennung und Login 
  icon: key
  url: #
- title: E-Mail
  description: Themen und Fragen rund um E-Mail, Mailbox, Kalender usw.
  icon: envelope
  url: rz-support-email
- title: Drucken
  description: Fragen zu den Druckern und der Weiterverarbeitung der Ausdrucke 
  icon: print
  url: #
- title: E-Learning
  description: Hilfe zum Learning-Management-System ILIAS sowie die Zugriffsrechte 
  icon: book
  url: #
- title: Software
  description: Hilfe zu den angebotenen Programmen in den verschiedenen Pools
  icon: gears
  url: #
- title: Cloud-Dienste
  description: TeamDrive, StudiSoft und andere - so verwenden Sie Cloud-Dienste
  icon: cloud-upload
  url: #
- title: Datenablage
  description: Wo speichere ich meine Daten? Hier finden Sie Antworten
  icon: database
  url: #
- title: IT-Sicherheit
  description: Sicherheitseinstellungen für Windows, AntiVirus Software, SSH usw.
  icon: lock
  url: #
- title: Seitenpflege
  description: Fragen zum CMS, Dokumenten-Management (BSCW) und Pflege der FAQs
  icon: edit
  url: #

gallery:
- title: Mathematik und Bauinformatik
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/mathematik_bauinformatik.jpg
  url: /bau_institut_werkstoffe.html
- title: Mechanik und Statik
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/mechanik_baustatik.jpg
  url: /bau_institut_werkstoffe.html
- title: Werkstoffe des Bauwesens
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/werkstoffe2.png
  url: /bau_institut_werkstoffe.html
- title: Konstruktiver Ingenieurbau
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/bauv4_2.jpg
  url: /bau_institut_werkstoffe.html
- title: Bodenmechanik und Grundbau
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/mechnaik_grundbau.jpg
  url: /bau_institut_werkstoffe.html
- title: Wasserwesen
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/wasserwesen.jpg
  url: /bau_institut_werkstoffe.html
- title: Verkehrswesen und Raumplanung
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/verkehrswesen_raumplanung.jpg
  url: /bau_institut_werkstoffe.html
- title: Baubetrieb
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/baubetrieb.jpg
  url: /bau_institut_werkstoffe.html
- title: Geodäsie
  description: Mathematik und Bauinformatik hier kommt noch mehr Text
  img: media/bau/geodaesie.jpg
  url: /bau_professur_geodaesie.html
---


{% include gallery.html title="Institute" color_scheme="uni-grey" %}

{% include gallery-extended.html title="Institute" color_scheme="dark-blue" %}

{% include gallery-extended.html title="Institute" color_scheme="uni-grey" %}

{% include opening-times.html title="Boxen mit Icon, Titel und Text" color_scheme="light-gray" %}

{% include contact-support-details.html title="Infoboxen" %}

{% include rz-support-howtos.html pagename="rz-support-email-howtos" title="Howtos" %}

{% include contact-categories-v2.html title="Kategorien" description="" %}

{% include contact-categories.html title="Kategorien" description="" %}