---
layout: generic
title: Farben Module
name: rechenzentrum
category: about
hero_image: media/hero/support-rz.jpg
hero_title:
hero_overline: Farben Module
color_scheme: 
breadcrumbs:
- title: Home
  url: rz.html

---


<p>Aufmachertext</p>

{% include rz-support-intro.html pagename="rz_teaser_support" color_scheme="white" %}
{% include rz-support-intro.html pagename="rz_teaser_support" color_scheme="uni-grey" %}
{% include rz-support-intro.html pagename="rz_teaser_support" color_scheme="uni-orange" %}
{% include rz-support-intro.html pagename="rz_teaser_support" color_scheme="middle-grey" %}
{% include rz-support-intro.html pagename="rz_teaser_support" color_scheme="light-grey" %}
{% include rz-support-intro.html pagename="rz_teaser_support" color_scheme="dark-blue" %}

<p>Call to action</p>

{% include rz-services-info.html pagename="rz-datenablage-info" color_scheme="white" %}
{% include rz-services-info.html pagename="rz-datenablage-info" color_scheme="uni-grey" %}
{% include rz-services-info.html pagename="rz-datenablage-info" color_scheme="uni-orange" %}
{% include rz-services-info.html pagename="rz-datenablage-info" color_scheme="middle-grey" %}
{% include rz-services-info.html pagename="rz-datenablage-info" color_scheme="light-grey" %}
{% include rz-services-info.html pagename="rz-datenablage-info" color_scheme="dark-blue" %}