---
layout: generic
title: Fak WOW
name: programme
hero_overline: Fakultät für
hero_title: Wirtschafts- und Organisationswissenschaften
hero_image: /media/hero/fak_landing.jpg
section: WOW
color_scheme: blue
---

{% include organisationskontakt.html %}

{% include news.html %}


{% include news-teaser-img-left.html %}

<hr>

{% include news-teaser-img-right.html %}

{% include teaser-3x2.html %}

{% include team-slider.html color_scheme="blue" title="Professuren" %}



{% include logos-slider.html %}
