---
layout: generic
title: Home
name: Home
department: home
slider_section: unibw
category: UniBwM
lang: de
---

{% include content-navigation.html title="Willkommen an der Universität der Bundeswehr München" description="Unsere außergewöhnliche Campusuniversität hat Ihren Angehörigen und Studierenden viel zu bieten. Neben hervorragenden Bedingungen für ein Bachelor- und Masterstudium im Trimestersystem in Kleinstgruppen und exzellenter Forschung, gibt es verschiedenste Freizeitmöglichkeiten und Wohnkomplexe alles auf einem Campus. Menschlichkeit, Freundlichkeit, Hilfsbereitschaft, Sportlichkeit und kurze Wege zeichnen uns aus." %}


{% include news.html title="Aktuelles" color_scheme="dark-blue" %}

{% include page-teaser-img-right.html pagename="tag-der-bundeswehr" %}

{% include page-teaser-img-left.html pagename="unibw-in-new-york" %}


{% include team-2.html %}

{% include events-slider.html %}

{% include video.html video="https://en.syslab.com/download/unibwm-opener-video.mp4" preview="media/video/unibwvideo.png" title="Alternativnutzung der Flight" %}

{% include quick-links.html color_scheme="dark-gray" %}
