---
layout: generic
title: Home
name: Home
department: home
slider_section: unibw
category: UniBwM
lang: de
---


{% include page-teaser-img-right.html pagename="tag-der-bundeswehr" %}

{% include page-teaser-img-left.html pagename="unibw-in-new-york" %}


{% include team-2.html %}

{% include events-slider.html %}

{% include video.html video="https://en.syslab.com/download/unibwm-opener-video.mp4" preview="media/video/unibwvideo.png" title="Alternativnutzung der Flight" %}

{% include quick-links.html color_scheme="dark-gray" %}
