---
layout: generic
name: kommsite
title: Webrelaunch für den Cyber-Raum
hero_image: /media/hero/cyber_7.jpg
hero_title: Webrelaunch für den Cyber-Raum
hero_overline: 
section: Web Relaunch
color_scheme: dark-gray
department: kommsite
breadcrumbs:
- Web Relaunch
deadlines:
- title: Anforderungsworkshops
  icon: fa-file-text
  url: #
  mode: mode-done
- title: Designphase
  icon: fa-paint-brush
  url: #
  mode: mode-done
- title: Prototyp
  icon: fa-picture-o
  url: #
  mode: mode-done
- title: CMS-Anbindung
  icon: fa-wrench
  url: #
  mode: mode-active
- title: Erstellung erster Sites
  icon: fa-edit
  url: #
  mode: mode-inactive
- title: Integration der neuen Suche
  icon: fa-search
  url: #
  mode: mode-inactive
- title: Launch erster Sites
  icon: fa-rocket
  url: #
  mode: mode-inactive
team:
- name: christian_thienel
  role: Projektleiter
- name: achim_vogel
  role: Presse & Kommunikation
- name: ruth_blachnik
  role: Technische Leitung
team-add: kommsite-team-info
accordion:
# - name: kommsite-howto-1
- name: kommsite-howto-2
- name: kommsite-howto-3
---

{% include static.html pagename="kommsite-missionstatement"%}

{% include subscribe-widget.html%}

{% include image.html src="/media/kommsite/feature_cloud.svg" title="Ziele" color_scheme='dark-gray' %}

{% include timeline.html module_title="Projektplan"%}

{% include events-listing.html bg-image="/media/hero/cyber_7.jpg" bg-position="10% 10%" %}

{% include accordion.html title="So funktioniert's" description="Wie funktioniert das CMS der neuen UniBW Website? Wo muss ich meine Inhalte einpflegen und wie kommen sie auf die einzelnen Seiten? Wer erklärt mir das Konzept der Modulseiten und Module, die die Inhalte darstellen? Klicken Sie auf die einzelnen Bilder, um mehr über die Funktionsweise des neuen CMS zu erfahren. Tutorials, Videos und HowTos zeigen erste Schritte im neuen CMS." %}

{% include team-plus.html title="Das Team" color_scheme="dark-gray"  %}