---
layout: generic
title: Kommunikationswebsite
description: 
category: 
tagline: 
hero_image: /media/hero/kommsite_1.png
hero_title: UniBW - Kommunikationswebsite
hero_overline: Bleiben Sie auf dem Laufenden
section: Prototyp
color_scheme: orange
department: Information
---


{% include news-teaser-img-right.html %}


{% include team-2.html %}

<!--

{% include gallery.html title="Institute" color_scheme="gray" %}

{% include page-teaser-img-left.html pagename="bau-studiengang-bwma" color_scheme="light-grey"%}

{% include page-teaser-img-right.html pagename="bau-studiengang-bwma"%}

{% include fulltext-bg-image.html color_scheme="dark-gray" pagename="bw-berufsfeld" %}

{% include team-slider_bw.html color_scheme="gray" title="Professoren" %}

{% include organisationskontakt.html %}

-->
