---
layout: generic
title: Über das RZ
name: rechenzentrum
category: about
hero_image: media/hero/DSC9112_Eingang_misch.jpg
hero_title:
hero_overline: Das Rechenzentrum, der zentrale IT-Dienstleister auf dem Campus der Universität der Bundeswehr München
department: Rechenzentrum
image_heading: Leitung und Organisation
color_scheme: orange
breadcrumbs:
- title: Home
  url: rz.html
---

{% include rz-news.html color_scheme="xlight-grey" %}

{% include opening-times.html title="Unsere Öffnungszeiten:" color_scheme="light-gray" %}

{% include page-teaser-img-right.html pagename="rz_pools" color_scheme='dark-blue' %}

{% include organisationskontakt-rz.html %}

{% include image.html src="media/rz/organigramm.png" title="Leitung und Organisation" color_scheme='light-grey' %}

{% include page-teaser-img-left.html pagename="rz_regelungen" color_scheme="light-gray" %}
