---
layout: generic
title: Rechenzentrum
name: rechenzentrum
category: about
hero_image: /media/hero/rz.jpg
hero_title: Rechenzentrum
hero_overline: Das Rechenzentrum, der zentrale IT-Dienstleister auf dem Campus der Universität der Bundeswehr München
department: Rechenzentrum
image_heading: Leitung und Organisation
breadcrumb:
- Rechenzentrum
- Über
---

{% include image.html src="/media/rz/rz-organigramm.svg" title="Leitung und Organisation" color_scheme='light-gray' %}

{% include opening-times.html title="Unsere Öffnungszeiten" color_scheme="light-gray" %}

{% include accordion-img.html title="Betriebsordnung und Regelungen" color_scheme="light-gray" %}
