---
layout: generic
title: Über das RZ
name: rechenzentrum
category: about
hero_image: media/hero/DSC9112_Eingang_misch.jpg
hero_title:
hero_overline: Das Rechenzentrum, der zentrale IT-Dienstleister auf dem Campus der Universität der Bundeswehr München
department: Rechenzentrum
image_heading: Leitung und Organisation
color_scheme: orange
breadcrumbs:
- title: Home
  url: rz.html
---



{% include opening-times.html title="Unsere Öffnungszeiten:" color_scheme="light-gray" %}

{% include accordion-img.html title="Betriebsordnung und Regelungen" color_scheme="light-gray" %}

{% include image.html src="media/rz/rz-organigramm.svg" title="Leitung und Organisation" color_scheme='light-gray' %}

{% include flip-cards.html title="Betriebsordnung und Regelungen" color_scheme="light-gray" %}
