---
layout: generic
title: Hilfestellungen und Unterstützung
name: rechenzentrum
category: help
hero_image: /media/hero/IMG_1205_misch.jpg
hero_title: Hilfe & Support
hero_overline: Hilfestellungen und Unterstützungsleistungen
department: Rechenzentrum

breadcrumbs:
- title: Home
  url: rz.html
gallery:
- title: Dienstag - Notebook
  img: /media/rz/notebook.JPG
  url: /rz.html
- title: Dienstag - HISinOne
  img: /media/rz/hisinone.JPG
  url: /rz.html
- title: Allgemein per Ticket zum Termin
  img: /media/rz/sprechstunde.JPG
  url: /rz.html
---


{% include contact-details.html title="Kontaktdaten" %}

{% include gallery.html title="Themen Sprechstunden" color_scheme="gray" %}

{% include rz-help-info-img-right.html  color_scheme="light-gray" %}
