---
layout: generic
title: Sophos AntiVirus
name: rechenzentrum
category: dienstleistungen
hero_title: Sophos AntiVirus
hero_image: media/hero/Schloss1.jpg
department: Rechenzentrum
breadcrumbs:
- title: Home
  url: rz.html
- title: Dienste & Leistungen
  url: rz-services.html
---

{% include rz-services-intro.html pagename="rz-sophos-intro" %}

{% include rz-services-info.html pagename="rz-sophos-info" %}

{% include rz-services-hilfe.html pagename="rz-sophos-hilfe" %}

{% include rz-services-more.html pagename="rz-sophos-more" %}
