---
layout: generic
title: Hilfestellungen und Unterstützung
name: rechenzentrum
category: help
hero_image: media/hero/support-rz.jpg
hero_title: Hilfe & Support
hero_overline: Hilfestellungen und Unterstützungsleistungen
department: Rechenzentrum

breadcrumbs:
- title: Home
  url: rz.html

tutorials:
- title: Login mit RZ-Kennung
  description: So melde ich mich mit meiner RZ-Kennung bei den Diensten des RZ an
  icon: key
  img: media/rz/Tastatur.jpg
  url: #
- title: Mein PC am Campus
  description: So richte ich meinen PC für den Zugang zum Hochschuldatennetz ein
  icon: desktop
  img: media/rz/Maus2.jpg
  url: #
- title: Drucken
  description: So richte ich einen Drucker oder Plotter auf meinem PC ein
  icon: print
  img: media/rz/plotter.jpg
  url: #

scats:
- title: Nutzerkonto
  description: Fragen zum Thema Nutzerkonto, RZ-Kennung und Login 
  icon: key
  url: #
- title: E-Mail
  description: Themen und Fragen rund um E-Mail, Mailbox, Kalender usw.
  icon: envelope
  url: #
- title: Drucken
  description: Fragen zu den Druckern und der Weiterverarbeitung der Ausdrucke 
  icon: print
  url: #
- title: E-Learning
  description: Hilfe zum Learning-Management-System ILIAS sowie die Zugriffsrechte 
  icon: book
  url: #
- title: Software
  description: Hilfe zu den angebotenen Programmen in den verschiedenen Pools
  icon: gears
  url: #
- title: Cloud-Dienste
  description: TeamDrive, StudiSoft und andere - so verwenden Sie Cloud-Dienste
  icon: cloud-upload
  url: #
- title: Datenablage
  description: Wo speichere ich meine Daten? Hier finden Sie Antworten
  icon: database
  url: #
- title: IT-Sicherheit
  description: Sicherheitseinstellungen für Windows, AntiVirus Software, SSH usw.
  icon: lock
  url: #
- title: Seitenpflege
  description: Fragen zum CMS, Dokumenten-Management (BSCW) und Pflege der FAQs
  icon: edit
  url: #
---

{% include contact-search.html title="Wie können wir Ihnen helfen?" %}

{% include contact-getting-started.html title="Neu am Campus?" description="Sie sind neu hier? Wir helfen Ihnen bei Ihren ersten Schritten im Datendschungel des Campus" %}

{% include contact-categories.html title="Kategorien" description="" %}

{% include contact-chat.html title="Wanna Chat?" description="Ihr Problem ist komplizierter? Sprechen Sie persönlich mit und in unserem Live-Chat!" %}

{% include contact-support-details.html title="Keine Lösung gefunden?" %}


