---
layout: generic
title: Sync&Share mit TeamDrive
name: rechenzentrum
category: dienstleistungen
hero_title: Sync&Share mit TeamDrive
hero_image: media/hero/Blachnik_Lehre-Forschung3_VERWENDET.jpg
department: Rechenzentrum
breadcrumbs:
- title: Home
  url: rz.html
- title: Dienste & Leistungen
  url: rz-services.html
---

{% include rz-services-intro.html pagename="rz-syncshare-intro" %}

{% include rz-services-info.html pagename="rz-syncshare-info" %}

{% include rz-services-hilfe.html pagename="rz-syncshare-hilfe" %}

{% include rz-services-more.html pagename="rz-syncshare-more" %}
