---
layout: generic
title: Das Rechenzentrum
name: rechenzentrum
hero_image: media/hero/rz.jpg
hero_title: Das Rechenzentrum
hero_overline: Der zentrale IT-Dienstleister auf dem Campus der Universität der Bundeswehr München
department: Rechenzentrum
breadcrumbs:
- title: Home
  url: rz.html
gallery:
- title: Studentenjahrgang 2017
  img: media/rz/einschleusung_rz.JPG
  url: /rz.html
- title: Ihr Anliegen - unser Ticket - das ist ein sehr langer Titel, der abgeschnitten werden sollte.
  img: media/rz/regelungen.JPG
  url: /rz.html
- title: Alle Jahre wieder...
  img: media/rz/kalender.JPG
  url: /rz.html
downloads:
- tab: Allgemein
  title: Antrag
  url: antrag
- tab: Allgemein
  title: Formular
  url: formular
- tab: Allgemein
  title: Bedingungen
  url: bedingungen
- tab: Spezielles
- tab: Besonderes
---

{% include gallery.html title="Aktuelle Themen" description="Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..." color_scheme="light-grey" %}

{% include page-teaser-img-right.html pagename="rz_einfuehrung_exchange"  %}
{% include page-teaser-video-left.html pagename="rz_video"  %}

{% include status-grid.html title="Bitte beachten" dataset="rz_notice" color_scheme="light-gray" %}

{% include downloads.html title="Fullsize downloads" description="Für den Einsatz auf Modulseiten" color_scheme="light-gray" fullsize=true %}

{% include downloads.html title="Content page downloads" description="Für den Einsatz auf Inhaltsseiten" color_scheme="light-gray" fullsize=false %}

{% include video.html video="https://en.syslab.com/download/RZ-Drone-Video.mp4" preview="media/video/rz.png" %}

