---
layout: generic
title: Das Rechenzentrum
name: rechenzentrum
hero_image: media/hero/rz.jpg
hero_title: Das Rechenzentrum
hero_overline: Der zentrale IT-Dienstleister auf dem Campus der Universität der Bundeswehr München
department: Rechenzentrum
breadcrumbs:
- title: Home
  url: rz.html
news:
- title: Info
  url: 
  icon: lightbulb-o
  description: Das Rechenzentrum hat eine neue Suchmaschine!
- title: Störungen
  url: "http://www.syslab.com"
  icon: flash
  description: Drucken ist derzeit nicht möglich - Papierstau!
- title: Neue Öffnungszeiten
  url: "http://www.syslab.com"
  icon: clock-o
  description: "07:30 - 17:30 Uhr   Mo - Do<br />
07:30 - 15:30 Uhr   Freitag"
---

{% include static.html pagename="rz-missionstatement"%}

{% include rz-news.html color_scheme="xlight-grey" %}

{% include rz-info.html color_scheme="light-grey" %}

{% include page-teaser-img-right.html pagename="rz_teaser_support" showcontent=true color_scheme="dark-blue" %}
{% include page-teaser-img-left.html pagename="rz_teaser_dienste" showcontent=true color_scheme="light-grey" %}

{% include rz-contact-details.html title="Öffnungszeiten und Kontakt" %}

{% include rz-quicklinks.html title="Öffnungszeiten und Kontakt" %}