---
layout: generic
title: Das Rechenzentrum
name: rechenzentrum
hero_image: media/hero/rz.jpg
hero_title: Das Rechenzentrum
hero_overline: Der zentrale IT-Dienstleister auf dem Campus der Universität der Bundeswehr München
department: Rechenzentrum
breadcrumbs:
- title: Home
  url: rz.html
gallery:
- title: Studentenjahrgang 2017
  img: media/rz/einschleusung_rz.JPG
  url: /rz.html
- title: Ihr Anliegen - unser Ticket
  img: media/rz/regelungen.JPG
  url: /rz.html
- title: Alle Jahre wieder...
  img: media/rz/kalender.JPG
  url: /rz.html
---

{% include gallery.html title="Aktuelle Themen" color_scheme="gray" %}

{% include rz-news-teaser-img-right.html image="media/rz/exchange.jpg" %}

{% include status-grid.html title="Bitte beachten" dataset="rz_notice" color_scheme="light-gray" %}


{% include video.html video="https://en.syslab.com/download/RZ-Drone-Video.mp4" preview="media/video/rz.png" %}

