---
layout: generic
title: Übersicht
name: programme
hero_overline: 
hero_title: Studierendenbereich
hero_image: media/hero/hero_studber.jpg
section:
color_scheme: orange
department: UniBwM
breadcrumbs:
- studber
- Übersicht
breadcrumbs:
- title: Home
  url: studber.html
gallery:
- title: Der Stab des Studierendenbereichs Hier finden Sie alle Führungsgrundgebiete, sowie relevante externe Dienststellen.
  img: media/studber/wappen_stab.jpg
  url: #
- title: Der Studierendenfachbereich A umfasst die Studiengänge Luft- und Raumfahrttechnik, Maschinenbau (FH) und Elektrotechnik und technische Informatik (FH).
  img: media/studber/wappen_studber_a.png
  url: 
- title: Der Studierendenfachbereich B umfasst die Studiengänge Informatik, Wirtschaftsinformatik, Mathematical Engineering, Bauingenieurwesen und Elektrotechnik.
  img: media/studber/wappen_studber_b.jpg
  url: 
- title: Der Studierendenfachbereich C umfasst die Studiengänge Humanwissenschaften, Sozialwissenschaften und Sportwissenschaften.
  img: media/studber/wappen_studber_c.jpg
  url: 
- title: Der Studierendenfachbereich D umfasst die Studiengänge Wirtschafts- und Organisationswissenschaften, Management und Medien (FH).
  img: media/studber/wappen_studber_d.png
  url: 
- title: Der Studierendenfachbereich Aero umfasst den in 2015 neu eingeführte Studiengang für Piloten, Aeronautical Engeneering.
  img: media/studber/wappen_aero.jpg
  url: 
---

{% include studber-info-img-left.html %}


{% include gallery.html title="Studierendenfachbereiche" description="Der Stab Studierendenbereich und die Studierendenfachbereiche stellen sich vor" color_scheme="grey" %}


{% include news.html title="Aktuelle Nachrichten" %}


{% include news-teaser-img-left.html %}

<hr>

{% include news-teaser-img-right.html %}

{% include teaser-3x2.html %}







