---
layout: generic
title: studber
name: programme
hero_overline: 
hero_title: Studierendenbereich
hero_image: /media/hero/hero_studber.jpg
section:
color_scheme: orange
department: UniBwM
breadcrumbs:
- studber
- Übersicht
---

{% include organisationskontakt.html %}

{% include news.html title="Aktuelle Nachrichten" %}


{% include news-teaser-img-left.html %}

<hr>

{% include news-teaser-img-right.html %}

{% include teaser-3x2.html %}

{% include team-slider.html color_scheme="blue" title="Professuren" %}

{% include logos-slider.html %}

{% include theta.html %}

