---
layout: generic
title: Studium
name: Home
hero_overline: Bachelor of Science (B.Sc.) in
hero_title: Wirtschafts- und Organisationswissenschaften
section: WOW
color_scheme: blue
department: UniBwM
breadcrumbs:
- WOW
- B. Sc. Wirtschafts- und Organisationswissenschaften
---


{% include news-teaser-img-left.html %}

{% include overview.html color_scheme='light-gray' %}

{% include team-2.html %}

{% include image-clickable.html title="Modulstruktur" color_scheme='light-gray' %}

{% include testimonials.html %}

{% include two-column-text.html color_scheme='light-gray' %}
