---
layout: generic
title: Universitätsbibliothek
name: prototyp
description: 
category: 
tagline: 
hero_image: media/hero/hero_ub.jpg
hero_title: Universitätsbibliothek
hero_overline: Fakultät
section: Prototyp
color_scheme: gray
department: ub
section: UB
gallery:
- title: Studium
  img: media/ub/ub_buchstapel.jpg
  url: /ub.html
- title: Wissenschaft und Lehre
  img: media/ub/ub_regale.jpg
  url: /ub.html
- title: Schule
  img: media/ub/ub_lehrbuecher.jpg
  url: /ub.html
- title: Externe
  img: media/ub/ub_zeitschriften.jpg
  url: /ub.html
orgkontakt:
- name: christian_thienel
- name: christian_thienel
- name: christian_thienel
breadcrumbs:
- title: Home
  url: ub.html
---




{% include page-teaser-img-left.html pagename="aktuelles_ub_science" %}

{% include gallery.html title="Spezielle Einstiege" color_scheme="light-grey" sm="6" md="3" %}






{% include organisationskontakt.html %}


