---
layout: generic
title: Das Institut
name: prototyp
description: 
category: institut
tagline: 
hero_image: media/werkstoffe/institut.jpg
hero_title: Das Institut
hero_overline: Werkstoffe des Bauwesens
section: BAU
color_scheme: orange
department: werkstoffe
breadcrumbs:
- title: Home
  url: bau.html
- title: Werkstoffe
  url: /bau_institut_werkstoffe.html

---

{% include business-card.html title="Institutsleitung" people=site.data.werkstoffe_leitung %}

{% include business-card.html title="Mitarbeiter" people=site.data.werkstoffe_mitarbeiter %}

{% include business-card.html title="Lehrbeauftragte" people=site.data.werkstoffe_lehrbeauftragte %}
