---
layout: generic
title: Mitarbeiter
name: prototyp
description: 
category: 
tagline: 
hero_image: /media/werkstoffe/institut_mitarbeiter.jpg
hero_title: Institutsmitarbeiter
hero_overline: Werkstoffe des Bauwesens
section: BAU
color_scheme: orange
department: werkstoffe
breadcrumbs:
- title: Home
  url: bau.html
- title: Werkstoffe
  url: /bau_institut_werkstoffe.html
- title: Institut
  url: werkstoffe_institut.html
---

{% include business-card.html title="Institutsleitung" people=site.data.werkstoffe_leitung %}

{% include business-card.html title="Mitarbeiter" people=site.data.werkstoffe_mitarbeiter %}

{% include business-card.html title="Lehrbeauftragte" people=site.data.werkstoffe_lehrbeauftragte %}
