---
layout: generic
title: Werkstoffe
name: werkstoffe
hero_overline: Institut für
hero_title: Werkstoffe
hero_image: /media/hero/fak_landing.jpg
section: BAU
color_scheme: blue
department: UniBwM
breadcrumbs:
- BAU
- Werkstoffe
---

{% include organisationskontakt.html %}

{% include news.html title="Aktuelle Nachrichten" %}


{% include news-teaser-img-left.html %}

<hr>

{% include news-teaser-img-right.html %}

{% include teaser-3x2.html %}

{% include team-slider.html color_scheme="blue" title="Professuren" %}

{% include logos-slider.html %}

{% include theta.html %}

