  <p id="athene">
      <a href="{{ site.baseurl }}./index.html">Universität der Bundeswehr München</a>
  </p>
  <div id="secondary-navigation" class="top-dropdown-outer">
    <nav>
      <h5 class="sr-only">Sprachmenü</h5>
      <ul id="language-menu" class="list-inline">
        <li>
          <a href="/dtec-leichtesprache.html"><i class="fa fa-book"></i> <span class="hidden-md hidden-sm hidden-xs">Leichte Sprache</span></a>
          </li><li>
          <a href="/dtec-gbs.html"><i class="fa fa-sign-language"></i> <span class="hidden-md hidden-sm hidden-xs">Gebärdensprache</span></a>
          </li>
          <li>
          <a href="#" class="language-selector">en</a>
        </li>
      </ul>
    </nav>
    <nav class="secondary">
      <a class="" href="#">Intern</a>
      <i class="fa fa-search top-search-box has-dropdown font-13"><span class="sr-only">Suche</span></i>
      <div class="dropdown search-form-wrapper">
        <form method="get" action="#" class="mt-10">
          <label for="searchinput" class="sr-only">Sucheingabe:</label>
          <div class="row">
            <div class="col-xs-9">
              <input placeholder="Suchbegriff eingeben" id="searchinput" name="SearchableText" type="text">
            </div>
            <div class="col-xs-3">
              <button class="search" name="submit" value="" type="submit"><span class="sr-only">Suche</span><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>
      </div>
    </nav>
  </div>
  <!-- Navigation -->

  <details
    class="
        main_navigation
        main_navigation__wrapper
        pat-details-navigation
        tw:p-4
        tw:pr-0
        tw:text-2xl
        tw:absolute
        tw:@lg:pr-4
        @lg:text-auto
        @max-lg:dialog--full
        tw:@lg:sticky
        tw:@lg:top-8
        tw:z-100
    "
    data-pat-details-navigation="
        breakpoint: 576;
    "
  >
    <summary
      class="
          tw:fixed
          tw:top-4
          almost-right
          tw:@lg:hidden
      "
      title="main navigation"
      i18n:attributes="title"
    >
      <svg class="
               tw:w-8
               tw:h-8
               tw:m-2
               tw:p-2
               tw:rounded-full
               tw:bg-white
               tw:text-black
           "
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
      >
        <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </summary>

    <nav
      id="main_navigation"
      class="
          tw:font-bold
          pat-inject
      "
    >

      {% for item in site.data.navigation %}
        {% if item.name == page.department %}
          {% assign section = item %}
        {% endif %}
      {% endfor %}

      <ul class="
            pat-navigationmarker
            tw:flex
            tw:flex-col
            tw:@lg:flex-row
          "
          data-pat-navigationmarker="
              parent-selector: .pat-navigationmarker details, .pat-navigationmarker li;
          "
      >
        <li>
          <a class="tw:p-4" id="site-{{ page.department }}" href="{{ site.baseurl }}{{ section.url }}" class="site-logo site-{{ page.department }}">{{ section.title }}</a>
        </li>


        {% for item in section.items %}
        <li>
          {% if item.children %}
            <details class="tw:relative" name="submenu">
                <summary class="
                    tw:flex
                    tw:items-center
                    tw:gap-2
                    state-{review_state}"
                ">
              {{ item.title }}
                  <span class="marker"‌>🢂</span>
                </summary>
                <ul class="
                  tw:@lg:absolute
                  tw:@lg:top-16
                  tw:@lg:left-0
                  tw:@lg:ml-0

                  tw:@lg:bg-white
                ">
                  <li>
                    <a class="tw:p-4" href="{{ site.baseurl }}{{ item.url }}" class="">
                      {{ item.title }}
                    </a>
                  </li>
                  {% for subitem in item.children %}
                    <li>
                      <a class="tw:p-4" href="{{ site.baseurl }}{{ subitem.url }}" class="">
                        {{ subitem.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
            </details>
          {% else %}
            <a class="tw:p-4" href="{{ site.baseurl }}{{ item.url }}" class="">{title}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </nav>
  </details>
