  <!-- Navigation -->
  <nav id="menuzord" class="menuzord pull-left flip menuzord-responsive">
  {% for item in site.data.navigation %}
    {% if item.name == page.department %}
      {% assign section = item %}
    {% endif %}
  {% endfor %}
  
    <ul class="menuzord-menu">
        <li>
            <a id="site-{{ page.department }}" href="{{ section.url }}" class="site-logo site-{{ page.department }}" href="#home">{{ section.title }}</a>
        </li>
        {% for item in section.items %}
        <li class="{% if page.category == item.id %}active{% endif %}">
            <a href="{{ item.url }}"> {{ item.title }} </a>
            {% if item.children %}
            <ul class="dropdown">
              
              {% for subitem in item.children %}
              <li>
                <a href=" {{ subitem.url }}"> {{ subitem.title }} </a>
                  {% if subitem.children %}
                  <ul class="dropdown">
                    
                    {% for subsubitem in subitem.children %}
                    <li><a href=" {{ subsubitem.url }}"> {{ subsubitem.title }} </a></li>
                    {% endfor %}                      
                  </ul>
                  {% endif %}

              </li>
              {% endfor %}                      
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
  </nav>
  <p id="athene">
      <a href="/">Universität der Bundeswehr München</a>
  </p>
