  <p id="athene">
      <a href="{{ site.baseurl }}./index.html">Universität der Bundeswehr München</a>
  </p>
   <div id="secondary-navigation">
    <nav aria-label="Sprachmenü">
      <ul id="language-menu" class="list-inline">
        <li>
          <a href="/dtec-leichtesprache.html" aria-label="Leichte Sprache"><i class="fa fa-book" aria-hidden="true"></i> <span class="hidden-lg hidden-md hidden-sm hidden-xs">Leichte Sprache</span></a>
          </li><li>
          <a href="/dtec-gbs.html" aria-label="Gebärdensprache"><i class="fa fa-sign-language" aria-hidden="true"></i> <span class="hidden-lg hidden-md hidden-sm hidden-xs">Gebärdensprache</span></a>
          </li>
          <li><a href="#" class="language-selector">en</a> </li>
      </ul>
    </nav>
    <nav aria-label="Werkzeug Navigation">
      <ul id="tools-menu" class="list-inline">
        <li><a href="/home/search" aria-label="Suche"><i class="fa fa-search font-13" aria-hidden="true"></i><span class="sr-only">Suche</span></a></li>
        <li><a class="" href="#">Intern</a></li>
      </ul>
    </nav>
  </div>
  <!-- Navigation -->

  <details
    class="
        main_navigation
        main_navigation__wrapper
        pat-details-navigation
        tw:absolute
        @lg:text-auto
        @max-lg:dialog--full
        tw:@lg:sticky
        tw:z-100
    "
    data-pat-details-navigation="
        breakpoint: 576;
    "
  >
    <summary
      class="
          hamburger
          tw:fixed
          tw:top-7
          almost-right
      "
      title="main navigation"
    >
      <svg class="
               tw:w-8
               tw:h-8
               tw:m-2
               tw:p-2
               tw:rounded-full
               tw:bg-white
           "
           xmlns="http://www.w3.org/2000/svg"
           viewBox="0 0 24 24"
      >
        <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
      </svg>
    </summary>

    <nav
      id="main_navigation"
      class="
          tw:font-bold
          pat-inject
      "
    >

      {% for item in site.data.navigation %}
        {% if item.name == page.department %}
          {% assign section = item %}
        {% endif %}
      {% endfor %}

      <ul class="
            pat-navigationmarker
            tw:flex
            tw:flex-col
            tw:@lg:flex-row
            tw:flex-wrap
          "
          data-pat-navigationmarker="
              parent-selector: .pat-navigationmarker details, .pat-navigationmarker li;
          "
      >
        <!-- example portal home link with logo -->
        <li class="subsite-home tw:flex">
          <a id="site-{{ page.department }}" href="{{ site.baseurl }}{{ section.url }}" class="hidden-sm hidden-xs site-logo" style="width: 47.12142857142857px; background-image: url(&quot;https://unibw.de/rz/@@images/1e75e946-4cfc-4629-8232-feab66d8a7a4.png&quot;)">&nbsp;</a>
          <!--a id="site-{{ page.department }}" href="{{ site.baseurl }}{{ section.url }}" class="hidden-sm hidden-xs site-logo site-{{ page.department }}" title="Subsite Home">Subsite Home</a-->
          <a href="{{ site.baseurl }}{{ section.url }}" class="hidden-lg hidden-md">Subsite Home</a>
        </li>

        <!-- example portal home link with text -->
        <!--li class="subsite-home tw:flex">
          <a href="{{ site.baseurl }}{{ section.url }}" title="Subsite Home">Portal Home</a>
        </li-->


        {% for item in section.items %}
        <li class="tw:flex">
          {% if item.children %}
            <details class="tw:relative" name="submenu">
                <summary class="
                    tw:flex
                    tw:items-center
                    tw:gap-2
                    state-{review_state}"
                ">
              {{ item.title }}
                  <span class="marker">
                    <!--svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="tw:size-6">
                      <path d="M13.5 4.5 21 12m0 0-7.5 7.5M21 12H3" />
                    </svg-->
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M4 2L8 6L4 10" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  </span>
                </summary>
                <ul class="
                  tw:@lg:absolute
                  tw:@lg:top-10
                  tw:@lg:-left-4
                  tw:@lg:ml-0
                  tw:@lg:bg-white
                ">
                  {% for subitem in item.children %}
                    <li>
                      <a class="tw:p-4" href="{{ site.baseurl }}{{ subitem.url }}" class="">
                        {{ subitem.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
            </details>
          {% else %}
            <a href="{{ site.baseurl }}{{ item.url }}" class="">{{ item.title }}</a>
          {% endif %}
        </li>
        {% endfor %}
      </ul>

    </nav>
  </details>
