<section class="accordion-img scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">{{include.title}}</h2>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div id="accordion1" class="panel-group accordion">
          <div class="panel">
            <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span>Datennetz- und Rechnernutzung</a> </div>
            <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
              <div class="panel-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
              </div>
            </div>
          </div>
          <div class="panel">
            <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="" aria-expanded="true"> <span class="open-sub"></span> Betriebsregelungen am RZ</a> </div>
            <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="true">
              <div class="panel-content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore impedit quae repellendus provident dolor iure poss imusven am aliquam. Officiis totam ea laborum deser unt vonsess.  iure poss imusven am aliquam</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="{{ site.baseurl }}media/rz/pcpool.jpg" />
      </div>
    </div>
  </div>
</section>
