<section class="scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">Kreativ und konstruktiv die Zukunft gestalten</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">

        <h3>Eine größere Zukunft gestalten</h3>
        <p>Bauingenieure verändern die Welt. Sie beeinflssen unser Leben stärker als viele andere Berufe.</p>

        


      </div>
      <div class="col-md-6 ">
        <h3>Vielschichtiges Studium</h3>
        <p>Der Strukturwandel in Gesellschaft und Wirtschaft hat der Kerntätigkeite des Bauingenieurs viele neue Aspekte hinzugefügt: vom Lebenszyklus kompletter Gebäudeanlagen, von der Finanzierung bis hin zum Facility Management.</p>


        



      </div>
    </div>
  </div>
</section>
