<section class="scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">Kreativ und konstruktiv die Zukunft gestalten</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">

        <h3>Eine größere Zukunft gestalten</h3>
        <p>Über die letzten zwei Jahrhunderte war die Entwicklung des Bauingenieurwesens und der Umweltwissenschaft eng mit dem Fortschritt der Natur- und Umweltwissenschaften verknüpft. An die Stelle des traditionell handwerklich ausgebildeten Baumeisters sind die unterschiedlich profilierten, wissenschaftlich geprägten Berufsbilder des Bauingenieurs getreten. Moderne Baustoffe, Tragwerke, Planungs- und Bauprozesse und Umwelteinflüsse sind heute vor der Bauausführung zu analysieren, zu modellieren und zu simulieren und auf dieser Grundlage rational zu beurteilen. Das Bauingenieurwesen steht in enger Beziehung zur Architektur und Raumplanung, zu den Naturwissenschaften und der Mathematik sowie zur Informatik.</p>

      </div>
      <div class="col-md-6 ">
        <h3>Vielschichtiges Studium</h3>
        <p>Der Studiengang Bauingenieurwesen und Umweltwissenschaften wendet sich an junge Menschen, die ein Interesse an bautechnischen, baubetrieblichen, verfahrens- und umwelttechnischen Zusammenhängen haben. Ein besonderes Kennzeichen des Studiengangs ist, dass die Integration betriebswirtschaftlicher, ökologischer, juristischer und methodischer Fachkenntnisse im Hinblick auf die Vermittlung einer Problemlösungsfähigkeit für ingenieurwissenschaftliche Aufgabenstellungen in der Bundeswehr sowie in privaten Unternehmen und im öffentlichen Bereich vermittelt wird. Zum anderen wird ihnen durch anwendungsorientierte Veranstaltungen die Fähigkeit vermittelt, dieses Wissen aus den unterschiedlichen Disziplinen und Bereichen integrieren und auf konkrete Ingenieur- und Umweltschutzproblemstellungen anzuwenden.</p>

      </div>
    </div>
  </div>
</section>
