
<section class="akkordeon scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="module-title line-bottom">Kompetenzen</h2>
        <p class="description">Im Rahmen seiner Lehr- und Forschungstätigkeiten verfügt das Institut für Werkstoffe des Bauwesens über verschiedene Labore. Hierzu gehören das Chemielabor, das Bindemittellabor, das Betonlabor sowie das Labor für Strukturanalyse. Mit dem Ziel einer praxisbezogenen Ausbildung finden in den Laboren auch vielfältige Lehrveranstaltungen unter aktiver Beteiligung der Studenten statt.</p>
        <h3>Unsere Möglichkeiten:</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">


		<div class="panel-group toggle">
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle11" class=""><span class="open-sub"></span>Chemische und mineralogische Analyse</a>
		      </div>
		    </div>
		    <div id="toggle11" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<!-- Document content -->
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="#">Chemielabor</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="{{ site.baseurl }}werkstoffe-roentgendiffraktometer.html">Röntgendiffraktometrie</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Differentialthermoanalyse</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Infrarotspektroskopie</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Gaschromatografie</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Lösungsmitteldetektion</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Photometrie</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Bestimmung des Chloridmigrationskoeffizienten (RCM)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Titration</a></li>
				</ul>
		      	<!-- / Document content -->
		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle12"><span class="open-sub"></span>Probekörperherstellung</a>
		      </div>
		    </div>
		    <div id="toggle12" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->

		      	<p>Zur Probekörperherstellung ist unser Betonlabor mit Zwangsmischern verschiedener Kapazitäten sowie Messinstrumentarien für Frischbetonuntersuchungen nach DIN EN 12350 ausgestattet.</p>

				<p>Neben der Durchführung von Praktika sowie der Nutzung für Abschlussarbeiten im Rahmen des Studiums werden Frischbetonuntersuchungen für Industrie- und Forschungsvorhaben durchgeführt sowie Festbetonprobekörper hergestellt.</p>
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="#">Zwangsmischer</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Betonsäge</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Schleifmaschine</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Autoklav</a></li>
				</ul>
		      	<!-- /Document content -->

		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle13"><span class="open-sub"></span>Festkörperuntersuchungen</a>
		      </div>
		    </div>
		    <div id="toggle13" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="#">Druckprüfmaschine BPES (5000kN)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Druckprüfmaschine UEDE (200kN)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Druckprüfmaschine Alpha (3000kN)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Universalprüfmaschine Inspect table blue (5kN)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Universalprüfmaschine Inspect table (50kN)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">WU-Prüfstand</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Zeitstandprüfmaschine</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Ultraschallmessgerät</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Klimatruhe (CDF/CIF Frosttest)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Klimaprüfschrank</a></li>
				</ul>
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		</div>        


      </div>
      <div class="col-md-6 ">


		<div class="panel-group toggle">
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle21" class=""><span class="open-sub"></span>Untersuchungen an Bindemitteln und Zusatzstoffen</a>
		      </div>
		    </div>
		    <div id="toggle21" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	<p>Im Bindemittellabor werden leim- und mörteltechnische Untersuchungen sowie Prüfungen an leichten und normalen Gesteinskörnungen durchgeführt. Hierfür stehen Standardgeräte wie z.B. Mörtelmischer, Vicatgerät, Gaspyknometer, Siebmaschinen und Geräte für die Bestimmung rheologischer Eigenschaften wie z.B. Viskomat NT, Schwindkegel, Mörtelauslauftrichter, Marsh-Trichter zur Verfügung. Neben Praktika, Bachelor- und Masterarbeiten werden hier Eingangs­unter­suchungen an den Ausgangsstoffen für Mörtel- / Betonversuche durchgeführt.</p>

				<table class="table">
					<tbody>
						<tr>
							<td>
							<p><strong>Probenvorbereitung</strong></p>
							</td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i>Entnahmerohr / Riffelteiler</li>
								<li><i class="fa fa-hand-o-right"></i>Trockenschrank</li>
								<li><i class="fa fa-hand-o-right"></i>Backenbrecher</li>
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/schwingmuehle">Kugelmühle</a></li>
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/moersermuehle">Mörsermühle</a></li>
							</ul>
							</td>
						</tr>
						<tr>
							<td><strong>Bestimmung der Mahlfeinheit</strong></td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/bet-verfahren">BET-Verfahren n. DIN ISO 9277</a></li>
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/luftdurchlaessigkeitsgeraet">Luftdurchlässigkeitsgerät nach Blaine lt. DIN EN 196-6</a></li>
							</ul>
							</td>
						</tr>
						<tr>
							<td><strong>Untersuchungen zum Hydratationsverhalten</strong></td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/waermeflusskalorimeter">Wärmeflusskalorimeter</a></li>
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/porenloesung">Untersuchung der&nbsp;Porenlösung</a></li>
							</ul>
							</td>
						</tr>
						<tr>
							<td>
							<p><strong>Rheologische Untersuchung</strong></p>
							</td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/viskomat">Viskomat NT</a></li>
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/bt-2">Frischbetonrheometer BT-2</a></li>
							</ul>
							</td>
						</tr>
						<tr>
							<td><strong>Frischmörteluntersuchung</strong></td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i>Erstarrungszeiten und Raumbeständigkeit n. DIN EN 196-3</li>
								<li><i class="fa fa-hand-o-right"></i>Wasseranspruch nach Puntke n. DAfStb-Richtlinie "Selbstverdichtender Beton" 2003-11</li>
								<li>
								<p><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/schwindkegel">Schwindkegel</a></p>
								</li>
							</ul>
							</td>
						</tr>
						<tr>
							<td>
							<p><strong>Dichtebestimmung</strong></p>
							</td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/gaspyknometer">Gaspyknometer n. DIN 66137-2</a></li>
								<li><i class="fa fa-hand-o-right"></i>Kapillarpyknometer</li>
								<li><i class="fa fa-hand-o-right"></i>Flaschenpyknometer n. DIN EN 1097-6</li>
								<li><i class="fa fa-hand-o-right"></i>Wasseraufnahme leichter GK über BVK-Verfahren n. DIN EN 459-2</li>
								<li><i class="fa fa-hand-o-right"></i>Einlaufgerät nach Böhme</li>
							</ul>
							</td>
						</tr>
					</tbody>
				</table>
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle22"><span class="open-sub"></span>Oberflächen- und Strukturanalyse</a>
		      </div>
		    </div>
		    <div id="toggle22" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="{{ site.baseurl }}werkstoffe-computertomographie.html">Computertomographie (CT)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="werkstoffe-rasterelektronenmikroskop.html">Rasterelektronenstrahlmikroskopie (REM)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Energiedispersive Röntgenanalyse (EDX)</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Lichtmikroskopie</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Quecksilberdruckporosimetrie</a></li>
				</ul>
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle23"><span class="open-sub"></span>Bauzustandsanalyse</a>
		      </div>
		    </div>
		    <div id="toggle23" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="#">Haftzugprüfungen</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Bewehrungssuche und Detektion</a></li>
				</ul>
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		</div>        


        



      </div>
    </div>
  </div>
</section>

