

<section class="bg-theme-colored">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-5">
          <h3 class="mt-5 text-white">{{include.title}}</h3>
          <p class="text-white">{{include.description}}</p>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="form-group">
            <label for="form_name">Nachricht</label>
            <textarea name="form_message" class="form-control required" rows="5" placeholder="Tippen Sie hier Ihre Frage ein..." aria-required="true"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-theme-colored unibworange-background btn-xl">Chat beginnen</button>
          </div>
        </div>
      </div>
    </div> 
  </div>       
</section>
