<section>
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{include.title}}</h2>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row bg-deep">
        <div class="col-sm-12 col-md-4">
          <div class="contact-info text-center  pt-60 pb-60 border-right">
            <i class="fa fa-ticket font-36 mb-10 text-theme-colored"></i>
            <h4>Erstellen Sie ein Support Ticket</h4>
            <p><a href="" class="btn btn-theme-colored btn-xl">Ticket erstellen</a></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="contact-info text-center  pt-60 pb-60 border-right">
            <i class="fa fa-phone font-36 mb-10 text-theme-colored"></i>
            <h4>Rufen Sie uns an</h4>
            <h6 class="text-gray">+49 89 6004-5555</h6>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="contact-info text-center pt-60 pb-60">
            <i class="fa fa-map font-36 mb-10 text-theme-colored"></i>
            <h4>Besuchen Sie uns</h4>
            <p><a href="" class="btn btn-theme-colored btn-xl">ServiceDesk</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
