<section class="scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{include.title}}</h2>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row bg-deep">


        <div class="col-sm-12 col-md-4">
          <div class="contact-info text-center  pt-60 pb-60 border-right">
            <a href="www.test.de" title="Link Titel 2">
            <i class="fa fa-ticket font-36 mb-10 text-theme-colored"></i>
            <h3 class="title">Erstellen Sie ein Support Ticket</h3>
            <div class="subtitle text-gray"> -------- </div>
            <div class="btn btn-theme-colored btn-xl">Ticket erstellen</div>
            </a>
          </div>
        </div>
      
        <div class="col-sm-12 col-md-4">
          <div class="contact-info text-center  pt-60 pb-60 border-right">
            <i class="fa fa-phone font-36 mb-10 text-theme-colored"></i>
              <span class="sr-only">phone</span>
            <h3 class="title">Rufen Sie uns an</h3>
            <div class="text-gray">+49 89 6004-5555</div>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="contact-info text-center pt-60 pb-60">
            <i class="fa fa-map font-36 mb-10 text-theme-colored"></i>
            <h3 class="title">Besuchen Sie uns</h3>
            <div class="btn btn-theme-colored btn-xl">ServiceDesk</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
