<section class="bg-lighter text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h2 class="title font-36 text-theme-color-2">{{ include.title }}</h2>
        <p>Verwenden Sie die Suchfunktion um die Hilfeseiten des Rechenzentrums nach einer Lösung zu durchsuchen.</p>
        
        <!-- Mailchimp Subscription Form-->
        <form id="mailchimp-subscription-form1" class="newsletter-form">
          <label for="mce-search"></label>
          <div class="input-group">
            <input type="search" id="mce-search" data-height="45px" class="form-control input-lg" placeholder="Suchkriterien eingeben" name="search" value="">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-dark btn-theme-colored btn-xl" data-height="45px"><i class="fa fa-search"></i> Suchen</button>
            </span>
          </div>
        </form>

      </div>
    </div>
  </div>
</section>


