<style>
    .product { background: silver;}
    .product-details h5 { color: white; font-size: 18px;}
    
    @media only screen and (min-width : 992px) {
        .product { background: #f8f8f8;}
        .product-details h5 { color: black; font-size: 18px;}
    }
</style>
<section class="content-navigation">
    <div class="container">
        <div class="row multi-row-clearfix">
            <div class="col-md-12">
              <div class="products">


                {% for item in site.data.content_nav_tiles %}
          
                <div class="col-sm-6 col-md-4 col-lg-4 mb-30">
                    <a href="{{ item.url }}">
                        <div class="product">
                            {% if item.flag %}<span class="tag-sale">Neu!</span>{% endif %}
                            <div class="product-thumb"> 
                                <picture class="img-responsive img-fullwidth" alt="Corona News" >
                                    <source media="(min-width: 992px)"
                                            srcset="{{ item.image }}"
                                    /> 
                                    <source
                                            srcset="{{ item.thumb }} 1x"
                                    /> 
                                    <img src="{{ item.image }}" alt="{{ item.alt }}" />
                                </picture>
                                </div>
                            <div class="product-details text-center">
                                <h5 class="product-title">{{ item.title }}</h5>
                            </div>
                        </div>
                    </a>
                </div>

              {% endfor %}
          

              </div>
            </div>
        </div>
    </div>
</section>
