<section id="upcoming-events" class="divider parallax layer-overlay overlay-white-8" data-bg-img="{{ include.bg-image }}" style="background-image: url(&quot;{{ include.bg-image }}&quot;); background-position: {{ include.bg-position }};">
  <div class="container pb-50 pt-80">
    <div class="section-content">
      <div class="row">
    {% assign count = 1 %}
    {% assign count_old = 1 %}

      {% for item in site.posts %}
      {% if item.layout == 'event' and count < 5 and item.department == page.department %}


        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="schedule-box maxwidth500 bg-light mb-30">
            <div class="thumb">
              <img class="img-fullwidth" alt="" src="{{ site.baseurl }}{{ item.img }}">
              <div class="overlay">
                <a href="{{ site.baseurl }}{{ item.url | replace_first: '/', '' }}"><i class="fa fa-calendar mr-5"></i></a>
              </div>
            </div>
            <div class="schedule-details clearfix p-15 pt-10">
              <h5 class="font-16 title"><a href="{{ site.baseurl }}{{ item.url | replace_first: '/', '' }}">{{ item.title }}</a></h5>
              <ul class="list-inline font-11 mb-20">
                <li><i class="fa fa-calendar mr-5"></i>{{ item.start }}</li>
                <li><i class="fa fa-map-marker mr-5"></i> {{ item.location }}</li>
              </ul>
              <p>{{ item.description }}</p>
              <div class="mt-10">
                <a class="btn btn-dark btn-theme-colored btn-sm mt-10" href="{{ site.baseurl }}{{ item.url | replace_first: '/', '' }}">Anmelden</a>
                <a href="{{ site.baseurl }}{{ item.url | replace_first: '/', '' }}" class="btn btn-dark btn-sm mt-10">Details</a>
              </div>
            </div>
          </div>
        </div>
        
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}

      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p class="text-right"><a href="{{ site.baseurl }}{{ include.morelink | default:'werkstoffe-termine.html'}} " class="btn btn-gray btn-lg">Alle Veranstaltungen anzeigen <i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</section>
