<section class="events-search">
  <div class="container">
    <div class="section-content">

      <div class="row">
        <div class="col-md-12">
          <p>
Hier finden Sie die Veranstaltungen die an der Universität der Bundeswehr stattfi nden. Diese setzen sich aus Weiterbildungen, Seminaren und Fachveranstaltungen zusammen. Je nach Veranstaltung können diese Vorträge auch von Personen/Nicht-Fachpublikum außerhalb der Universtät besucht werden. Wir freuen uns immer über Interessierte und neues Publikum. Ausführliche Informationen fi nden Sie direkt in den Veranstaltungen.</p>
          
          
        </div>
      </div>
    </div>
  </div>
</section>
