<section id="blog" class="bg-lighter">
      <div class="container">
        <div class="section-title mb-10">
          <div class="row">
            <div class="col-md-8">
              <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1">Aktuelle <span class="text-theme-color-2 font-weight-400">Termine</span></h2>
           </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            
            <div class="col-xs-12 col-sm-6 col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <article class="post clearfix mb-sm-30">
                <div class="entry-header">
                  <div class="post-thumb thumb"> 
                    <img src="/media/events/messetermine.jpg" alt="" class="img-responsive img-fullwidth"> 
                  </div>
                </div>
                <div class="entry-content p-20 pr-10 bg-white">
                  <div class="entry-meta media mt-0 no-bg no-border">
                    <div class="media-body pl-15">
                      <div class="event-content pull-left flip">
                        <h4 class="entry-title text-white m-0 mt-5"><a href="messetermine.html">Messetermine</a></h4>
                      </div>
                    </div>
                  </div>
                  
                  <p class="mt-10">Informieren Sie sich im persönlichen Gespräch über unsere Programme und Ihre Karrierechancen. Wir sind auf zahlreichen Karriere-Messen vor Ort. Die Termine finden Sie <a href="messetermine.html">HIER</a></p>
                  <a href="messetermine.html" class="btn-read-more">Mehr…</a>
                  <div class="clearfix"></div>
                </div>
              </article>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.3s">
              <article class="post clearfix mb-sm-30">
                <div class="entry-header">
                  <div class="post-thumb thumb"> 
                    <img src="/media/events/infoveranstaltungen.jpg" alt="" class="img-responsive img-fullwidth"> 
                  </div>
                </div>
                <div class="entry-content p-20 pr-10 bg-white">
                  <div class="entry-meta media mt-0 no-bg no-border">
                    <div class="media-body pl-15">
                      <div class="event-content pull-left flip">
                        <h4 class="entry-title text-white m-0 mt-5"><a href="informationsveranstaltungen.html">Informationsveranstaltungen</a></h4>
                      </div>
                    </div>
                  </div>
                  
                  <p class="mt-10">Erfahren Sie mehr über unsere Studiengänge und Ihre Karriereperspektiven. Unsere akademischen Leiter stellen Ihnen in unseren Informationsveranstaltungen die einzelnen Programme detailliert vor. Mehr erfahren Sie <a href="informationsveranstaltungen.html">HIER</a></p>
                  <a href="informationsveranstaltungen.html" class="btn-read-more">Mehr…</a>
                  <div class="clearfix"></div>
                </div>
              </article>
            </div>
          </div>

        </div>
      </div>
    </section>
