<section id="upcoming-events" class="upcoming-events divider parallax layer-overlay overlay-white-8" data-bg-img="{{ include.bg-image }}" style="background-image: url(&quot;{{ include.bg-image }}&quot;); background-position: {{ include.bg-position }};">
  <div class="container">
    {% if include.module_title %}
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{ include.module_title }}</h2>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="section-content">
      <div class="row">
    {% assign count = 1 %}
    {% assign count_old = 1 %}

      {% for item in site.posts %}
      {% if item.layout == 'event' and count < 5 and item.department == page.department %}


        <div class="col-sm-6 col-md-3 col-lg-3">
          <div class="schedule-box maxwidth500 bg-light mb-30">
            <div class="thumb">
              <img class="img-fullwidth" alt="" src="{{ site.baseurl }}{{ item.img }}">
              <!--div class="overlay">
                {% if item.details %}<a href="{{ site.baseurl }}{{ item.url | replace_first: '/', '' }}"><i class="fa fa-calendar mr-5"></i></a>{% endif %}
              </div-->
            </div>
            <div class="schedule-details  p-15 pt-10">
              <h5 class="title"><a href="{{ site.baseurl }}{{ item.url | replace_first: '/', '' }}">{{ item.title }}</a></h5>
              <ul class="list-inline mb-20">
                {% if item.start %}<li><i class="fa fa-calendar mr-5"></i>{{ item.start }}</li>{% endif %}
                {% if item.location %}<li><i class="fa fa-map-marker mr-5"></i> {{ item.location }}</li>{% endif %}
              </ul>
              <p>{{ item.description }}</p>
              <div href="{{ item.url | replace_first: '/', '' }}" class="btn btn-theme-colored btn-sm">Mehr</div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
        
        {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}

      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p class="text-right"><a href="{{ site.baseurl }}{{ include.morelink | default:'werkstoffe-termine.html'}} " class="btn btn-theme-colored btn-lg">Alle Veranstaltungen anzeigen <i class="fa fa-arrow-circle-right"></i></a></p>
        </div>
      </div>
    </div>
  </div>
  <script>
  setTimeout(function() {
    $('.upcoming-events').equalize({'children': '.schedule-box', 'equalize': 'height', 'reset': true});
  }, 200);
  </script>

</section>
