<section id="events-list">
  <div class="container">
    <div class="section-content">
      <div class="row">

      {% for item in site.posts %}
        {% if item.layout == 'event' %}
         <div class="col-sm-{{include.sm | default:'6' }} col-md-{{include.md | default:'4' }}">
          <div class="box-item">
            <div class="item-inner padding">

              <a href="{{ site.baseurl }}{{ item.url | replace_first: '/', '' }}">
               <article class="post clearfix">
              <div class="entry-header">
                <!--div class="post-thumb thumb"> 
                  <img src="{{ item.image }}" alt="" class="img-responsive img-fullwidth">
                </div-->
                {% if item.end %}
                {{ item.start |  date: '%d. %m.' }} - {{ item.end |  date: '%d. %m. %Y' }}  
                {% else %}
                {{ item.start |  date: '%d. %m. %Y' }}
                {% endif %}
              </div>
              <div class="entry-content p-20 pr-10">
                <div class="entry-meta media mt-0 no-bg no-border"> 
                  <div class="media-body">
                    
                    
                    <div class="event-content">
                      <h3 class="entry-title">{{ item.title }}</h3>
                       {% if item.start-time or item.location %}
                       <ul class="list-inline mb-20">
                        {% if item.start-time %}<li><i class="fa fa-clock-o mr-5"></i>{{ item.start-time }} - {{ item.end-time }}</li>{% endif %}
                        {% if item.location %}<li><i class="fa fa-map-marker mr-5"></i> {{ item.location }}</li>{% endif %}
                      </ul>
                      {% endif %}
                    </div>
                  </div>
                </div>
               
                <p class="description mt-10 mb-20">{{ item.description }}</p>
                <div href="{{ item.url | replace_first: '/', '' }}" class="btn btn-theme-colored btn-sm">Weitere Infos</div>
                {% if item.department == 'pretix' %}<div href="{{ item.url | replace_first: '/', '' }}" class="btn btn-theme-colored btn-theme-colored-extra btn-sm">Anmeldung</div>  {% endif %}
                <div class="clearfix"></div>
              </div>
            </article>
              </a>
            </div>
          </div>
        </div>
          {% endif %}
        {% endfor %}


      </div>
    </div>
  </div>
</section>
 <script>
      $(window).load(function() {
        live_equalizer("#events-list", "article");
      });
    </script>
