<section class="events-search">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">Veranstaltungen</h2>
       </div>
      </div>
    </div>
    <div class="section-content">

      <div class="row">
        <div class="col-md-12">
          <p>
Hier finden Sie die Veranstaltungen die an der Universität der Bundeswehr stattfi nden. Diese setzen sich aus Weiterbildungen, Seminaren und Fachveranstaltungen zusammen. Je nach Veranstaltung können diese Vorträge auch von Personen/Nicht-Fachpublikum außerhalb der Universtät besucht werden. Wir freuen uns immer über Interessierte und neues Publikum. Ausführliche Informationen fi nden Sie direkt in den Veranstaltungen.</p>
          
          
        </div>
      </div>
      <!--div class="row">
        <div class="col-md-9">
          <form>
            <div class="form-group">
              <label for="etype">Art der Veranstaltung</label>
               <select name="etype" multiple class="form-control">
                <option>Seminare</option>
                <option>Vorträge</option>
                <option>Kolloquien</option>
                <option>Fort- und Weiterbildungen</option>
                <option>Kongresse, Symposien, Tagungen, Konferenzen</option>
                <option>Kinderuniversität</option>
                <option>Festveranstaltungen</option>
                <option>Sportveranstaltungen</option>
                <option>Militärische Veranstaltungen</option>
                <option>Öffentliche Veranstaltungen</option>
                <option>Sonstige</option>
              </select>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="searchtext" placeholder="Suchtext" name="searchtext">
            </div>
            
            <div class="form-group">
              <button type="submit" class="btn btn-dark btn-theme-colored btn-xl" data-height="45px"><i class="fa fa-search"></i> Suchen</button>
            </div>
          </form>


        </div>

      </div-->
    </div>
  </div>
</section>
