<section id="features" class="bg-lighter">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="text-uppercase text-theme-colored font line-bottom line-height-1 mt-0 mb-0">Our <span class="text-theme-color-2 font-weight-400">Features</span></h2>
        </div>
      </div>
    </div>
    <div class="row mtli-row-clearfix">
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
          <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
            <i class="pe-7s-scissors"></i>
          </a>
          <div class="icon-box-details">
            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Less CSS</h4>
            <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
          </div>
        </div>    
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
          <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
            <i class="pe-7s-pen"></i>
          </a>
          <div class="icon-box-details">
            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Easy Customiz</h4>
            <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
          </div>
        </div>    
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="icon-box iconbox-theme-colored bg-white p-15 mb-30 border-1px">
          <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
            <i class="pe-7s-tools"></i>
          </a>
          <div class="icon-box-details">
            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Special ShortCode</h4>
            <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
          </div>
        </div>    
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="icon-box iconbox-theme-colored bg-white p-15 mb-sm-30 border-1px">
          <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
            <i class="pe-7s-vector"></i>
          </a>
          <div class="icon-box-details">
            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">W3 validation</h4>
            <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
          </div>
        </div>    
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="icon-box iconbox-theme-colored bg-white p-15 border-1px">
          <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
            <i class="pe-7s-phone"></i>
          </a>
          <div class="icon-box-details">
            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Responsive</h4>
            <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
          </div>
        </div>    
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="icon-box iconbox-theme-colored bg-white p-15 border-1px">
          <a class="icon icon-dark border-left-theme-color-2-3px pull-left flip mb-0 mr-0 mt-5" href="#">
            <i class="pe-7s-light"></i>
          </a>
          <div class="icon-box-details">
            <h4 class="icon-box-title font-16 font-weight-600 m-0 mb-5">Retina Ready</h4>
            <p class="text-gray font-13 mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias non null</p>
          </div>
        </div>    
      </div>
    </div>
  </div>
</section>
