<section>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-8">
          <div class="meet-doctors">
            <h2 class="text-uppercase mt-0 line-height-1">Welcome To <span class="text-theme-colored">Education</span></h2>
            <h6 class="text-uppercase letter-space-5 line-bottom title font-playfair text-uppercase">Gravida vitae Dapibus Education</h6>
            <p>Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus.Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus</p>
          </div>
          <div class="row mb-sm-30">
            <div class="col-sm-6 col-md-6">
              <div class="icon-box p-0 mb-20">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                  <i class="pe-7s-scissors text-white"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h5 class="icon-box-title mt-10 text-uppercase letter-space-2 mb-10">Less CSS</h5>
                  <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="icon-box p-0 mb-20">
                <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                  <i class="pe-7s-pen text-white"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h5 class="icon-box-title mt-10 text-uppercase letter-space-2 mb-10">Easy Customiz</h5>
                  <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="icon-box p-0 mb-20">
                <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                  <i class="pe-7s-tools text-white"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h5 class="icon-box-title mt-10 text-uppercase letter-space-2 mb-10">Special ShortCode</h5>
                  <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="icon-box p-0 mb-20">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                  <i class="pe-7s-vector text-white"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h5 class="icon-box-title mt-10 text-uppercase letter-space-2 mb-10">W3 validation</h5>
                  <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="icon-box p-0">
                <a class="icon bg-theme-colored icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                  <i class="pe-7s-phone text-white"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h5 class="icon-box-title mt-10 text-uppercase letter-space-2 mb-10">Responsive</h5>
                  <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="icon-box p-0">
                <a class="icon bg-theme-color-2 icon-circled icon-border-effect effect-circle icon-sm pull-left sm-pull-none flip" href="#">
                  <i class="pe-7s-light text-white"></i>
                </a>
                <div class="ml-70 ml-sm-0">
                  <h5 class="icon-box-title mt-10 text-uppercase letter-space-2 mb-10">Retina Ready</h5>
                  <p class="text-gray">Lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
