<section class="">
  <div class="container pt-0 pb-0">
    <div class="section-content">
      <div class="row"  >
        <div class="col-sm-12 col-md-4">
          <div class="card effect__hover">
            <div class="card__front border-3px bg-lighter">
              <div class="card__text">
                <div class="display-table-parent">
                  <div class="display-table">
                    <div class="display-table-cell">
                      <div class="icon-box mb-0">
                        <a href="#" class="icon mb-0">
                          <i class="text-theme-colored pe-7s-users font-72"></i>
                        </a>
                        <h3 class="icon-box-title text-theme-colored">Experience Teachers</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card__back" data-bg-color="#202c45" style="background: rgb(32, 44, 69) none repeat scroll 0% 0% ! important;">
              <div class="card__text">
                <div class="display-table-parent p-30">
                  <div class="display-table">
                    <div class="display-table-cell">
                      <h3 class="text-theme-color-2">Experience Teachers</h3>
                      <p class="text-gray-lightgray">Sed gravida, ligula eget aliquam elementum, justo nisl mattis neque, in molestie ipsum dolor eu justo. Duis nec aliquam nulla. Sed interdum orci non mi porttitor, a dapibus ante varius.</p>
                      <a href="#" class="btn btn-default mt-10"> Read More </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /flip-box -->
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card effect__hover">
            <div class="card__front border-3px bg-lighter">
              <div class="card__text">
                <div class="display-table-parent">
                  <div class="display-table">
                    <div class="display-table-cell">
                      <div class="icon-box mb-0">
                        <a href="#" class="icon mb-0">
                          <i class="text-theme-colored pe-7s-note2 font-72"></i>
                        </a>
                        <h3 class="icon-box-title text-theme-colored">Certification Courses</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card__back" data-bg-color="#202c45" style="background: rgb(32, 44, 69) none repeat scroll 0% 0% ! important;">
              <div class="card__text">
                <div class="display-table-parent p-30">
                  <div class="display-table">
                    <div class="display-table-cell">
                      <h3 class="text-theme-color-2">Certification Courses</h3>
                      <p class="text-gray-lightgray">Sed gravida, ligula eget aliquam elementum, justo nisl mattis neque, in molestie ipsum dolor eu justo. Duis nec aliquam nulla. Sed interdum orci non mi porttitor, a dapibus ante varius.</p>
                      <a href="#" class="btn btn-default mt-10"> Read More </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /flip-box -->
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="card effect__hover">
            <div class="card__front border-3px bg-lighter">
              <div class="card__text">
                <div class="display-table-parent">
                  <div class="display-table">
                    <div class="display-table-cell">
                      <div class="icon-box mb-0">
                        <a href="#" class="icon mb-0">
                          <i class="text-theme-colored pe-7s-phone font-72"></i>
                        </a>
                        <h3 class="icon-box-title text-theme-colored">Online Learning</h3>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card__back" data-bg-color="#202c45" style="background: rgb(32, 44, 69) none repeat scroll 0% 0% ! important;">
              <div class="card__text">
                <div class="display-table-parent p-30">
                  <div class="display-table">
                    <div class="display-table-cell">
                      <h3 class="text-theme-color-2">Online Learning</h3>
                      <p class="text-gray-lightgray">Sed gravida, ligula eget aliquam elementum, justo nisl mattis neque, in molestie ipsum dolor eu justo. Duis nec aliquam nulla. Sed interdum orci non mi porttitor, a dapibus ante varius.</p>
                      <a href="#" class="btn btn-default mt-10"> Read More </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- /flip-box -->
        </div>
      </div>
    </div>
  </div>
</section>
