    <div class="container">
       <div class="row border-bottom">
        <div class="col-sm-4 col-md-4">
          <div class="widget dark ">
            <h4 class="widget-title">Anschrift</h4>
            <ul class="list angle-double-right list-border">
              <li>
                <p>Universität der Bundeswehr München<br>
                BAU<br>
                Werner-Heisenberg-Weg 46<br>
                D-85577 Neubiberg</p>
              </li>
              <li>
                
                  <p><i class="fa fa-map text-theme-color-2 mr-5"></i> <a class="text-white" href="#">Gebäude XX </a> </p>
                  <p> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-white" href="#">+49 89 6004-0000</a> </p>
                  <p> <i class="fa fa-fax text-theme-color-2 mr-5"></i> <a class="text-white" href="#">+49 89 6004-1111</a> </p>
             </li>
              <li>
                  <p><i class="fa fa-clock-o text-theme-color-2 mr-5"></i> Öffnungszeiten </p>
                  <table class="display-table">
                    <tr>
                      <td>Mo-Do</td><td>07:30-17:30 Uhr</td>
                    </tr>
                    <tr>
                      <td>Freitag</td><td>07:30-15:30 Uhr</td>
                    </tr>
                  </table>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="widget dark">
            <h4 class="widget-title">Lorem Ipsum</h4>
            <ul class="list angle-double-right list-border">
              <li>
                <p>Die Fakultät BAU…</p>
              </li>
              <li>
                
…              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="widget dark">
            <h4 class="widget-title">A-Z</h4>
            <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
          </div>
        </div>
      </div>
    </div>
