    <div class="container">
       <div class="row border-bottom">
        <div class="col-sm-4 col-md-4">
          <div class="widget dark ">
            <h4 class="widget-title">Anschrift</h4>
            <ul class="list angle-double-right list-border">
              <li>
                <p>Universität der Bundeswehr München<br>
                Rechenzentrum<br>
                Werner-Heisenberg-Weg 46<br>
                D-85577 Neubiberg</p>
              </li>
              <li>
                
                  <p><i class="fa fa-map text-theme-color-2 mr-5"></i> <a class="text-white" href="#">Gebäude 46 </a> </p>
                  <p> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-white" href="#">+49 89 6004-3203</a> </p>
                  <p> <i class="fa fa-fax text-theme-color-2 mr-5"></i> <a class="text-white" href="#">+49 89 6004-3254</a> </p>
             </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="widget dark">
            <h4 class="widget-title">Kontakt</h4>
            <ul class="list angle-double-right list-border">
              <li>
                <p>So können Sie uns bei Fragen und Anregungen sowie Kritik erreichen:</p>
              </li>
              <li>                
                  <p> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-white" href="mailto:support@unibw.de">unibw@syslab.com</a> </p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4 col-md-4">
          <div class="widget dark">
            <h4 class="widget-title">A-Z</h4>
            <p>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</p>
          </div>
        </div>
      </div>
    </div>
