

<footer id="footer" role="contentinfo" class="footer divider layer-overlay overlay-dark-9">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <div class="widget dark text-white">
              <h2 class="widget-title">Kontakt</h2>
              <p>Universität der Bundeswehr München<br>Werner-Heisenberg-Weg 39<br>85577 Neubiberg</p>
            </div>
            <div class="widget dark text-white">
              <ul class="list-inline mt-5">
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> +49 89 6004-0 </li>
                <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-white" href="mailto:info@unibw.de">info@unibw.de</a> </li>
                
              </ul>
            </div>
          </div>

          <div class="col-sm-4 col-md-4">
            <div class="widget dark text-white">
              <h2 class="widget-title">Social Media</h2>
              
<!-- footer social media grid on home portal -->
<div style="display: grid; grid-template-columns: repeat(4, 50px); grid-template-rows: repeat(2, 60px); gap: 0;">
            
<div style="display: grid; width: 50px"><a title="Externer Link: Facebook" href="https://de-de.facebook.com/UniBwMuc/" target="_blank" rel="noopener" data-linktype="external" data-val="https://de-de.facebook.com/UniBwMuc/"><img src="https://staging.cms6a.syslab.com/resolveuid/068d252c6b334e208bb2a1efc37495c4/@@images/image/large" alt="UniBWM auf Facebook" width="" height="" data-linktype="image" data-scale="large" data-val="068d252c6b334e208bb2a1efc37495c4"></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: Flickr" href="https://www.flickr.com/photos/188071866@N02/" target="_blank" rel="noopener" data-linktype="external" data-val="https://www.flickr.com/photos/188071866@N02/"><img src="https://staging.cms6a.syslab.com/resolveuid/154b6f4eb8504785b3a7cbdbb403aac9/@@images/image/large" alt="UniBWM auf Flickr" width="" height="" data-linktype="image" data-scale="large" data-val="154b6f4eb8504785b3a7cbdbb403aac9"></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: Instagram" href="https://www.instagram.com/unibwmuc/" target="_blank" rel="noopener" data-linktype="external" data-val="https://www.instagram.com/unibwmuc/"><img src="https://staging.cms6a.syslab.com/resolveuid/200ae7cec3eb4e70a7d30d00cd2a3e61/@@images/image/large" alt="UniBWM auf Instagram" width="" height="" data-linktype="image" data-scale="large" data-val="200ae7cec3eb4e70a7d30d00cd2a3e61"></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: LinkedIn" href="https://de.linkedin.com/school/universitaet-der-bundeswehr-muenchen/" target="_blank" rel="noopener" data-linktype="external" data-val="https://de.linkedin.com/school/universitaet-der-bundeswehr-muenchen/"><img src="https://staging.cms6a.syslab.com/resolveuid/57afa4ff7aa14d8b8743be81629029b1/@@images/image/large" alt="UniBWM auf LinkedIn" width="" height="" data-linktype="image" data-scale="large" data-val="57afa4ff7aa14d8b8743be81629029b1"></a></div>


<div style="display: grid; width: 50px"><a title="Externer Link: Twitter" href="https://twitter.com/unibw_m?lang=de" target="_blank" rel="noopener" data-linktype="external" data-val="https://twitter.com/unibw_m?lang=de"><img src="https://staging.cms6a.syslab.com/resolveuid/bc12951c62224ce58284c782faa25d51/@@images/image/large" alt="UniBWM auf Twitter" width="" height="" data-linktype="image" data-scale="large" data-val="bc12951c62224ce58284c782faa25d51"></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: Xing" href="https://www.xing.com/companies/universit%C3%A4tderbundeswehrm%C3%BCnchen" target="_blank" rel="noopener" data-linktype="external" data-val="https://www.xing.com/companies/universit%C3%A4tderbundeswehrm%C3%BCnchen"><img src="https://staging.cms6a.syslab.com/resolveuid/025288251ed34e95a641aef0231a2ee9/@@images/image/large" alt="UniBWM auf Xing" width="" height="" data-linktype="image" data-scale="large" data-val="025288251ed34e95a641aef0231a2ee9"></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: YouTube" href="https://www.youtube.com/channel/UCOSDUvJ40nG1yzc0HTcgfew" target="_blank" rel="noopener" data-linktype="external" data-val="https://www.youtube.com/channel/UCOSDUvJ40nG1yzc0HTcgfew"><img src="https://staging.cms6a.syslab.com/resolveuid/2dc579b961e44d0c95d8d643fbe90504/@@images/image/large" alt="UniBWM auf YouTube" width="" height="" data-linktype="image" data-scale="large" data-val="2dc579b961e44d0c95d8d643fbe90504"></a></div>

</div>

<!-- footer with relative urls - will work if copied to testing 
 
<div style="display: grid; grid-template-columns: repeat(4, 50px); grid-template-rows: repeat(2, 60px); gap: 0;">

<div style="display: grid; width: 50px"><a title="Externer Link: Facebook" href="https://de-de.facebook.com/UniBwMuc/" target="_blank" rel="noopener" data-linktype="external" data-val="https://de-de.facebook.com/UniBwMuc/"><img class="image-richtext image-inline" src="/resolveuid/068d252c6b334e208bb2a1efc37495c4/@@images/image/large" alt="UniBWM auf Facebook" width="" height="" data-linktype="image" data-scale="large" data-val="068d252c6b334e208bb2a1efc37495c4" /></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: Flickr" href="https://www.flickr.com/photos/188071866@N02/" target="_blank" rel="noopener" data-linktype="external" data-val="https://www.flickr.com/photos/188071866@N02/"><img class="image-richtext image-inline" src="/resolveuid/154b6f4eb8504785b3a7cbdbb403aac9/@@images/image/large" alt="UniBWM auf Flickr" width="" height="" data-linktype="image" data-scale="large" data-val="154b6f4eb8504785b3a7cbdbb403aac9" /></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: Instagram" href="https://www.instagram.com/unibwmuc/" target="_blank" rel="noopener" data-linktype="external" data-val="https://www.instagram.com/unibwmuc/"><img class="image-richtext image-inline" src="/resolveuid/200ae7cec3eb4e70a7d30d00cd2a3e61/@@images/image/large" alt="UniBWM auf Instagram" width="" height="" data-linktype="image" data-scale="large" data-val="200ae7cec3eb4e70a7d30d00cd2a3e61" /></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: LinkedIn" href="https://de.linkedin.com/school/universitaet-der-bundeswehr-muenchen/" target="_blank" rel="noopener" data-linktype="external" data-val="https://de.linkedin.com/school/universitaet-der-bundeswehr-muenchen/"><img class="image-richtext image-inline" src="/resolveuid/57afa4ff7aa14d8b8743be81629029b1/@@images/image/large" alt="UniBWM auf LinkedIn" width="" height="" data-linktype="image" data-scale="large" data-val="57afa4ff7aa14d8b8743be81629029b1" /></a></div>

<div style="display: grid; width: 50px"><a title="Externer Link: Twitter" href="https://twitter.com/unibw_m?lang=de" target="_blank" rel="noopener" data-linktype="external" data-val="https://twitter.com/unibw_m?lang=de"><img class="image-richtext image-inline" src="/resolveuid/bc12951c62224ce58284c782faa25d51/@@images/image/large" alt="UniBWM auf Twitter" width="" height="" data-linktype="image" data-scale="large" data-val="bc12951c62224ce58284c782faa25d51" /></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: Xing" href="https://www.xing.com/companies/universit%C3%A4tderbundeswehrm%C3%BCnchen" target="_blank" rel="noopener" data-linktype="external" data-val="https://www.xing.com/companies/universit%C3%A4tderbundeswehrm%C3%BCnchen"><img class="image-richtext image-inline" src="/resolveuid/025288251ed34e95a641aef0231a2ee9/@@images/image/large" alt="UniBWM auf Xing" width="" height="" data-linktype="image" data-scale="large" data-val="025288251ed34e95a641aef0231a2ee9" /></a></div>
<div style="display: grid; width: 50px"><a title="Externer Link: YouTube" href="https://www.youtube.com/channel/UCOSDUvJ40nG1yzc0HTcgfew" target="_blank" rel="noopener" data-linktype="external" data-val="https://www.youtube.com/channel/UCOSDUvJ40nG1yzc0HTcgfew"><img class="image-richtext image-inline" src="/resolveuid/2dc579b961e44d0c95d8d643fbe90504/@@images/image/large" alt="UniBWM auf YouTube" width="" height="" data-linktype="image" data-scale="large" data-val="2dc579b961e44d0c95d8d643fbe90504" /></a></div>

</div> 

-->

            </div>
          </div>
          <div class="col-sm-4 col-md-4">
            <div class="widget dark text-white">
              <h2 class="widget-title">Quicklinks</h2>
              
              <ul class="list angle-double-right list-border">
                
                  <li>
                    <a href="https://www.unibw.de/universitaet/arbeitgeber" class="text-white">UniBw M als Arbeitgeber</a>
                  </li>
                
                  <li>
                    <a href="https://www.unibw.de/forschung/nachwuchsfoerderung/promovieren-und-habilitieren/promovieren" class="text-white">Promotion</a>
                  </li>
                
                  <li>
                    <a href="https://www.unibw.de/forschung/forschungseinrichtungen" class="text-white">Forschungseinrichtungen</a>
                  </li>
                
                  <li>
                    <a href="https://www.unibw.de/universitaet/einrichtungen/einrichtungen" class="text-white">Zentrale Einrichtungen</a>
                  </li>
                
                  <li>
                    <a href="https://www.unibw.de/home/veranstaltungen-events" class="text-white">
      Veranstaltungen
    </a>
                  </li>
                
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container pt-20 pb-20">
          <div class="row">
            <div class="col-md-12">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 text-right">
              <div class="widget m-0">
                <nav aria-label="Meta navigation">
                  <ul class="list-inline sm-text-center">
                    
                      <li>
                        <a href="https://www.unibw.de/home/footer/kontakt">Kontakt</a>
                      </li>
                    
                      <li>
                        <a href="https://www.unibw.de/home/footer/impressum">Impressum</a>
                      </li>
                    
                      <li>
                        <a href="https://www.unibw.de/home/footer/datenschutzerklaerung">Datenschutzerklärung</a>
                      </li>
                    
                      <li>
                        <a href="https://www.unibw.de/home/presse-und-kommunikation">Presse</a>
                      </li>
                    
                      <li>
                        <a href="https://email.unibw.de/">Webmail</a>
                      </li>
                    
                    <li>
                      
                      <a href="https://www.unibw.de/home/logout">Abmelden</a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <div class="scrollToTop">
      <a href="#header" aria-label="Zum Seitenanfang springen">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
      </a>
    </div>
   
