<section class="teaser-3x2">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">Institute</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/mathematik_bauinformatik.jpg" alt="">
              <h4>Mathematik und Bauinformatik</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/mechanik_baustatik.jpg" alt="">
              <h4>Mechanik und Statik</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/werkstoffe2.png" alt="">
              <h4>Werkstoffe des Bauwesens</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/bauv4_2.jpg" alt="">
              <h4>Konstruktiver Ingenieurbau</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/mechnaik_grundbau.jpg" alt="">
              <h4>Bodenmechanik und Grundbau</h4>
            </a>
          </div>
        </div>
      </div>
      
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/wasserwesen.jpg" alt="">
              <h4>Wasserwesen</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/verkehrswesen_raumplanung.jpg" alt="">
              <h4>Verkehrswesen und Raumplanung</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/baubetrieb.jpg" alt="">
              <h4>Baubetrieb</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="/media/bau/geodaesie.jpg" alt="">
              <h4>Geodäsie</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
