<section class="gallery">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">{{ include.title }}</h2>
          <p class="description mt-20">
            {{ include.description }}
          </p>
          </div>
      </div>
    </div>
    <div class="row xequalize">

    {% for item in page.gallery %}
      <div class="col-sm-{{include.sm | default:'6' }} col-md-{{include.md | default:'4' }}">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="{{ site.baseurl }}{{ item.url | replace_first: '/', '' }}">
              <img class="img-responsive" src="{{ item.img }}" alt="{{ item.title }}">
              <h4>{{ item.title }}</h4>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
