    <div class="footer-bottom bg-black-333">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-12">
            <p class=" text-black-777 m-0">{%if page.department %}{{page.department}}{%else%}casc - campus advanced studies center{%endif%}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center">
                <li>
                  <a href="#">Kontakt</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Anfahrt</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Impressum</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Datenschutz</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Presse</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Sitemap</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Webmail</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Login</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
