<section id="hero" 
         class="inner-header divider">
  <div class="marker text-white bg-blue hidden-sm hidden-xs">
    <span>WOW</span>
  </div>
  <div class="container pt-70 pb-20">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 mt-180">
          {% if page.hero_overline %}<small class="bg-blue text-white">{{ page.hero_overline }}</small><br>{% endif %}
          <h2 class="title font-theserif bg-blue text-white">{{ page.hero_title }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
