{% if include.generic %}
<section class="scheme-{{include.color_scheme}}">
  <div class="container">

{% endif %}
  {% if include.title %}
  <div class="section-title">
    <div class="row">
      <div class="col-md-12">    
        <h2 class="module-title line-bottom">{{ include.title }}</h2>
        <p class="description">
          {{ include.description }}
        </p>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="section-content">
    <div class="row">
        {% assign count = 1 %}
        {% for item in site.posts %}
          {% if item.item_type == 'howto' and item.department == 'kommsite' %}
            {% assign newline = count | modulo: 3 %}
      
            {% if newline == 0 %}
            <div class="row">
            {% endif %}
            <a href="{{ item.name }}">
              <div class="col-sm-6 col-md-4">
                <div class="icon-box icon-left pt-0 pl-0 pb-30 pr-30 iconbox-theme-colored">
                  <span class="icon icon-gray icon-circled icon-border-effect effect-circled icon-sm pull-left flip" >
                    <i class="fa fa-{{ item.icon }}"></i>
                  </span>
                  <h5 class="icon-box-title  pl-60">{{ item.title }}</h5>
                  <p class="text-gray"> {{ item.description }}</p>
                </div>
              </div>
            </a>

            {% if newline == 0 %}
            </div>
            {% endif %}

            {% assign count = count | plus: 1 %}
          {% endif %}
        {% endfor %}
    </div>
  </div>

    {% if include.generic %}
  </div>
</section>

{% endif %}
