<section class="silver-light news-sec">
  <div class="container">

    <div class="col-sm-4">
      <h4><b>Aktuelles</b></h4>
      <ul>
        <li><a href="content.html">Tag der Bundeswehr</a></li>
        <li><a href="content.html">Universität der Bundeswehr München überzeugt in New York</a></li>
        <li><a href="content.html">3. Kinderuni</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4><b>Anstehende Wartungen</b></h4>
      <ul>
        <li><a href="#">RZ-Fileserver (share.unibw.de): 26.08.16 08-18:00 Uhr</a></li>
        <li><a href="#">HISinOne: 23.08.16 18-20:00 Uhr</a></li>
        <li><a href="#">Geb. 36 Stromabschaltung: 10.-12.08.16 jeweils 08-18:00 Uhr</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h4><b>Öffnungszeiten von heute</b></h4>
      <ul>
        <li><a href="#">Mensa: 11-14:00 Uhr</a></li>
        <li><a href="#">PAUS: 07:30-11:30 Uhr, 13:30-15:30 Uhr</a></li>
        <li><a href="#">Zahlstelle: 07:30-11:30 Uhr, 13:30-15:30 Uhr</a></li>
      </ul>
    </div>

  </div>
</section>
