<section class="scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">Wer wir sind</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">

        <h3>Kreativ und konstruktiv die Zukunft gestalten</h3>
        <p>Bauingenieure verändern die Welt. Sie beeinflssen unser Leben stärker als viele andere Berufe.</p>

        


      </div>
      <div class="col-md-6 ">
        <h3>Text</h3>
        <p>Kreativ und innovativ bewältigen Bauingenieure und Umweltwissenschaftler heute die stark wachsenden Anforderungen aus Wirtschaft, Kultur, Umwelteinflüssen oder neuen Werkstoffen.</p>


        



      </div>
    </div>
  </div>
</section>
