<section class="jobs-filter">
  <div class="container">
    <div class="section-content">
      <div class="row">
          <div class="col-sm-12">
          <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-8">
                  <select class="form-control" id="category">
                    <option>Alle Kategorien</option>
                    <option>Ausbildungsplätze</option>
                    <option>Arbeitnehmerinnen und Arbeitnehmer</option>
                    <option>Doktorandin/ Doktorand</option>
                    <option>Professorinnen/ Professoren</option>
                    <option>Wissenschaftliche Hilfskräfte</option>
                    <option>Wissenschaftliche Mitarbeiterinnen und Mitarbeiter</option>
                    <option>Stellenangebote anderer Hochschulen</option>
                  </select>  
                </div>
                <div class="col-sm-4">
                  <a href="/jobs_category.html" class="pull-right btn btn-gray"><i class="fa fa-times"></i>&nbsp;&nbsp;Filter zurücksetzen</a> 
                </div> 

            </div>
          </form>


        </div>
      </div>
    </div>
  </div>
</section>
<section class="jobs-listing">
  <div class="container">
    <div class="section-content">
      <div class="row">
      {% assign count = 1 %}
      {% assign count_old = 1 %}

        {% for item in site.posts %}
        {% if item.layout == 'job'%}

         <div class="col-xs-12 job-item">
            <a href="{{ item.url | replace_first: '/', '' }}">
            <article class="post clearfix">
                  <div class="media-body">
                      <h3 class="entry-title">{{ item.title }}</h3>
                      <p class="description mt-10">{{ item.description }}</p>

                      <ul class="list-icon clearfix">
                        <li class="pull-left"><i class="fa fa-users"></i>{{ item.category }}</li>
                        <li class="pull-left"><i class="fa fa-euro"></i>{{ item.statement-of-payment }}</li>
                        <li class="pull-left"><i class="fa fa-briefcase"></i>{{ item.working-time }}</li>
                        {% if item.deadline %}<li class="pull-left"><i class="fa fa-calendar"></i>{{ item.deadline }}</li>{% endif %}
                      </ul>
                  </div>
                
            </article>
          </a>
        </div>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>
