<section class="jobs-listing">
  <div class="container">
    <div class="section-content">
      <div class="row">
      {% assign count = 1 %}
      {% assign count_old = 1 %}

        {% for item in site.posts %}
        {% if item.layout == 'job_career' %}

         <div class="col-xs-12 job-item">
            <a href="{{ item.url | replace_first: '/', '' }}">
            <article class="post clearfix">
                  <div class="media-body">
                      <h3 class="entry-title">{{ item.title }}</h3>
                      <p class="description mt-10">{{ item.description }}</p>

                      <ul class="list-icon clearfix">
                        <li class="pull-left"><i class="fa fa-industry"></i>{{ item.institute }}</li>
                        <li class="pull-left"><i class="fa fa-map-marker"></i>{{ item.location }}</li>
                        <li class="pull-left"><i class="fa fa-briefcase"></i>{{ item.working-time }}</li>
                      </ul>
                  </div>
                
            </article>
          </a>
        </div>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>
