<section class="jobs-filter">
  <div class="container">
    <div class="section-content">
      <div class="row">
          <div class="col-sm-12">
          <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-8">
                  <select class="form-control" id="institute">
                    <option>Alle Fakultäten</option>
                    <option>Bauingenieurwesen und Umweltwissenschaften</option>
                    <option>Elektrotechnik und Informationstechnik</option>
                    <option>Humanwissenschaften</option>
                    <option>Informatik</option>
                    <option>Luft- und Raumfahrttechnik</option>
                    <option>Staats- und Sozialwissenschaften</option>
                    <option>Wirtschafts- und Organisationswissenschaften</option>
                    <option>Betriebswirtschaft</option>
                    <option>Elektrotechnik und Technische Informatik</option>
                    <option>Maschinenbau</option>
                    <option>Forschungsinstitute und Forschungszentren</option>
                  </select>  
                </div>
                <div class="col-sm-4">
                  <a href="/jobs_category.html" class="pull-right btn btn-gray"><i class="fa fa-times"></i>&nbsp;&nbsp;Filter zurücksetzen</a>
                </div> 

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="jobs-listing">
  <div class="container">
    <div class="section-content">
      <div class="row">
      {% assign count = 1 %}
      {% assign count_old = 1 %}

        {% for item in site.posts %}
        {% if item.layout == 'job' and item.job-category == 'jobs-wiss' %}

         <div class="col-xs-12 job-item">
            <a href="{{ item.url | replace_first: '/', '' }}">
            <article class="post clearfix">
                  <div class="media-body">
                      <h3 class="entry-title">{{ item.title }}</h3>
                      <p class="description mt-10">{{ item.description }}</p>

                      <ul class="list-icon clearfix">
                        <li class="pull-left"><i class="fa fa-institution"></i>{{ item.institute }}</li>
                        <li class="pull-left"><i class="fa fa-euro"></i>{{ item.statement-of-payment }}</li>
                        <li class="pull-left"><i class="fa fa-briefcase"></i>{{ item.working-time }}</li>
                        <li class="pull-left"><i class="fa fa-calendar"></i>{{ item.deadline }}</li>
                      </ul>
                  </div>
                
            </article>
          </a>
        </div>
          {% assign count = count | plus: 1 %}
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
</section>
