<section class="clients">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <!-- Section: Clients -->
              <h2>In Kooperation mit</h2>
              <div class="clients-logo transparent text-center">
                <a href="#"><img src="media/logos/ESB_Koop MBA IM.jpg" alt=""></a>
                <a href="#"><img src="media/logos/George C. Marshall Center_Koop MISS.jpg" alt=""></a>
                <a href="#"><img src="media/logos/HS Reutlingen_Koop BA WING.jpg" alt=""></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
