<section class="logos-slider">
  <div class="container">
    <div class="row">
      <div id="logo-carousel" class="owl-carousel owl-carousel-3col">
        <div class="item">
          <img class="logo" src="media/logos/events_logo_1.jpeg">
        </div>
        <div class="item">
          <img class="logo" src="media/logos/events_logo_2.jpeg">
        </div>
        <div class="item">
          <img class="logo" src="media/logos/events_logo_3.jpeg">
        </div>
        <div class="item">
          <img class="logo" src="media/logos/events_logo_4.jpeg">
        </div>
        <div class="item">
          <img class="logo" src="media/logos/events_logo_5.jpeg">
        </div>
        <div class="item">
          <img class="logo" src="media/logos/events_logo_10.jpeg">
        </div>
        <div class="item">
          <img class="logo" src="media/logos/events_logo_7.jpeg">
        </div>
        <div class="item">
          <img class="logo" src="media/logos/events_logo_11.jpeg">
        </div>
        <div class="item">
          <img class="logo" src="media/logos/events_logo_9.jpeg">
        </div>
      </div>
    </div>
  </div>
  <script>
$('#logo-carousel').owlCarousel({
    loop:true,
    margin:10,
    autoplay:false,
    nav:true,
    navText: [
        '<i class="fa fa-angle-left"></i>',
        '<i class="fa fa-angle-right"></i>'
    ],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
  </script>
</section>
