<section class="text-two-cols scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">Zweispaltiger Text</h2>
          <p class="description">"Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit..."</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">

        <h3>Forschung</h3>
        <p>Die Forschung an den aktuellen Fragestellungen der Gesellschaft. Träger der Forschung sind die einzelnen Institute, die dabei jeweils eigene Schwerpunkte entwickeln und allein oder in Kooperation mit anderen im internationalen Wettbewerb umsetzen. Die Forschung ist vornehmlich grundlagenorientiert und wird unter anderem durch Aufträge aus der Bundeswehr und der Industrie ergänzt. Basis der zahlreichen Projekte ist eine hervorragende hochschulfinanzierte Grundausstattung.</p>

      </div>
      <div class="col-md-6 ">

        <h3>Lehre</h3>
        <p>Das Studium Bauingenieurwesen und Umweltwissenschaften vermittelt die gesamte Bandbreite ingenieurwissenschaftlicher Methoden und Skills, die unsere Absolventinnen und Absolventen zum verantwortungsbewussten, qualifizierten und flexiblen Entscheiden und Handeln auf wissenschaftlicher Basis befähigen.<br><br>Bachelor ist der erste akademische Grad, der an der Universität abgelegt wird. Darauf baut in der Regel der vertiefende Master-Studiengang auf. Die international anerkannten Abschlüsse Bachelor of Science, B.Sc., und Master of Science, M.Sc. können in sieben, bzw. in zusammen elf Trimestern erworben werden.</p>

      </div>
    </div>
  </div>
</section>
