<!-- Navigation -->
<nav id="menuzord" class="menuzord pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
                <li>
                    <a id="site-komm" href="/kommsite.html" class="site-komm" href="#home">Home</a>
                </li>
                <li class="{% if page.category == 'intro' %}active{% endif %}">
                    <a href="/kommsite-intro.html">Überblick</a>
<!--                     <ul class="dropdown">
                      <li><a href="features-preloader.html">Preloaders</a></li>
                      <li><a href="#">Header</a>
                        <ul class="dropdown">
                          <li><a href="features-header-style1.html">Header Style1</a></li>
                          <li><a href="features-header-style2.html">Header Style2</a></li>
                          <li><a href="features-header-style3.html">Header Style3</a></li>
                          <li><a href="features-header-style4.html">Header Style4</a></li>
                          <li><a href="features-header-style5.html">Header Style5</a></li>
                          <li><a href="features-header-style6.html">Header Style6</a></li>
                          <li><a href="features-header-style7.html">Header Style7</a></li>
                          <li><a href="features-header-vertical-nav.html">Vertical Header</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
                <li class="{% if page.category == 'ziele' %}active{% endif %}">
                    <a href="/kommsite-ziele.html">Ziele</a>
                    <!-- <ul class="dropdown">
                      <li><a href="features-preloader.html">Preloaders</a></li>
                      <li><a href="#">Header</a>
                        <ul class="dropdown">
                          <li><a href="features-header-style1.html">Header Style1</a></li>
                          <li><a href="features-header-style2.html">Header Style2</a></li>
                          <li><a href="features-header-style3.html">Header Style3</a></li>
                          <li><a href="features-header-style4.html">Header Style4</a></li>
                          <li><a href="features-header-style5.html">Header Style5</a></li>
                          <li><a href="features-header-style6.html">Header Style6</a></li>
                          <li><a href="features-header-style7.html">Header Style7</a></li>
                          <li><a href="features-header-vertical-nav.html">Vertical Header</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
                <li class="{% if page.category == 'prozesse' %}active{% endif %}">
                    <a href="/kommsite-prozesse.html">Prozesse</a>
                    <!-- <ul class="dropdown">
                      <li><a href="features-preloader.html">Preloaders</a></li>
                      <li><a href="#">Header</a>
                        <ul class="dropdown">
                          <li><a href="features-header-style1.html">Header Style1</a></li>
                          <li><a href="features-header-style2.html">Header Style2</a></li>
                          <li><a href="features-header-style3.html">Header Style3</a></li>
                          <li><a href="features-header-style4.html">Header Style4</a></li>
                          <li><a href="features-header-style5.html">Header Style5</a></li>
                          <li><a href="features-header-style6.html">Header Style6</a></li>
                          <li><a href="features-header-style7.html">Header Style7</a></li>
                          <li><a href="features-header-vertical-nav.html">Vertical Header</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
                <li class="{% if page.category == 'team' %}active{% endif %}">
                    <a href="/kommsite-team.html">Das Team</a>
                </li>
                <li class="{% if page.category == 'lieferumfang' %}active{% endif %}">
                    <a href="/kommsite-lieferumfang.html">Lieferumfang</a>
                </li>
                <li class="{% if page.category == 'wie' %}active{% endif %}">
                    <a href="/kommsite-wie.html">Wie</a>
                </li>
                <li class="{% if page.category == 'risiken' %}active{% endif %}">
                    <a href="/kommsite-risiken.html">Risiken</a>
                </li>
                <li class="{% if page.category == 'abhaengigkeiten' %}active{% endif %}">
                    <a href="/kommsite-abhaengigkeiten.html">Abhängigkeiten</a>
                </li>
                <li class="{% if page.category == 'deadlines' %}active{% endif %}">
                    <a href="/kommsite-deadlines.html">Termine</a>
                </li>
                

            </ul>
            <!--ul class="pull-right flip hidden-sm hidden-xs">
              <li>
                <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-weight-600 font-16" href="/kontakt.html">Kontakt</a>
              </li>
            </ul-->
<!--             <div id="top-search-bar" xclass="collapse">
              <div class="container">
                <form role="search" action="#" class="search_form_top" method="get">
                  <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                  <span class="search-close"><i class="fa fa-search"></i></span>
                </form>
              </div>
            </div>
 -->          </nav>
          <p id="athene">
              <a href="/">Universität der Bundeswehr München</a>
          </p>
