<!-- Navigation -->
<nav id="menuzord" class="menuzord pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">

                <li class="{% if page.category == 'bereiche' %}active{% endif %}">
                    <a href="/">Bereiche</a>
                     <ul class="dropdown">
                     <li><a href="home.html">unibw.de</a></li>
                     <li><a href="intranet.html">Intranet</a></li>
                      <li><a href="bau.html">BAU</a></li>
                      <li><a href="bw.html">BW</a></li>
                      <li><a href="rz.html">RZ</a></li>
                      <li><a href="studber.html">Studber</a></li>
                     
                      <li><a href="casc.html">CASC</a></li>
                    </ul>
                </li>
                <li class="{% if page.category == 'about' %}active{% endif %}">
                    <a href="/">Prototypseiten</a>
                     <ul class="dropdown">
                      <li><a href="home.html">Startseite</a></li>
                      <li><a href="fak_landing.html">Fakultätsseite</a></li>
                      <li><a href="studies.html">Studiengangsseite</a></li>
                      <li><a href="content.html">Inhaltsseite</a></li>
                      <li><a href="event.html">Eventseite</a></li>
                      <li><a href="person.html">Personenseite</a></li>
                      <li><a href="intranet.html">Intranetseite</a></li>
                    </ul>
                </li>
                <li>
                  <a>Modulbeispiele</a>
                  <ul class="dropdown">
                    <li class="{% if page.category == 'modules' %}active{% endif %}">
                      <a href="/modules.html">Umgesetze Module</a>
                    </li>
                    <li class="{% if page.category == 'potential-modules' %}active{% endif %}">
                      <a href="/potential-modules.html">Mögliche Module</a>
                    </li>
                  </ul>
                </li>
                  
                

            </ul>
            <!--ul class="pull-right flip hidden-sm hidden-xs">
              <li>
                <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-weight-600 font-16" href="/kontakt.html">Kontakt</a>
              </li>
            </ul-->
            <div id="top-search-bar" class="collapse">
              <div class="container">
                <form role="search" action="#" class="search_form_top" method="get">
                  <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                  <span class="search-close"><i class="fa fa-search"></i></span>
                </form>
              </div>
            </div>
          </nav>
          <p id="athene">
              <a href="/">Universität der Bundeswehr München</a>
          </p>
