<!-- Navigation -->
<nav id="menuzord" class="menuzord pull-left flip menuzord-responsive">
  <ul class="menuzord-menu">
    <li class="{% if page.category == 'about' %}active{% endif %}">
      <a href="/">Universität</a>
      <ul class="dropdown">
        <li><a>Aktuelle Meldungen</a></li>
        <li>
          <a>Gremien und Vertretungen</a>
          <ul class="dropdown">
            <li><a>Ausschüsse</a></li>
            <li><a>Beirat für Informations- und KommunikationsInfraStruktur (IKIS)</a></li>
            <li><a>Datenschutzbeauftragter</a></li>
            <li><a>Nachwuchskommission</a></li>
            <li><a>Ethikkommission</a></li>
            <li><a>Gleichstellungsbeauftragte</a></li>
            <li><a>IT-Sicherheitsbeauftragter</a></li>
            <li><a>Konvent der wissenschaftlichen Mitarbeiter</a></li>
            <li><a>Ombudsperson</a></li>
            <li><a>Personalrat</a></li>
            <li><a>Studentischer Konvent</a></li>
            <li><a>Freundeskreis (Name prüfen)</a></li>
          </ul>
        </li>
        <li>
          <a>Leitung</a>
          <ul class="dropdown">
            <li><a>Erweiterte Hochschulleitung</a></li>
            <li><a>Kanzler</a></li>
            <li><a>Militärische Leitung</a></li>
            <li><a>Präsidentin</a></li>
            <li><a>Präsidialabteilung</a></li>
            <li><a>Senat</a></li>
            <li><a>Universitätsrat</a></li>
            <li><a>Verwaltungsrat</a></li>
            <li><a>Vizepräsidenten</a></li>
          </ul>
        </li>
        <li>
          <a>Stellenbörse</a>
          <ul class="dropdown">
            <li><a>Stellenausschreibungen, Offene Stellen</a></li>
            <li><a>Neuberufungen</a></li>
            <li><a>Vakante Professuren</a></li>
            <li><a>Wissenschaftlicher Mitarbeiter</a></li>
            <li><a>Studentische Hilfskräfte</a></li>
            <li><a>wissenschaftliche Hilfskräfte</a></li>
            <li><a>Berufungsorganisation, Berufungsverfahren</a></li>
          </ul>
        </li>
        <li>
          <a>Über uns</a>
          <ul class="dropdown">
            <li><a>Leitbild</a></li>
            <li><a>Geschichte (Historie)</a></li>
            <li><a>Anfahrt</a></li>
            <li><a>Lageplan</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a>Studium</a>
      <ul class="dropdown">
        <li>
          <a>Beratung  Bewerbung</a>
          <ul class="dropdown">
            <li><a>Studieninformationen</a></li>
            <li><a>Zugangsmöglichkeiten (Ihr Weg zu uns, Bewerbung)</a></li>
            <li><a>Studium als Soldat</a></li>
            <li><a>Studium als Zivilist</a></li>
            <li><a>Besonderheiten (Alleinstellungsmerkmale, Spezielles)</a></li>
            <li><a>Förderprogramme/Stipendien</a></li>
            <li><a>Frühförderung für Hochbegabte</a></li>
          </ul>
        </li>
        <li>
          <a>Studienangebot (Studiengänge)</a>
          <ul class="dropdown">
            <li><a>alle Studiengänge nennen mit Berufsfeldern</a></li>
          </ul>
        </li>
        <li>
          <a>Im Studium</a>
          <ul class="dropdown">
            <li><a>E-Learning (Ilias)</a></li>
            <li><a>Studiengänge mit Lehrinhalten</a></li>
            <li><a>Studium plus</a></li>
            <li><a>Vorlesungsverzeichnis</a></li>
            <li><a>Summer School</a></li>
          </ul>
        </li>
        <li><a>Alumni + Career Service</a></li>
        <li>
          <a>Auslandsbüro</a>
          <ul class="dropdown">
            <li><a>Erasmus</a></li>
            <li><a>Fördermöglichkeiten</a></li>
            <li><a>Incoming</a></li>
            <li><a>Internationales</a></li>
            <li><a>Outgoing</a></li>
            <li><a>Partnerhochschulen</a></li>
            <li><a>Auslandsaufenthalt</a></li>
            <li><a>Tutorenmöglichkeiten, Tutorenprogramm</a></li>
          </ul>
        </li>
        <li><a>Weiterbildung</a></li>
      </ul>
    </li>
    <li>
      <a>Forschung</a>
      <ul class="dropdown">
        <li>
          <a>Forschungszentren</a>
          <ul class="dropdown">
            <li><a>Cyber Defence (CODE)</a></li>
            <li><a>Modern Vehicles (MOVE)</a></li>
            <li><a>Munich Integrated Research on Aerospace (MIRA)</a></li>
            <li><a>Risiko, Infrastruktur, Sicherheit und Konflikt (RISK)</a></li>
          </ul>
        </li>
        <li>
          <a>Center of Excellence</a>
        </li>
        <li>
          <a>Fakultäten</a>
          <ul class="dropdown">
            <li><a>Bauingenieurwesen und Umweltwissenschaften (univ.)</a></li>
            <li><a>Elektrotechnik und Informationstechnik (univ.)</a></li>
            <li><a>Humanwissenschaften (univ.)</a></li>
            <li><a>Informatik (univ.)</a></li>
            <li><a>Luft- und Raumfahrttechnik (univ.)</a></li>
            <li><a>Staats- und Sozialwissenschaften (univ.)</a></li>
            <li><a>Wirtschafts- und Organisationswissenschaften (univ.)</a></li>
            <li><a>Betriebswirtschaft (HAW)</a></li>
            <li><a>Elektrotechnik und Technische Informatik (HAW)</a></li>
            <li><a>Maschinenbau (HAW)</a></li>
          </ul>
        </li>
        <li>
          <a>Transfer-Service</a>
          <ul class="dropdown">
            <li><a>Entrepreneurship</a></li>
            <li><a>Startup-Service</a></li>
            <li><a>Technologietransfer</a></li>
            <li><a>Kooperationen</a></li>
          </ul>
        </li>
        <li><a>Forschungsdatenbank (Athene Forschung)</a></li>
        <li>
          <a>Forschungs-Service</a>
          <ul class="dropdown">
            <li><a>Forschungsförderung</a></li>
            <li><a>Drittmittelmanagement</a></li>
            <li><a>Vertragsprüfung und Steuerrecht</a></li>
            <li><a>Patent- und Erfindungsberatung</a></li>
          </ul>
        </li>
        <li>
          <a>Nachwuchsförderung</a>
          <ul class="dropdown">
            <li><a>Post-Doc</a></li>
            <li><a>Promovierende</a></li>
            <li><a>ProfiLehre</a></li>
            <li><a>Förderprogramme</a></li>
          </ul>
        </li>
        <li>
          <a>Qualitätsmanagement</a>
          <ul class="dropdown">
            <li><a>DFG-Beauftragter</a></li>
            <li><a>Nachwuchskommission</a></li>
            <li><a>Ethikkommission</a></li>
            <li><a>Kommission zur Sicherstellung der guten wiss. Praxis</a></li>
            <li><a>Chancengleichheit in der Wissenschaft</a></li>
            <li><a>Ombudsperson</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a>Einrichtungen</a>
      <ul class="dropdown">
        <li><a>Bibliothek (Universitätsbibliothek)</a></li>
        <li><a>Institut für Technik Intelligenter Systeme (ITIS)</a></li>
        <li><a>Medienzentrum</a></li>
        <li><a>Prüfungsamt</a></li>
        <li><a>Rechenzentrum</a></li>
        <li><a>Sportzentrum</a></li>
        <li><a>Sprachenzentrum</a></li>
        <li><a>Zentrale Verwaltung</a></li>
      </ul>
    </li>
    <li>
      <a>Campusleben</a>
      <ul class="dropdown">
        <li>
          <a>Für die Seele</a>
          <ul class="dropdown">
            <li><a>Betriebliches Gesundheitsmanagement</a></li>
            <li><a>Militärseelsorge</a></li>
            <li><a>Psychosoziale Beratungsstelle</a></li>
          </ul>
        </li>
        <li>
          <a>Kinderbetreuung</a>
          <ul class="dropdown">
            <li><a>Kinderkrippe (Campusküken)</a></li>
            <li><a>Kindergarten</a></li>
          </ul>
        </li>
        <li>
          <a>Musik</a>
          <ul class="dropdown">
            <li><a>Big Band</a></li>
            <li><a>Uni-Chor</a></li>
          </ul>
        </li>
        <li>
          <a>Sport an der Uni</a>
          <ul class="dropdown">
            <li><a>Sportförderverein</a></li>
            <li><a>Sportzentrum</a></li>
          </ul>
        </li>
        <li>
          <a>Verpflegung</a>
          <ul class="dropdown">
            <li><a>Restaurant (Brandl)</a></li>
            <li><a>Mensa</a></li>
            <li><a>Supermarkt</a></li>
            <li><a>Unibar</a></li>
            <li><a>UniCasino</a></li>
          </ul>
        </li>
        <li><a>Uni-Fashion</a></li>
      </ul>
    </li>
    <li>
      <a>Militärisches</a>
      <ul class="dropdown">
        <li>
          <a>Studierendenbereich</a>
          <ul class="dropdown">
            aero
            alpha
            bravo
            charlie
            delta
          </ul>
        </li>
        <li><a>Angebote</a></li>
        <li><a>Ansprechpartner</a></li>
        <li><a>Antragsstellung</a></li>
        <li><a>BFD</a></li>
        <li><a>bundeswehr.org</a></li>
        <li><a>Dienstpläne</a></li>
        <li><a>DV-Stelle</a></li>
        <li><a>Freizeitbüro</a></li>
        <li><a>Militärische Gleich-stellungsbeauftragte</a></li>
        <li><a>Interessengruppen</a></li>
        <li><a>Militärseelsorge</a></li>
        <li><a>Psychologische Beratungsstelle</a></li>
        <li><a>Rechnungsführer</a></li>
        <li><a>S1-S6</a></li>
        <li><a>Sanitätszentrum</a></li>
        <li><a>Sozialdienst der Bundeswehr</a></li>
        <li><a>Sportfördergruppe</a></li>
        <li><a>Sprachnachweis (SLP)</a></li>
        <li><a>Stab</a></li>
        <li><a>Stamm</a></li>
        <li><a>Truppenkameradschaft</a></li>
        <li><a>ÜVAS</a></li>
        <li><a>Vertrauenspersonen</a></li>
        <li><a>Wache</a></li>
        <li><a>Wohnen</a></li>
      </ul>
    </li>
  </ul>
  <ul class="pull-right flip hidden-sm hidden-xs">
    <li>
      <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-weight-600 font-16" href="/kontakt.html">Kontakt</a>
    </li>
  </ul>
  <div id="top-search-bar" class="collapse">
    <div class="container">
      <form role="search" action="#" class="search_form_top" method="get">
        <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off"/>
        <span class="search-close"><i class="fa fa-search"></i></span>
      </form>
    </div>
  </div>
</nav>
<p id="athene">
  <a href="/">Universität der Bundeswehr München</a>
</p>
