<!-- Navigation -->
<nav id="menuzord" class="menuzord pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
                <li>
                    <a id="faculty-rz" href="/rz.html" class="faculty-rz" href="#home">Rechenzentrum</a>
                </li>
                <li class="{% if page.category == 'about' %}active{% endif %}">
                    <a href="/rz-about.html">Das RZ</a>
                </li>
                <li class="{% if page.category == 'services' %}active{% endif %}">
                    <a href="/rz-services.html">Dienste & Leistungen</a>
                </li>
                <li class="{% if page.category == 'help' %}active{% endif %}">
                    <a href="/rz-help.html">Hilfe & Support</a>
                </li>
                

            </ul>
          </nav>
          <p id="athene">
              <a href="/">Universität der Bundeswehr München</a>
          </p>
