<!-- Navigation -->
<nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
                <li class="active">
                    <a id="faculty" href="/" class="faculty-casc" href="#home">casc</a>
                </li>
                <li>
                    <a href="/programme/">Programme</a>
<!--                     <ul class="dropdown">
                      <li><a href="features-preloader.html">Preloaders</a></li>
                      <li><a href="#">Header</a>
                        <ul class="dropdown">
                          <li><a href="features-header-style1.html">Header Style1</a></li>
                          <li><a href="features-header-style2.html">Header Style2</a></li>
                          <li><a href="features-header-style3.html">Header Style3</a></li>
                          <li><a href="features-header-style4.html">Header Style4</a></li>
                          <li><a href="features-header-style5.html">Header Style5</a></li>
                          <li><a href="features-header-style6.html">Header Style6</a></li>
                          <li><a href="features-header-style7.html">Header Style7</a></li>
                          <li><a href="features-header-vertical-nav.html">Vertical Header</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
                <li>
                    <a href="/service/">Service</a>
                    <!-- <ul class="dropdown">
                      <li><a href="features-preloader.html">Preloaders</a></li>
                      <li><a href="#">Header</a>
                        <ul class="dropdown">
                          <li><a href="features-header-style1.html">Header Style1</a></li>
                          <li><a href="features-header-style2.html">Header Style2</a></li>
                          <li><a href="features-header-style3.html">Header Style3</a></li>
                          <li><a href="features-header-style4.html">Header Style4</a></li>
                          <li><a href="features-header-style5.html">Header Style5</a></li>
                          <li><a href="features-header-style6.html">Header Style6</a></li>
                          <li><a href="features-header-style7.html">Header Style7</a></li>
                          <li><a href="features-header-vertical-nav.html">Vertical Header</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
                <li>
                    <a href="/institut/">Institut</a>
                    <!-- <ul class="dropdown">
                      <li><a href="features-preloader.html">Preloaders</a></li>
                      <li><a href="#">Header</a>
                        <ul class="dropdown">
                          <li><a href="features-header-style1.html">Header Style1</a></li>
                          <li><a href="features-header-style2.html">Header Style2</a></li>
                          <li><a href="features-header-style3.html">Header Style3</a></li>
                          <li><a href="features-header-style4.html">Header Style4</a></li>
                          <li><a href="features-header-style5.html">Header Style5</a></li>
                          <li><a href="features-header-style6.html">Header Style6</a></li>
                          <li><a href="features-header-style7.html">Header Style7</a></li>
                          <li><a href="features-header-vertical-nav.html">Vertical Header</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
                <li>
                    <a href="/aktuelles/">Aktuelles</a>
                    <!-- <ul class="dropdown">
                      <li><a href="features-preloader.html">Preloaders</a></li>
                      <li><a href="#">Header</a>
                        <ul class="dropdown">
                          <li><a href="features-header-style1.html">Header Style1</a></li>
                          <li><a href="features-header-style2.html">Header Style2</a></li>
                          <li><a href="features-header-style3.html">Header Style3</a></li>
                          <li><a href="features-header-style4.html">Header Style4</a></li>
                          <li><a href="features-header-style5.html">Header Style5</a></li>
                          <li><a href="features-header-style6.html">Header Style6</a></li>
                          <li><a href="features-header-style7.html">Header Style7</a></li>
                          <li><a href="features-header-vertical-nav.html">Vertical Header</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
            </ul>
            <ul class="pull-right flip hidden-sm hidden-xs">
              <li>
                <!-- Modal: Book Now Starts -->
                <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-14 bs-modal-ajax-load mt-0 p-25 pr-15 pl-15" href="/antrag/">Antrag stellen</a>
                <!-- Modal: Book Now End -->
              </li>
            </ul>
            <div id="top-search-bar" class="collapse">
              <div class="container">
                <form role="search" action="#" class="search_form_top" method="get">
                  <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                  <span class="search-close"><i class="fa fa-search"></i></span>
                </form>
              </div>
            </div>
          </nav>
