<!-- Navigation -->
<nav id="menuzord" class="menuzord pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
                <li>
                    <a id="faculty-bw" href="/bw.html" class="faculty-bw" href="#home">BW</a>
                </li>
                <li class="{% if page.category == 'bw' %}active{% endif %}">
                    <a href="/bw.html">Institute</a>
                    <ul class="dropdown">
                      <li><a href="#">Unternehmensführung</a></li>
                      <li><a href="#">Ökonomie und Recht</a></li>
                      <li><a href="bw_institut_orgkomm.html">Organisationskommunikation</a></li>
                      <li><a href="#">Journalistik</a></li>
                      <li><a href="#">Mathematik und Informatik</a></li>
                    </ul>
                </li>
                <li class="{% if page.category == 'bw' %}active{% endif %}">
                    <a href="bw_studiengaenge.html">Studiengänge</a>
                    <ul class="dropdown">
                      <li><a href="ba-management-medien.html">BA Management und Medien</a></li>
                      <li><a href="ba-management-medien.html">MA Management und Medien</a></li>
                      <li><a href="#">Ziviles Studium</a></li>

                    </ul>
                </li>

                
                

            </ul>
            <!--ul class="pull-right flip hidden-sm hidden-xs">
              <li>
                <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-weight-600 font-16" href="/kontakt.html">Kontakt</a>
              </li>
            </ul-->
<!--             <div id="top-search-bar" xclass="collapse">
              <div class="container">
                <form role="search" action="#" class="search_form_top" method="get">
                  <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                  <span class="search-close"><i class="fa fa-search"></i></span>
                </form>
              </div>
            </div>
 -->          </nav>
          <p id="athene">
              <a href="/">Universität der Bundeswehr München</a>
          </p>
