<!-- Navigation -->
<nav id="menuzord" class="menuzord pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
                <li>
                    <a id="faculty-bau" href="/bau.html" class="faculty-bau" href="#home">BAU</a>
                </li>
                <li class="{% if page.category == 'bauv1' %}active{% endif %}">
                    <a href="/bauv1.html">Institute</a>
                    <ul class="dropdown">
                      <li><a href="#">Mathematik und Bauinformatik</a></li>
                      <li><a href="#">Institut für Mechanik und Statik</a></li>
                      <li><a href="bau_institut_werkstoffe.html">Werkstoffe des Bauwesens</a></li>
                      <li><a href="#">Institut für Konstruktiven Ingenieurbau</a></li>
                    </ul>
                </li>
                <li class="{% if page.category == 'bauv1' %}active{% endif %}">
                    <a href="bau_studiengaenge.html">Studiengänge</a>
                    <ul class="dropdown">
                      <li><a href="studiengang-buu.html">Bauingenieurwesen und Umweltwissenschaften</a></li>
                      <li><a href="#">Mathematical Engineering</a></li>

                    </ul>
                </li>

                <li class="{% if page.category == 'bauv2' %}active{% endif %}">
                    <a href="/christian_thienel.html">Prof. Dr.-Ing. Karl-Christian Thienel</a>
                    <!-- <ul class="dropdown">
                      <li><a href="features-preloader.html">Preloaders</a></li>
                      <li><a href="#">Header</a>
                        <ul class="dropdown">
                          <li><a href="features-header-style1.html">Header Style1</a></li>
                          <li><a href="features-header-style2.html">Header Style2</a></li>
                          <li><a href="features-header-style3.html">Header Style3</a></li>
                          <li><a href="features-header-style4.html">Header Style4</a></li>
                          <li><a href="features-header-style5.html">Header Style5</a></li>
                          <li><a href="features-header-style6.html">Header Style6</a></li>
                          <li><a href="features-header-style7.html">Header Style7</a></li>
                          <li><a href="features-header-vertical-nav.html">Vertical Header</a></li>
                        </ul>
                      </li>
                    </ul> -->
                </li>
                

            </ul>
            <!--ul class="pull-right flip hidden-sm hidden-xs">
              <li>
                <a class="btn btn-colored btn-flat bg-theme-color-2 text-white font-weight-600 font-16" href="/kontakt.html">Kontakt</a>
              </li>
            </ul-->
<!--             <div id="top-search-bar" xclass="collapse">
              <div class="container">
                <form role="search" action="#" class="search_form_top" method="get">
                  <input type="text" placeholder="Type text and press Enter..." name="s" class="form-control" autocomplete="off">
                  <span class="search-close"><i class="fa fa-search"></i></span>
                </form>
              </div>
            </div>
 -->          </nav>
          <p id="athene">
              <a href="/">Universität der Bundeswehr München</a>
          </p>
