<section class="news">

  <div class="container">

    <div class="row">

      <img class="col-md-4 col-sm-5 img-circle img-responsive hidden-xs" src="/media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg">

      <div class="col-md-7 col-md-offset-1 col-sm-offset-1 col-sm-5">
        <a href="content.html" class="no-hover">
          <div class="category">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Aktuelles
          </div>
            <h2 class="mt-0">Universität der Bundeswehr München überzeugt in New York</h2>
            <h3 class="font-16">14.04.2016: Die Universität der Bundeswehr München nimmt zum zehnten Mal an einer der größten UN-Simulationen weltweit teil. In diesem Jahr gewinnt sie am UN-Hauptsitz in Manhattan für ihre herausragende Präsentation den „Outstanding Delegation Award“.</h3>

            <img class="img-responsive visible-xs" src="/media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg">

            <p>Im Rahmen der einwöchigen Konferenz fanden am UN-Hauptsitz zahlreiche Debatten und Gespräche statt.Auch in diesem Jahr übernahmen die Studierenden wieder die Rollen von Diplomatinnen und Diplomaten.</p>
            <p>So durften die Teilnehmerinnen und Teilnehmer des studium plus-Kurses „Model United Nations (MUN)“ dieses Jahr Kuwait repräsentieren und damit die politischen Standpunkte des arabischen Landes kennen lernen.</p>
        </a>
      </div>

    </div>

  </div>
</section>
