
<section class="news">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-7 col-sm-6">
          <a href="content.html" class="no-hover">
            <div class="category">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              Aktuelles
            </div>
              <h2 class="mt-0">Tag der Bundeswehr</h2>
              <p class="description">11.06.2016: Die Universität der Bundeswehr München läd zum Tag der Bundeswehr.</p>

              <img class="img-responsive visible-xs" src="{% if include.image %}{{include.image}}{%else%}media/news/uni_bw_new_york_4x4.jpg{%endif%}">
              

              <p>Am 11. Juni fand deutschlandweit an 16 Standorten der Tag der Bundeswehr statt. Trotz des regnerischen Wetters besuchten mehrere Tausend Gäste den Campus, um die Universität und die Bundeswehr als Ganzes kennenzulernen.</p>
              <p>Die Präsidentin der Universität der Bundeswehr München, Prof. Merith Niehuss, eröffnete um 10.30 Uhr die Veranstaltung und hieß insbesondere die vielen Familien willkommen. Vom Erdbebenrütteltisch bis zum Industrieroboter &ndash; in der Welt der Wissenschaft begeisterten die Forscherinnen und Forscher mit familienfreundlichen Experimenten. Die zahlreichen Gäste testeten die Tragfähigkeit der nach dem Erfinder Leonardo da Vinci benannten Brücke, die ohne Schrauben, Dübel oder Seile hält. Kinder bauten die Brücke in Miniaturform nach.</p>
          </a>
        </div>

        <img class="col-md-4 col-md-offset-1 col-sm-offset-1 col-sm-5 img-responsive hidden-xs" src="{% if include.image %}{{include.image}}{%else%}media/news/uni_bw_new_york_4x4.jpg{%endif%}">
      </div>
    </div>
  </div>
</section>
