<section class="opening-times">
  <div class="container">
    <div class="section-title">
      <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">{{include.title}}</h2>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="p-10 mr-10 scheme-{{include.color_scheme}}">
          <h4><b>Rechenzentrum</b></h4>
          <ul class="list">
            <li><a href="content.html">Tag der Bundeswehr</a></li>
            <li><a href="content.html">Universität der Bundeswehr München überzeugt in New York</a></li>
            <li><a href="content.html">3. Kinderuni</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 ">
        <div class="p-10 scheme-{{include.color_scheme}}">
          <h4><b>Servicedesk</b></h4>
          <ul class="list">
            <li><a href="#">RZ-Fileserver (share.unibw.de): 26.08.16 08-18:00 Uhr</a></li>
            <li><a href="#">HISinOne: 23.08.16 18-20:00 Uhr</a></li>
            <li><a href="#">Geb. 36 Stromabschaltung: 10.-12.08.16 jeweils 08-18:00 Uhr</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-10 ml-10 scheme-{{include.color_scheme}}">
          <h4><b>Pools & Arbeitsräume</b></h4>
          <ul class="list">
            <li><a href="#">Mensa: 11-14:00 Uhr</a></li>
            <li><a href="#">PAUS: 07:30-11:30 Uhr, 13:30-15:30 Uhr</a></li>
            <li><a href="#">Zahlstelle: 07:30-11:30 Uhr, 13:30-15:30 Uhr</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
