<section class="scheme-light-gray">
  <div class="container">

    <div class="section-title">
      <div class="row">
        <div class="col-md-12">    
          <h2 class="module-title line-bottom">Öffnungszeiten</h2>
          
        </div>
      </div>
    </div>


    <div class="section-content">
      <div class="row text-center">
        
          <div class="col-sm-6 col-md-4">
            <div class="icon-box iconbox-bg p-30 mb-30 iconbox-theme-colored">
              <a class="icon icon-gray icon-circled icon-border-effect effect-circled">
                <i class="fa fa-pencil-square-o"></i>
              </a>
              <h5 class="icon-box-title">ServiceDesk</h5>
              <p class="text-gray">Montag-Donnerstag<br>08-12 und 13-15 Uhr<br><br>Freitag<br>08-12 und 13-14 Uhr</p>
            </div>
          </div>
        
          <div class="col-sm-6 col-md-4">
            <div class="icon-box iconbox-bg p-30 mb-30 iconbox-theme-colored">
              <a class="icon icon-gray icon-circled icon-border-effect effect-circled">
                <i class="fa fa-laptop"></i>
              </a>
              <h5 class="icon-box-title">PC-Pools</h5>
              <p class="text-gray">mit Zugangskarte<br>00-24 Uhr<br><br>Pool4 (Gebäude 104)<br>07-19 Uhr</p>
            </div>
          </div>
        
          <div class="col-sm-6 col-md-4">
            <div class="icon-box iconbox-bg p-30 mb-30 iconbox-theme-colored">
              <a class="icon icon-gray icon-circled icon-border-effect effect-circled">
                <i class="fa fa-print"></i>
              </a>
              <h5 class="icon-box-title">Druckausgabe</h5>
              <p class="text-gray">mit Zugangskarte<br>00-24 Uhr<br><br>Ein-/Ausgabe-Raum 46/107<br>und MFP</p>
            </div>
          </div>
        
      </div>
    </div>

  </div>
</section>