  <section id="organisationskontakt">
    <div class="container">
      <div class="section-title">
        <div class="row">
          <div class="col-md-12">
            <h2 class="module-title line-bottom">Ihr Weg zu uns</h2>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-md-7">

            <article class="post media-post clearfix pb-0 mb-20">
            <!--img class="img-circle" width="120" style="width: 120px" alt="" src="media/people/karl-christian-thienel.jpg"-->
            <div class="post-right">
              <h5>Universität der Bundeswehr München</h5>
              <p>Rechenzentrum<br />
              Werner-Heisenberg-Weg 46<br />
              85579 Neubiberg</p>
            </div>
            </article>
            <article class="mb-20">
              <h5>So finden Sie uns:</h5>
              <div><a href="#"><i class="fa fa-map text-theme-color-2 mr-5"></i> über Google-Maps</a></div>
              <div><a href="#"><i class="fa fa-file-pdf-o text-theme-color-2 mr-5"></i> Anfahrtsplan als PDF</a></div>
              <div><a href="#"><i class="fa fa-bus text-theme-color-2 mr-5"></i> mit öffentichen Verkehrsmitteln</a></div>
              <div><a href="#"><i class="fa fa-road text-theme-color-2 mr-5"></i> Campus-Zugang / Weg zum RZ</a></div>
            </article>
            <article class="mb-20">
              <p>Bitte bringen Sie einen Personalausweis oder<br />
               Reisepass mit, um sich an der Hauptwache<br /> auszuweisen!</p>
              </article>
          </div>
          <div class="col-md-5">
            <div id="floor_plan"
                style="background-image:url('media/lageplan_neutral_low_480.jpg');width:480px;height:524px;background-repeat:no-repeat"
                class="img-responsive img-fullwidth">
                <img src="media/pointer1.png"
                    id="point1"
                    style="position:relative;z-index:2;left:295px;top:200px">
            </div>

            <div class="legend">
                <h3>Legende</h3>
                <ul>
                  <li>1: Rechenzentrum (Gebäude 46)</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
