  <section id="organisationskontakt">
    <div class="container">
      <div class="section-title">
        <div class="row">
          <div class="col-md-12">
            <h2 class="module-title line-bottom">Organisations-Kontakt</h2>
            <p class="description">Leitung der Organisation und Lageplan</p>
          </div>
        </div>
      </div>
      <div class="section-content">
        <div class="row">
          <div class="col-sm-12 col-md-7">
          {% for person in page.orgkontakt %}
            {% include single_inline_person.html person=person.name role=person.role %}
          {% endfor %}
          </div>
          <div class="col-sm-12 col-md-5">
            <div id="floor_plan"
                style="background-image:url('media/lageplan_neutral_low_480.jpg');width:480px;height:524px;background-repeat:no-repeat"
                class="img-responsive img-fullwidth">
                <img src="media/pointer1.png"
                    id="point1"
                    style="position:relative;z-index:2;left:100px;top:110px">
                <img src="media/pointer2.png"
                    id="point2"
                    style="position:relative;z-index:2;left:280px;top:225px">
                <img src="media/pointer3.png"
                    id="point3"
                    style="position:relative;z-index:2;left:215px;top:355px">
            </div>

            <div class="legend">
                <h3>Legende</h3>
                <ul>
                  <li>1: Hauptverwaltung</li>
                  <li>2: Zentrale Studienberatung</li>
                  <li>3: Eine Position funktioniert auch wenn der Text länger ist</li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
