<section id="content" class="silver">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-12">
        <div>
          <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">Veranstalter</h2>
          <h3>Alumni und Career Service</h3>

          <p>Die Universität der Bundeswehr München unterstützt mit dem Alumni und Career Service ihre Studierenden und Alumni bei Berufseinstieg und Karriereplanung und fördert den Austausch zwischen Universität, Alumni und Unternehmen.
            www.unibw.de/alumni</p>


          <h3>casc &ndash; campus advanced studies center</h3>

          <p>Seit 2008 bietet das universitätsinterne Weiterbildungsinstitut casc attraktive Weiterbildungsprogramme an. Die maßgeschneiderten Angebote orientieren sich an den zeitlichen Kontingenten und den finanziellen Fördermöglichkeiten der Teilnehmerinnen und Teilnehmer und eröffnen so eine möglichst optimale Kombination von Berufsleben und Studium. Die Verbindung von Forschungsnähe und Praxisrelevanz stiftet einen direkten Nutzen für den zukünftigen Berufseinstieg. Zusammen mit vielfältigen Netzwerk- und Alumniaktivitäten werden so aktiv Karrieren gefördert.
            www.unibw.de/casc.de</p>
        </div>
      </div>

      <div class="col-md-6 col-sm-12 col-md-offset-1 contact box">
        <div>
          <h2>Kontakt</h2>
          <div class="media contact">
            <div class="pull-left">
              <img class="icon-lg" src="/media/people/borghoff_4x4.png">
            </div>
            <div class="pull-left contact-details">
              <h4 class="media-heading">Stephanie Borghoff, Alumni und Career Service</h4>
              <p>Tel.: 089 6004-6050</p>
              <p>E-Mail: <a href="mailto:stephanie.borghoff@unibw.de">stephanie.borghoff@unibw.de</a></p>
            </div>
          </div>
          <div class="media contact">
            <div class="pull-left">
              <img class="icon-lg" src="/media/people/hucl_4x4.jpg">
            </div>
            <div class="pull-left contact-details">
              <h4 class="media-heading">Martina Hucl, CASC</h4>
              <p>Tel.: 089 6004-2225</p>
              <p>E-Mail: <a href="mailto:martina.hucl@casc.de">martina.hucl@casc.de</a></p>
            </div>
          </div>
          <div class="media contact">
            <div class="pull-left">
              <img class="icon-lg" src="/media/people/jeraj_4x4.jpeg">
            </div>
            <div class="pull-left contact-details">
              <h4 class="media-heading">Dr. Brigita Jeraj, CASC</h4>
              <p>Tel.: 089 6004-2036</p>
              <p>E-mail: <a href="mailto:jeraj@unibw.de">brigita.jeraj@unibw.de</a></p>
            </div>
          </div>
          <div class="media contact">
            <div class="pull-left">
              <img class="icon-lg" src="/media/people/matzner_4x4.png">
            </div>
            <div class="pull-left contact-details">
              <h4 class="media-heading">Dr. Nicol Matzner-Vogel, CASC</h4>
              <p>Tel.: 089 6004-4530</p>
              <p>E-Mail: <a href="mailto:nicol.matzner@casc.de">nicol.matzner@casc.de</a></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
