<section id="organisationskontakt" class="">
  <div class="container pb-50">
    <div class="section-content">
      <div class="row"> 
        <div class="col-md-6">
          {% include single_inline_person.html person="thomas_hartung" %}
          {% include single_inline_person.html person="bernhard_hirsch" %}
          {% include single_inline_person.html person="andrea_hoffmann" %}          
        </div>
        <div class="col-md-6">
          <img alt="" src="/media/campusplan-wow-large.png" class="img-responsive img-fullwidth">
        </div>
      </div>
    </div>
  </div>
</section>
