<section class="scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">Forschung und Kooperationen</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">

        <h3>Forschung</h3>
        <p>Die Professorinnen und Professoren des Instituts betreiben anwendungsbezogene Forschung und Entwicklung in ihren jeweiligen Fachgebieten. Detaillierte Informaitonen finden Sie auf den Internetseiten der Professuren. </p>

        


      </div>
      <div class="col-md-6 ">
        <h3>Externe Kooperationen</h3>
        <p>Darüber hinaus gibt es immer wieder Kooperationen mit Unternehmen und anderen Bildungseinrichtungen. Kontinuierlich kooperiert Prof. Dr. Sigrid Rotering-Steinberg mit der Universität Tübingen, der Universität Hamburg, der Universität Graz sowie der Bundesfinanzakademie, Brühl und Berlin und dem Netzwerk SoVal, München an zahlreichen Forschungsprojekten.</p>


        



      </div>
    </div>
  </div>
</section>
