<section id="studies-info" class="scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div>
          <h2>Übersicht</h2>
          <p><b>Anforderung:</b> Abitur sowie gute Deutsch und Englischkenntnisse</p>
          <p><b>Nächster Start:</b> 24.07.2016</p>
          <p><b>Bewerbungsfrist:</b> Herbsttrimester 2016</p>
          <p><b>Einstieg bis:</b> 24.08.2016</p>
          <p><b>Abschluss</b> Bachelor of Science (B.Sc.)</p>
          <p><b>Studienform</b> Vollzeit, Präsenzstudium</p>
          <p><b>Regelstudienzeit:</b> 3 Jahre</p>
          <p><b>ECTS:</b> 40</p>
          <button type="button" class="btn btn-theme-color-2 text-white">Jetzt bewerben</button>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 box scheme-dark-gray">
        <div>
          <h3>Weiterführende Informationen:</h3>
          <ul class="list-icon">
            <li><a href="#"><i class="fa fa-file"></i> Modulhandbuch</a></li>
            <li><a href="#"><i class="fa fa-file"></i> Prüfungsordnung</a></li>
            <li><a href="#"><i class="fa fa-calendar"></i> Studienplan </a></li>
            <li><a href="#"><i class="fa fa-user"></i> Lehrende</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</section>
