<section id="studies-info" class="silver">
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-sm-6">
        <div>
          <h2>Übersicht</h2>
          <p><b>Anforderung:</b> Abitur sowie gute Deutsch und Englischkenntnisse</p>
          <p><b>Nächster Start:</b> 24.07.2016</p>
          <p><b>Bewerbungsfrist:</b> Herbsttrimester 2016</p>
          <p><b>Einstieg bis:</b> 24.08.2016</p>
          <p><b>Abschluss</b> Bachelor of Science (B.Sc.)</p>
          <p><b>Studienform</b> Vollzeit, Präsenzstudium</p>
          <p><b>Regelstudienzeit:</b> 3 Jahre</p>
          <p><b>ECTS:</b> 40</p>
          <button type="button" class="btn">Jetzt bewerben</button>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 box">
        <div>
          <h3>Weiterführende Informationen:</h3>
          <a href="#" class="download-link">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            Modulhandbuch
          </a>
          <a href="#" class="download-link">
            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
            Prüfungsordnung
          </a>
          <a href="#" class="download-link">
            <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            Studienplan
          </a>
          <a href="#" class="download-link">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Lehrende
          </a>
        </div>
      </div>

    </div>
  </div>
</section>
