<section class="news">


  {% for item in site.posts %}
  {% if item.department == include.department %}
  
  {% if item.category == include.category %}
  {% assign rowcycle = forloop.index0 | modulo: 2 %}
  <div class="container {% if rowcycle == 1 %} scheme-{{include.color_scheme}} {% endif %}">
    <div class="row">

      {% if rowcycle == 0 %}
      <img class="col-md-4 col-sm-5 img-responsive hidden-xs" src="{{ item.img }}">
      {% endif %}

      <div class="col-md-7 col-sm-5">
        <a href="{{ item.url }}" class="no-hover">
          <h2 class="mt-0"> {{ item.title }} </h2>
          <h3 class="font-16">{{ item.description }}</h3>

          <img class="img-responsive visible-xs" src="{{ item.img }}">

          {{ item.content }} 
        </a>
      </div>

      {% if rowcycle == 1 %}
      <img class="col-md-4 col-sm-5 img-responsive hidden-xs col-md-offset-1 col-sm-offset-1" src="{{ item.img }}">
      {% endif %}

    </div>
  </div>
  {% endif %}
  {% endif %}
  {% endfor %}

</section>
