<section class="news news-img-left scheme-{{include.color_scheme}}">

  <div class="container">

    <div class="row">
    {% for item in site.posts %}
      {% if item.name == include.pagename %}
      <a href="{{ item.url | replace_first: '/', '' }}" class="no-hover">
        <!-- <img class="col-md-4 col-sm-5  img-responsive hidden-xs" src="{{ item.img }}"> -->

        <div class="col-md-4">
          <div class="fluid-video-wrapper">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/G2iriX0YJek" frameborder="0" allowfullscreen></iframe>
          </div>        
        </div>
        <div class="col-md-7 col-md-offset-1 col-sm-offset-1 col-sm-5">
            <h2 class="module-title line-bottom"> {{ item.title }} </h2>
            <p class="description" >{{ item.description }}</p>
            {% if include.showcontent %}
              {{ item.content | markdownify }}
            {% endif %}

            <!-- <img class="img-responsive visible-xs" src="{{ item.img }}"> -->
<!--             <iframe class="img-responsive visible-xs" src="https://www.youtube.com/embed/G2iriX0YJek" frameborder="0" allowfullscreen></iframe>
 -->        </div>
      </a>
      {% endif %}
    {% endfor %}
    </div>

  </div>
</section>
