<section class="news scheme-{{include.color_scheme}}">

  <div class="container">

    <div class="row">
    {% for item in site.posts %}
      {% if item.name == include.pagename %}

      <div class="col-md-7  col-sm-5">
        <a href="{{ item.url }}" class="no-hover">
            <h2 class="mt-0"> {{ item.title }} </h2>
            <h3 class="font-16">{{ item.description }}</h3>

            <img class="img-responsive visible-xs" src="{{ item.img }}">

           {{ item.content | markdownify }} 
        </a>
      </div>

      <img class="col-md-4 col-sm-5  img-responsive hidden-xs col-md-offset-1 col-sm-offset-1" src="{{ item.img }}">
      {% endif %}
    {% endfor %}
    </div>

  </div>
</section>
