<section class="news">
  <div class="container">
    <div class="row">

      <img class="col-md-3 col-sm-5 img-responsive hidden-xs" src="/media/people/dreo_4x4.jpg">

      <div class="col-md-5 col-md-offset-1 col-sm-offset-1 col-sm-5 img-xs">
        <img class="img-responsive visible-xs" src="/media/people/dreo_4x4.jpg">

        <div class="inst-wrapper">
          <b>Institut für Technische Informatik</b>
          <table class="table table-striped">
            <tbody>
              <tr>
                <td><b><i class="fa fa-home" aria-hidden="true"></i></b></td>
                <td>Gebäude 41/300, Zimmer 0304</td>
              </tr>
              <tr>
                <td><b><i class="fa fa-phone" aria-hidden="true"></i></b></td>
                <td>
                  <a href="tel:+49 89 6004 2826">+49 89 6004 2826</a>
                </td>
              </tr>
              <tr>
                <td><b><i class="fa fa-fax" aria-hidden="true"></i></b></td>
                <td>
                  <a href="tel:+49 89 6004 3898">+49 89 6004 3898</a>
                </td>
              </tr>
              <tr>
                <td><b><i class="fa fa-envelope" aria-hidden="true"></i></b></td>
                <td><a href="mailto:gabi.dreo@unibw.de">Gabi.Dreo [at] unibw.de</a></td>
              </tr>
              <tr>
                <td><b><i class="fa fa-user" aria-hidden="true"></i></b></td>
                <td>Sekretariat: <a href="tel:+49 89 6004 2244">+49 89 6004 2244</a> (Anna Meyer)</td>
              </tr>
              <tr>
                <td>
                  <b><i class="fa fa-share-square-o" aria-hidden="true"></i></b>
                </td>
                <td>
                  <a href="http://www.xing.de" class="social-link">
                    <i class="fa fa-xing" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/" class="social-link">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="http://www.facebook.com" class="social-link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://plus.google.com/" class="social-link">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social-link">
                    V-Card:
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</section>
