<section class="bg-lighter">
  <div class="container">

    {% assign programmes = site.posts | where:"parent", include.parent %}
    {% for item in programmes %}

        {% assign loopindex = forloop.index0 | modulo: 3 %}
        {% if loopindex == 0 %}<div class="row">{% endif %}

      <div class="col-md-4">
        <div class="gallery-item studiengang">
          <article class="post clearfix mb-30 bg-deep">
            <div class="entry-header">
              <div class="post-thumb thumb"> 
                <a href="{{ item.url }}" ><img src="{{ item.hero_image }}" alt="" class="img-responsive img-fullwidth"> </a>
              </div>
            </div>
            <div class=" border-1px p-20 pr-10">
              <div class="entry-meta media mt-0 no-bg no-border">
                <div class="media-body">
                  <div class="event-content pull-left flip">
                    <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="{{ item.url }}">{{ item.title }}</a></h4>
                  </div>
                </div>
              </div>
              <p class="mt-10">{{ item.description }}</p>
              <a href="{{ item.url }}" class="btn-read-more">Mehr</a>
              <div class="clearfix"></div>
            </div>
          </article>
        </div>
      </div>
    {% if loopindex == 2 or forloop.last %}</div>{% endif %}
    {% endfor %}

  </div>
</section>
