<section id="bottom" class="hidden-xs scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4>Quicklinks</h4>
        <div class="quicklinks-wrapper clearfix">
          <div class="row">
            <a href="#" class="quicklink">
              <i class="fa fa-briefcase" aria-hidden="true"></i><br>
              Presse
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-circle-o" aria-hidden="true"></i><br>
              Alumni
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-eye" aria-hidden="true"></i><br>
              Wissenshcaft
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-laptop" aria-hidden="true"></i><br>
              Studium
            </a>
          </div>
          
         
        </div>
      </div><!--/.col-lg-3-->

      <div class="col-lg-6">
        <hr class="visible-xs">
        <h4>Veranstaltungen</h4>
        <div>
          <ul class="list angle-double-right">
            <li><a href="event.html">Tag der Bundeswehr</a></li>
            <li><a href="event.html">4. Gesundheitstag der Universität der Bundeswehr</a></li>
            <li><a href="event.html">Konferenz: Auton. Infrastructure, Management and Security (AIMS)</a></li>
            
            
          </ul>
        </div>
      </div><!--/.col-md-3-->
    </div>
  </div>
</section>
