<section id="bottom" class="wet-asphalt hidden-xs">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h4>Quicklinks</h4>
        <div class="quicklinks-wrapper clearfix">
          <div class="row">
            <a href="#" class="quicklink">
              <i class="fa fa-briefcase" aria-hidden="true"></i><br>
              HISinOne
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-circle-o" aria-hidden="true"></i><br>
              QIS/FSV
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-eye" aria-hidden="true"></i><br>
              Ilias
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-industry" aria-hidden="true"></i><br>
              BCSW
            </a>
          </div>
          <div class="row">
            <a href="#" class="quicklink">
              <i class="fa fa-envelope" aria-hidden="true"></i><br>
              Webmail
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-line-chart" aria-hidden="true"></i><br>
              DV-Börse
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-laptop" aria-hidden="true"></i><br>
              StudiSoft
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-check-square-o" aria-hidden="true"></i><br>
              Formulare
            </a>
          </div>
          <div class="row">
            <a href="#" class="quicklink">
              <i class="fa fa-adjust" aria-hidden="true"></i><br>
              DreamSpark
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-exchange" aria-hidden="true"></i><br>
              IPAM
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-ambulance" aria-hidden="true"></i><br>
              Support
            </a>
            <a href="#" class="quicklink">
              <i class="fa fa-clock-o" aria-hidden="true"></i><br>
              Zeiterfassung
            </a>
          </div>
        </div>
      </div><!--/.col-lg-3-->

      <div class="col-lg-6">
        <hr class="visible-xs">
        <h4>Veranstaltungen</h4>
        <div>
          <ul class="arrow">
            <li><a href="event.html">Tag der Bundeswehr</a></li>
            <li><a href="event.html">4. Gesundheitstag der Universität der Bundeswehr</a></li>
            <li><a href="event.html">Konferenz: Auton. Infrastructure, Management and Security (AIMS)</a></li>
            <li><a href="event.html">Veranstaltungsreihe "Qualitätssache - Medien auf dem Prüfstand"</a></li>
            <li><a href="event.html">Grup3. Kinderuni: Warum suchen so viele Menschen Asyl in Deutschland?</a></li>
            <li><a href="event.html">Dies academicus 2016: Ein Jahr voller Ereignisse</a></li>
          </ul>
        </div>
      </div><!--/.col-md-3-->
    </div>
  </div>
</section>
