
<section class="news">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-6">
        <a href="rz.html" class="no-hover">
          <div class="category">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Aktuelles
          </div>
            <h2 class="mt-0">Arbeitsräume und Pools</h2>
            <h3 class="font-16"></h3>

            <img class="img-responsive visible-xs" src="{% if include.image %}{{include.image}}{%else%}/media/rz/pcpool.jpg{%endif%}">
            

            <p>Unsere Arbeitsräume und Pools....</p>
        </a>
      </div>

      <img class="col-md-4 col-md-offset-1 col-sm-offset-1 col-sm-5 img-responsive hidden-xs" src="{% if include.image %}{{include.image}}{%else%}/media/rz/pcpool.jpg{%endif%}">
    </div>
  </div>
</section>
