<section class="news-listing">
        <div class="container">
          <div class="section-title">
            <div class="row">
              <div class="col-md-8">
                <h2 class="module-title line-bottom">Oft nachgefragt</h2>
                <p>Was haben andere Nutzer geklickt? Sehen Sie hier die zuletzt aufgerufenen Seiten mit Zugriffszahlen im letzten Jahr</p>
             </div>
            </div>
          </div>
          <div class="section-content">
            <div class="row">
              <div class="col-md-12">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">120</span>
                  <a href="#">HISinOne - Informationen zu Zugang, Nutzung und Arbeitsweise</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">118</span>
                  <a href="#">Email - Anleitungen und Infos zum zentralen Email-System</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">109</span>
                  <a href="#">WebVPN - Zugangshilfe, Problembehebung und Informationen</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">95</span>
                  <a href="#">Terminalserver - Infos zu Nutzung, Zugängen und Problembehebung</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">83</span>
                  <a href="#">Software - Verfügbare Programme in den Pools und Arbeitsräumen</a>
                </li>
                <li class="list-group-item">
                  <span class="badge">54</span>
                  <a href="#">Drucken - Infos und Hilfe rund um das Thema Drucken</a>
                </li>
              </ul>
              </div>
            </div>

          </div>
        </div>

      </section>