<section class="linklists news-listing scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-8">
          <h2 class="module-title line-bottom">Oft nachgefragt</h2>
          <p>Was haben andere Nutzer geklickt? Sehen Sie hier die zuletzt aufgerufenen Seiten mit Zugriffszahlen im letzten Jahr</p>
       </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
        <ul class="list-group iconbox-bg">
          <li class="list-group-item">
              <a href="www.link.de" title="Link Titel 1"><i class="fa fa-ambulance"></i>
              <span class="sr-only">ambulance</span>
              Link 1 - Beschreibung Link 1</a>
            </li>
          <li class="list-group-item">
            <a href="#"><b>Email</b></a> - Anleitungen und Infos zum zentralen Email-System
          </li>
          <li class="list-group-item">
            <a href="#"><b>WebVPN</b></a> - Zugangshilfe, Problembehebung und Informationen
          </li>
          <li class="list-group-item">
            <a href="#"><b>Terminalserver</b></a> - Infos zu Nutzung, Zugängen und Problembehebung
          </li>
          <li class="list-group-item">
            <a href="#"><b>Software</b></a> - Verfügbare Programme in den Pools und Arbeitsräumen
          </li>
          <li class="list-group-item">
            <a href="#"><b>Drucken</b></a> - Infos und Hilfe rund um das Thema Drucken
          </li>
        </ul>
        </div>
      </div>

    </div>
  </div>

</section>