{% for item in site.posts %}
{% if item.name == include.pagename %}
<section class="gallery scheme-light-grey">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">    
          <h2 class="module-title line-bottom">{{ item.title }}</h2>
          <p class="description">
            {{ item.description }}
          </p>
        </div>
      </div>
    </div>

    <div class="section-content">
      <div class="row">

        <div class="col-md-12">
              <div class="row">
        
          {% for link in item.linked-pages %}
              <a href="{{ link.url }}">
                <div class="col-xs-12 col-sm-4 col-md-4">
                  <article class="post clearfix mb-sm-30">
                  <div class="entry-header">
                    <div class="post-thumb thumb"> 
                      <img src="{{ link.img }}" alt="" class="img-responsive img-fullwidth">
                    </div>
                  </div>
                  <div class="entry-content p-20 pr-10">
                    <div class="entry-meta media mt-0 no-bg no-border">
                      <div class="media-body">
                        <div class="event-content pull-left flip">
                          <h3 class="entry-title">{{ link.title }}</h3>
                        </div>
                      </div>
                    </div>
                    <p class="description mt-10">{{ link.description }}</p>
                  </div>
                </article>

                </div>

              </a>
          {% endfor %}
          </div>
      </div>
    </div>

  </div>
</section>

{% endif %}
{% endfor %}


