{% for item in site.posts %}
{% if item.name == include.pagename %}
<section class="news-listing">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{ item.title }}</h2>
          {{ item.content | markdownify  }} 
       </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
        <ul class="list-group">
          {% for link in item.linked-pages %}
            <li class="list-group-item">
          <a href="{{ link.url }}">{% if link.icon %}<i class="fa fa-{{ link.icon }}"></i> {% endif %}{{ link.title }}</a>{% if link.desc %} - {{ link.desc }}{% endif %}
          </li>
          {% endfor %}
        </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}

