<section>
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-8">
          <h2 class="module-title line-bottom">Anleitungen und Howtos zum Thema</h2>
       </div>
      </div>
    </div>

    <div class="section-content">
      <div class="row">
        <div class="col-md-12">

        <a href="#">
          <div class="col-sm-6 col-md-4">
            <div class="icon-box icon-left pt-0 pl-0 pb-30 pr-30 iconbox-theme-colored">
              <span class="icon icon-gray icon-circled icon-border-effect effect-circled icon-sm pull-left flip mr-10">
                <i class="fa fa-book"></i>
              </span>
              <h5 class="icon-box-title pl-60">Erste Schritte in Subversion</h5>
              <p class="text-gray"> Eine Kurzanleitung zur Versionsverwaltung mit Subversion</p>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="col-sm-6 col-md-4">
            <div class="icon-box icon-left pt-0 pl-0 pb-30 pr-30 iconbox-theme-colored">
              <span class="icon icon-gray icon-circled icon-border-effect effect-circled icon-sm pull-left flip mr-10">
                <i class="fa fa-wrench"></i>
              </span>
              <h5 class="icon-box-title pl-60">So kann ich auf mein Repository zugreifen </h5>
              <p class="text-gray"> Eine Anleitung, wie Sie auf Ihr Repository auf dem Versionsserver zugreifen können.</p>
            </div>
          </div>
        </a>

        <a href="#">
          <div class="col-sm-6 col-md-4">
            <div class="icon-box icon-left pt-0 pl-0 pb-30 pr-30 iconbox-theme-colored">
              <span class="icon icon-gray icon-circled icon-border-effect effect-circled icon-sm pull-left flip mr-10">
                <i class="fa fa-gears"></i>
              </span>
              <h5 class="icon-box-title  pl-60">So verwende ich "Tortoise"</h5>
              <p class="text-gray"> Hilfe zur Verwendung von "Tortoise", einen komfortablen Client für Subversion.</p>
            </div>
          </div>
        </a>
            
        </div>
      </div>

    </div>
  </div>

</section>
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          
        
          