<section class="news-listing">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">Weitere Informationen</h2>
          <p>Hier finden Sie weiterführende Informationen und technische Details zum Thema Versionsverwaltung.</p>
       </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
        <ul class="list-group">
          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">Homepage des Subversion-Projekts (unter Apache)</a>
          </li>

          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">Tortoise  - ein komfortabler Subversion-Client (Windows)</a>
          </li>

          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">Das offizielle Buch zu Subversion</a> 
          </li>

          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">Sicherheitshinweis für snv-Client unter Linux</a>
          </li>

          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">Subversion auf Wikipedia</a>
          </li>

          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">2. Server verfügbar - Subversion mit 2. Server und redundanter Anbindung</a>
          </li>

          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">Alternative Dokumentenserver</a>  
          </li>

          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">Alternativen  - "Welche Datenablage ist für mich geeignet?"</a>
          </li>

          <li class="list-group-item" style="margin-left: 0;">
          <a href="#">Übersichts­tabelle aller Möglichkeiten zur Datenablage (PDF)</a>
          </li>
        </ul>
        </div>
      </div>

    </div>
  </div>

</section>


