{% for item in site.posts %}
{% if item.name == include.pagename %}
<section class="call-to-action scheme-{{include.color_scheme}}">
  <div class="container p-0">

    <div class="section-content">
      <div class="row">
        <div class="col-md-12">

          <div class="pt-40 pb-40 pl-40">
            <div class="row">
              <a href="{{ item.button_url }} ">
              <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="icon-box left mb-0"> 
                  <span class="icon icon-gray icon-md icon-circled pull-left flip mr-20 mt-20 no-hover"><i class="fa fa-lightbulb-o"></i></span>
                  <div class="ml-60">
                    <h2 class="media-heading heading ml-60">{{ item.title }}</h2>
                    {{ item.content | markdownify  }}
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 mt-40 text-center"> 
                <div class="btn btn-theme-colored btn-xl">{{ item.button_title }} </div> 
              </div>
            </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}

