{% for item in site.posts %}
{% if item.name == include.pagename %}
<section class="bg-theme-colored">
  <div class="container p-0">

    <div class="section-content">
      <div class="row">
        <div class="col-md-12">

          <div class="pt-40 pb-40 pl-40 bg-theme-colored">
            <div class="row">
              <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="icon-box left mb-0"> 
                  <span class="icon icon-gray icon-md icon-circled pull-left flip mr-20 mt-20 no-hover"><i class="fa fa-lightbulb-o"></i></span>
                  <div class="ml-60">
                    <h3 class="media-heading heading text-white ml-60">{{ item.title }}</h3>
                    {{ item.content | markdownify  }}
                  </div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4 mt-40 text-center"> 
                <a class="btn btn-theme-colored unibworange-background btn-xl" href="{{ item.button_url }} ">{{ item.button_title }} </a> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endif %}
{% endfor %}

