<section id="intranet-search">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{include.title}}</h2>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <form>
          <div class="col-md-12">
            <div class="form-group">
              <label for="search-box"><h4><b>Suchbegriff</b></h4></label>
              <input type="text" class="form-control" id="search-box" placeholder="z.B. Prüfungsamt">
            </div>
          </div>


            <div class="col-md-12 col-sm-12">
                <h4><b>Filter</b></h4>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker nutzerkonto fa fa-user"></span>
                            <input type="checkbox" class="filter" id="nutzerkonto" value="Nutzerkonto"> Nutzerkonto
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker e-learning fa fa-graduation-cap"></span>
                            <input type="checkbox" class="filter" id="e-learning" value="E-Learning"> E-Learning
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker drucken fa fa-print"></span>
                            <input type="checkbox" class="filter" id="drucken" value="Drucken"> Drucken
                        </label>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker netz fa fa-share-alt"></span>
                            <input type="checkbox" class="filter" id="netz" value="Datennetz"> Datennetz
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker datenaustausch fa fa-exchange"></span>
                            <input type="checkbox" class="filter" id="datenaustausch" value="Datenaustausch"> Datenaustausch
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker it-sicherheit fa fa-lock"></span>
                            <input type="checkbox" class="filter" id="it-sicherheit" value="IT-Sicherheit"> IT-Sicherheit
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker zentraler-speicher fa fa-database"></span>
                            <input type="checkbox" class="filter" id="zentraler-speicher" value="Zentraler Speicher"> Zentraler Speicher
                        </label>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker software fa fa-download"></span>
                            <input type="checkbox" class="filter" id="software" value="Software"> Software
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker email fa fa-envelope-o"></span>
                            <input type="checkbox" class="filter" id="email" value="E-mail"> E-mail
                        </label>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker pc fa fa-laptop"></span>
                            <input type="checkbox" class="filter" id="pc" value="PC & Server"> PC & Server
                        </label>
                    </div>
                </div>
                 <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker web fa fa-globe"></span>
                            <input type="checkbox" class="filter" id="web" value="Web"> Web
                        </label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="checkbox-inline">
                            <span class="color-marker sonstiges fa fa-plus-circle"></span>
                            <input type="checkbox" class="filter" id="sonstiges" value="Zusatz-Dienste"> Zusatz-Dienste
                        </label>
                    </div>
                </div>
            </div>
          </div>

          <!--div class="col-md-12 col-sm-12">
            <h4><b>Sortierung</b></h4>
            <div class="col-sm-3">
              <select id="sorting" class="form-control">
                <option value="alphabetical">A - Z</option>
                <option value="hits">Häufigkeit</option>
              </select>
            </div>
          </div-->
        </form>
      </div>    
      <div class="row search-results rz">
        <div class="col-md-12">
          <div class="grid">
            <div class="grid-sizer"></div>

            <a href="/rz-services-datenablage.html">
              <div class="grid-item" data-category="Zentraler Speicher" data-hits="23">
                <div class="item-header services">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Datenablage</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Zentraler Speicher" data-hits="22">
                <div class="item-header services">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Datenarchiv</div>
                  <p class="description">Erreichbarkeit, Rechte-vergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Zentraler Speicher" data-hits="14">
                <div class="item-header services">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Datensicherung</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Zentraler Speicher" data-hits="15">
                <div class="item-header services">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Dokumentenserver</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Zentraler Speicher" data-hits="16">
                <div class="item-header services">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">leer</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="E-Mail" data-hits="29">
                <div class="item-header research">
                  <i class="pull-right fa fa-flask" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">E-Mail Postfach</div>
                  <p class="description">Login, Exchange, IMAP und POP</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="E-Mail" data-hits="21">
                <div class="item-header research">
                  <i class="pull-right fa fa-flask" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">E-Mail Listen</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="E-Mail" data-hits="19">
                <div class="item-header research">
                  <i class="pull-right fa fa-flask" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Filter und Regeln</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="E-Mail" data-hits="13">
                <div class="item-header research">
                  <i class="pull-right fa fa-flask" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Funktionspostfach</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Drucken" data-hits="18">
                <div class="item-header studies">
                  <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Dezentrale Drucker MFP</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Drucken" data-hits="17">
                <div class="item-header studies">
                  <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Weiterverarbeitung</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Drucken" data-hits="11">
                <div class="item-header studies">
                  <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Lokale Drucker</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Drucken" data-hits="12">
                <div class="item-header studies">
                  <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Spezielle Drucke</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Drucken" data-hits="12">
                <div class="item-header studies">
                  <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Zentrale Drucker</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="Drucken" data-hits="25">
                <div class="item-header studies">
                  <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Zentrale Plotter</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="IT-Sicherheit" data-hits="24">
                <div class="item-header personnel">
                  <i class="pull-right fa fa-users" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">PKI</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
              <div class="grid-item" data-category="IT-Sicherheit" data-hits="70">
                <div class="item-header personnel">
                  <i class="pull-right fa fa-users" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">WSUS</div>
                  <p class="description">automatisierte Aktualisierung Windows-basierter Systeme</p>
                </span>
              </div>
            </a>

            <a href="/rz-services-sophos.html">
              <div class="grid-item" data-category="IT-Sicherheit" data-hits="3">
                <div class="item-header personnel">
                  <i class="pull-right fa fa-users" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Sophos AntiVirus</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
              </div>
            </a>
            <a href="#">
            <div class="grid-item" data-category="E-Learning" data-hits="8">
                <div class="item-header soul">
                  <i class="pull-right fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">ILIAS</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>
            <a href="#">
            <div class="grid-item" data-category="E-Learning" data-hits="9">
                <div class="item-header soul">
                  <i class="pull-right fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">HISinOne</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>
            <a href="#">
            <div class="grid-item" data-category="E-Learning" data-hits="14">
                <div class="item-header soul">
                  <i class="pull-right fa fa-balance-scale" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">VHB</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>


            <a href="#">
            <div class="grid-item" data-category="Nutzerkonto" data-hits="14">
                <div class="item-header people">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">ILIAS</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>
            <a href="#">
            <div class="grid-item" data-category="Nutzerkonto" data-hits="14">
                <div class="item-header people">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">HISinOne</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>
            <a href="#">
            <div class="grid-item" data-category="Nutzerkonto" data-hits="14">
                <div class="item-header people">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Nutzermanagement</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Nutzerkonto" data-hits="14">
                <div class="item-header people">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">ÜVAS</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Nutzerkonto" data-hits="14">
                <div class="item-header people">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">ZPM</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>


            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Dokumentenserver</div>
                  <p class="description">Dokumenten-Management-System BSCW</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Videokonferenz</div>
                  <p class="description">VPoint HD, Adobe Connect, Multipoint</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">DFN Gigamove</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">DFN Terminplaner</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Webkonferenz</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">MathCal</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="/rz-services-syncshare.html">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Sync&Share</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="/rz-services-syncshare.html">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Teamdrive</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">ILIAS</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Kalender</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Formulare</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Cloud" data-hits="50">
                <div class="item-header lunch">
                  <i class="pull-right fa fa-user" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Funktionspostfach</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Netz" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">eduroam</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Netz" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">DHCP und DNS-IPAM</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Netz" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">NTP</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Netz" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Proxy</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Netz" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">VPN</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Netz" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">WLAN</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>


            <a href="#">
            <div class="grid-item" data-category="Netz" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">WWW / Internet</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Software" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">WSUS</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Software" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Plagiatprüfung</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Software" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Umfragen</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="/rz-services-versionsverwaltung.html">
            <div class="grid-item" data-category="Software" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Versionsverwaltung</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Software" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Lizenzen</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Software" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Microsoft Imagine</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Software" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Software PC-Pools</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Software" data-hits="50">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Studisoft</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>

            <a href="#">
            <div class="grid-item" data-category="Server-Hosting" data-hits="20">
                <div class="item-header military">
                  <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
                </div>
                <span class="text">
                  <div class="title">Interaktiver Webserver</div>
                  <p class="description">Erreichbarkeit, Rechtevergabe, Sicherung und Speicherplatz</p>
                </span>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

