<section id="intranet-search">
  <div class="container">
    <div class="row search-form">
      <div class="section-title">
        <div class="row">
          <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">UniBw Intranet</h2>
        </div>
      </div>
      <form>
        <div class="form-group">
          <label for="search-box"><h4><b>Suchbegriff</b></h4></label>
          <input type="text" class="form-control" id="search-box" placeholder="z.B. Prüfungsamt">
        </div>
        <div class="col-md-9 col-sm-12">
          <h4><b>Filter</b></h4>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker services"></span>
                <input type="checkbox" class="filter" id="services" value="Übergreifende Dienste"> Übergreif. Dienste
              </label>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker research"></span>
                <input type="checkbox" class="filter" id="research" value="Forschung"> Forschung
              </label>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker studies"></span>
                <input type="checkbox" class="filter" id="studies" value="Studium"> Studium
              </label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker personel"></span>
                <input type="checkbox" class="filter" id="personal" value="Personal"> Personal
              </label>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker it"></span>
                <input type="checkbox" class="filter" id="it" value="IT-Dienste"> IT-Dienste
              </label>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker soul"></span>
                <input type="checkbox" class="filter" id="soul" value="Für die Seele"> Für die Seele
              </label>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker people"></span>
                <input type="checkbox" class="filter" id="people" value="Personen"> Personen
              </label>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker lunch"></span>
                <input type="checkbox" class="filter" id="lunch" value="Verpflegung"> Verpflegung
              </label>
            </div>
            <div class="form-group">
              <label class="checkbox-inline">
                <span class="color-marker learning"></span>
                <input type="checkbox" class="filter" id="learning" value="Weiterbildung"> Weiterbildung
              </label>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-12">
          <h4><b>Sortierung</b></h4>
          <select id="sorting" class="form-control">
            <option value="hits">Häufigkeit</option>
            <option value="alphabetical">A - Z</option>
          </select>
        </div>
      </form>
    </div>
    <div class="row search-results">
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item" data-category="Übergreifende Dienste" data-hits="23">
          <a href="#">
            <div class="item-header services">
              <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
            </div>
            <span class="text">Arbeitssicherheit</span>
          </a>
        </div>
        <div class="grid-item" data-category="Übergreifende Dienste" data-hits="22">
          <a href="#">
            <div class="item-header services">
              <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
            </div>
            <span class="text">Gremienangelegenheiten</span>
          </a>
        </div>
        <div class="grid-item" data-category="Übergreifende Dienste" data-hits="14">
          <a href="#">
            <div class="item-header services">
              <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
            </div>
            <span class="text">Qualitätsmanagement</span>
          </a>
        </div>
        <div class="grid-item" data-category="Übergreifende Dienste" data-hits="15">
          <a href="#">
            <div class="item-header services">
              <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
            </div>
            <span class="text">Hochschulkooperationen</span>
          </a>
        </div>
        <div class="grid-item" data-category="Übergreifende Dienste" data-hits="16">
          <a href="#">
            <div class="item-header services">
              <i class="pull-right fa fa-cogs" aria-hidden="true"></i>
            </div>
            <span class="text">Datenschutz</span>
          </a>
        </div>
        <div class="grid-item" data-category="Forschung" data-hits="29">
          <a href="#">
            <div class="item-header research">
              <i class="pull-right fa fa-flask" aria-hidden="true"></i>
            </div>
            <span class="text">Drittmittelanzeige</span>
          </a>
        </div>
        <div class="grid-item" data-category="Forschung" data-hits="21">
          <a href="#">
            <div class="item-header research">
              <i class="pull-right fa fa-flask" aria-hidden="true"></i>
            </div>
            <span class="text">Personal</span>
          </a>
        </div>
        <div class="grid-item" data-category="Forschung" data-hits="19">
          <a href="#">
            <div class="item-header research">
              <i class="pull-right fa fa-flask" aria-hidden="true"></i>
            </div>
            <span class="text">Athene Forschung</span>
          </a>
        </div>
        <div class="grid-item" data-category="Forschung" data-hits="13">
          <a href="#">
            <div class="item-header research">
              <i class="pull-right fa fa-flask" aria-hidden="true"></i>
            </div>
            <span class="text">Ombudsperson</span>
          </a>
        </div>
        <div class="grid-item" data-category="Studium" data-hits="18">
          <a href="#">
            <div class="item-header studies">
              <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <span class="text">HISinOne</span>
          </a>
        </div>
        <div class="grid-item" data-category="Studium" data-hits="17">
          <a href="#">
            <div class="item-header studies">
              <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <span class="text">Prüfungsamt</span>
          </a>
        </div>
        <div class="grid-item" data-category="Studium" data-hits="11">
          <a href="#">
            <div class="item-header studies">
              <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <span class="text">Modulhandbücher</span>
          </a>
        </div>
        <div class="grid-item" data-category="Studium" data-hits="12">
          <a href="#">
            <div class="item-header studies">
              <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <span class="text">Termine</span>
          </a>
        </div>
        <div class="grid-item" data-category="Studium" data-hits="12">
          <a href="#">
            <div class="item-header studies">
              <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <span class="text">Studiengänge</span>
          </a>
        </div>
        <div class="grid-item" data-category="Studium" data-hits="25">
          <a href="#">
            <div class="item-header studies">
              <i class="pull-right fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <span class="text">Praktika</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="24">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Krankmeldung</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="70">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Dienstreiseantrag</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="3">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Arbeitsvertrag</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="4">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Jobbörse</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="40">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Urlaubsantrag</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="60">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Telefonverzeichnis</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="29">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Zeiterfassung</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="25">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Verträge</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="30">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">SHK-Anträge</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personal" data-hits="11">
          <a href="#">
            <div class="item-header personel">
              <i class="pull-right fa fa-users" aria-hidden="true"></i>
            </div>
            <span class="text">Ansprechpartner</span>
          </a>
        </div>
        <div class="grid-item" data-category="IT-Dienste" data-hits="5">
          <a href="#">
            <div class="item-header it">
              <i class="pull-right fa fa-laptop" aria-hidden="true"></i>
            </div>
            <span class="text">Drucken</span>
          </a>
        </div>
        <div class="grid-item" data-category="IT-Dienste" data-hits="6">
          <a href="#">
            <div class="item-header it">
              <i class="pull-right fa fa-laptop" aria-hidden="true"></i>
            </div>
            <span class="text">Cloud</span>
          </a>
        </div>
        <div class="grid-item" data-category="IT-Dienste" data-hits="1">
          <a href="#">
            <div class="item-header it">
              <i class="pull-right fa fa-laptop" aria-hidden="true"></i>
            </div>
            <span class="text">Benutzerkonto</span>
          </a>
        </div>
        <div class="grid-item" data-category="IT-Dienste" data-hits="2">
          <a href="#">
            <div class="item-header it">
              <i class="pull-right fa fa-laptop" aria-hidden="true"></i>
            </div>
            <span class="text">Web-Mail</span>
          </a>
        </div>
        <div class="grid-item" data-category="IT-Dienste" data-hits="7">
          <a href="#">
            <div class="item-header it">
              <i class="pull-right fa fa-laptop" aria-hidden="true"></i>
            </div>
            <span class="text">Software</span>
          </a>
        </div>
        <div class="grid-item" data-category="IT-Dienste" data-hits="16">
          <a href="#">
            <div class="item-header it">
              <i class="pull-right fa fa-laptop" aria-hidden="true"></i>
            </div>
            <span class="text">Nutzerverwaltung</span>
          </a>
        </div>
        <div class="grid-item" data-category="IT-Dienste" data-hits="18">
          <a href="#">
            <div class="item-header it">
              <i class="pull-right fa fa-laptop" aria-hidden="true"></i>
            </div>
            <span class="text">ZPM</span>
          </a>
        </div>
        <div class="grid-item" data-category="Für die Seele" data-hits="8">
          <a href="#">
            <div class="item-header soul">
              <i class="pull-right fa fa-balance-scale" aria-hidden="true"></i>
            </div>
            <span class="text">Psychologische Beratung</span>
          </a>
        </div>
        <div class="grid-item" data-category="Für die Seele" data-hits="9">
          <a href="#">
            <div class="item-header soul">
              <i class="pull-right fa fa-balance-scale" aria-hidden="true"></i>
            </div>
            <span class="text">Betriebsarzt</span>
          </a>
        </div>
        <div class="grid-item" data-category="Für die Seele" data-hits="14">
          <a href="#">
            <div class="item-header soul">
              <i class="pull-right fa fa-balance-scale" aria-hidden="true"></i>
            </div>
            <span class="text">Zahnarzt</span>
          </a>
        </div>
        <div class="grid-item" data-category="Für die Seele" data-hits="10">
          <a href="#">
            <div class="item-header soul">
              <i class="pull-right fa fa-balance-scale" aria-hidden="true"></i>
            </div>
            <span class="text">Kirche</span>
          </a>
        </div>
        <div class="grid-item" data-category="Für die Seele" data-hits="26">
          <a href="#">
            <div class="item-header soul">
              <i class="pull-right fa fa-balance-scale" aria-hidden="true"></i>
            </div>
            <span class="text">Gesundheitsmanagement</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personen" data-hits="14">
          <a href="#">
            <div class="item-header people">
              <i class="pull-right fa fa-user" aria-hidden="true"></i>
            </div>
            <span class="text">Bernhard Hirsch</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personen" data-hits="14">
          <a href="#">
            <div class="item-header people">
              <i class="pull-right fa fa-user" aria-hidden="true"></i>
            </div>
            <span class="text">Gabi Dreo Rodosek</span>
          </a>
        </div>
        <div class="grid-item" data-category="Personen" data-hits="14">
          <a href="#">
            <div class="item-header people">
              <i class="pull-right fa fa-user" aria-hidden="true"></i>
            </div>
            <span class="text">Stefan Josten</span>
          </a>
        </div>
        <div class="grid-item" data-category="Verpflegung" data-hits="50">
          <a href="#">
            <div class="item-header lunch">
              <i class="pull-right fa fa-user" aria-hidden="true"></i>
            </div>
            <span class="text">Speiseplan Mensa</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
