
{% for item in site.posts %}
{% if item.name == include.person %}
<article class="post media-post clearfix pb-0 mb-10">
  <a href="#" class="post-thumb mr-20"><img width="120" style="width: 120px" alt="" src="{{ item.image }}"></a>
  <div class="post-right">
    <h3 class="mt-0 mb-5"><a href="#">{{ item.position }}</a></h3>
    <p class="mb-0 font-16">{{ item.title }}</p>
    <p class="mb-0 font-16"><a href="person.html" class="no-hover person-link">Telefon: </a><a href="tel:+498960044655422">{{ item.phone }}</a></p>
    <p class="mb-0 font-16">Email: {{ item.email }}</p>
  </div>
</article>
{% endif %}
{% endfor %}
