<section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="images/bg/bg2.jpg" data-parallax-ratio="0.7" style="background-image: url(&quot;images/bg/bg2.jpg&quot;); background-position: 50% 182px;">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact text-center">
            <i class="pe-7s-smile mt-5 text-theme-color-2"></i>
            <h2 data-animation-duration="2000" data-value="5248" class="animate-number text-white mt-0 font-38 font-weight-500 appeared">5,248</h2>
            <h5 class="text-white text-uppercase mb-0">Happy Students</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact text-center">
            <i class="pe-7s-note2 mt-5 text-theme-color-2"></i>
            <h2 data-animation-duration="2000" data-value="675" class="animate-number text-white mt-0 font-38 font-weight-500 appeared">675</h2>
            <h5 class="text-white text-uppercase mb-0">Our Courses</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-50">
          <div class="funfact text-center">
            <i class="pe-7s-users mt-5 text-theme-color-2"></i>
            <h2 data-animation-duration="2000" data-value="248" class="animate-number text-white mt-0 font-38 font-weight-500 appeared">248</h2>
            <h5 class="text-white text-uppercase mb-0">Our Teachers</h5>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
          <div class="funfact text-center">
            <i class="pe-7s-cup mt-5 text-theme-color-2"></i>
            <h2 data-animation-duration="2000" data-value="24" class="animate-number text-white mt-0 font-38 font-weight-500 appeared">24</h2>
            <h5 class="text-white text-uppercase mb-0">Awards Won</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
