<section class="news">

  <div class="container">

    <div class="row">

      <img class="col-md-4 col-sm-5 img-circle img-responsive hidden-xs" src="media/studber/oberst_adelmann.jpg">

      <div class="col-md-7 col-md-offset-1 col-sm-offset-1 col-sm-5">
        <a href="bau_studiengang.html" class="no-hover">
          <div class="category">
            <i class="fa fa-file-text-o" aria-hidden="true"></i>
            Aktuelles
          </div>
            <h2 class="mt-0">Grußwort des Leiters Studierendenbereich</h2>
            <p class="description">Herzlich willkommen auf den Seiten des Studierendenbereiches der Universität der Bundeswehr München.</p>
            <p>Auf den folgenden Seiten erhalten Sie Auskunft zur Organisation des militärischen Bereiches der Universität, allgemeine Informationen zum militärischen Dienst an der Universität, sowie die Kontaktdaten, um mit dem Studierendenbereich in Verbindung zu treten. </p><p>Ich lade Sie recht herzlich dazu ein, sich durch unsere Seiten zu klicken </p>

            <img class="img-responsive visible-xs" src="media/studber/oberst_adelmann.jpg">

            
        </a>
      </div>

    </div>

  </div>
</section>
