<section class="news">

  <div class="container">

    <div class="section-content">
      <div class="row">

        <img class="col-md-4 col-sm-5 img-circle img-responsive hidden-xs" src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg">

        <div class="col-md-7 col-md-offset-1 col-sm-offset-1 col-sm-5">
          <a href="bau_studiengang.html" class="no-hover">
            <div class="category">
              <i class="fa fa-file-text-o" aria-hidden="true"></i>
              Aktuelles
            </div>
              <h2 class="mt-0">Studiengang Bauingenieurwesen und Umweltwissenschaften</h2>
              <p class="description">Die Regelungen für die Studiengänge werden in unregelmäßigen Zeitabständen angepasst. Auf dieser Seite finden sich neben allgemeinen Informationen die jeweils für die einzelnen Studiengänge und Studienjahre anzuwendenden Regelungen</p>

              <img class="img-responsive visible-xs" src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg">

              
          </a>
        </div>

      </div>
    </div>

  </div>
</section>
