<section class="news scheme-{{include.color_scheme}}">

  <div class="container">

    <div class="row">
    {% for item in site.posts %}
      {% if item.name == include.pagename %}
      <div class="col-md-8">
           {{ item.content | markdownify  }} 
      </div>
      {% endif %}
    {% endfor %}
      <div class="col-md-4" >
        <div class="widget border-1px p-30">
          <h5 class="widget-title line-bottom">Aktuelle Updates zum Webrelaunch</h5>
          <p class="font-13">Tragen Sie sich hier ein und wir senden Ihnen Updates zum Verlauf.</p>
          <form id="quick_contact_form" name="quick_contact_form" class="quick-contact-form" action="includes/quickcontact.php" method="post" novalidate="novalidate">
            <div class="form-group">
              <input name="form_email" class="form-control" required="" placeholder="Email-Adresse" aria-required="true" type="text">
            </div>
            <div class="form-group">
              <input name="form_botcheck" class="form-control" value="" type="hidden">
              <!--button type="submit" class="btn btn-default btn-circled btn-theme-colored btn-xl mt-0 hvr-grow-rotate" style="background-color: #339860" data-loading-text="Please wait...">Anmelden <i class="fa fa-envelope-o"></i> </button-->
              <button type="submit" class="btn btn-dark btn-transparent btn-theme-colored btn-xl mt-0 hvr-grow-rotate" data-loading-text="Please wait...">Anmelden <i class="fa fa-envelope-o"></i> </button>

            </div>
            <p class="font-13">Damit Sie stets gut informiert sind, wie es weitergeht!</p>
          </form>

          <!-- Quick Contact Form Validation-->
          <script type="text/javascript">
            $("#quick_contact_form").validate({
              submitHandler: function(form) {
                var form_btn = $(form).find('button[type="submit"]');
                var form_result_div = '#form-result';
                $(form_result_div).remove();
                form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                var form_btn_old_msg = form_btn.html();
                form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                $(form).ajaxSubmit({
                  dataType:  'json',
                  success: function(data) {
                    if( data.status == 'true' ) {
                      $(form).find('.form-control').val('');
                    }
                    form_btn.prop('disabled', false).html(form_btn_old_msg);
                    $(form_result_div).html(data.message).fadeIn('slow');
                    setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                  }
                });
              }
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>