<div role="tabpanel" class="tab-pane active" id="bio">

  <h4>Ausgewählte Funktionen</h4><table class="table table-striped table-hover">
    <thead>
      
    </thead>
    <tbody>
      <tr>
        <td><b>seit 2015</b></td>
        <td>Mitglied des Fachgremiums IT der BaFin</td>
      </tr>
      <tr>
        <td><b>seit 2015</b></td>
        <td>Mitglied des Fachgremiums IT der BaFin</td>
      </tr>
      <tr>
        <td><b>seit 12/2014</b></td>
        <td>Mitglied des Verwaltungsrats des Deutschen Forschungsnetzes e.V.</td>
      </tr>
      <tr>
        <td><b>seit 2014</b></td>
        <td>Mitglied des Aufsichtsrats und Beirats der Giesecke &amp; Devrient GmbH</td>
      </tr>
      <tr>
        <td><b>seit 2014</b></td>
        <td>Gutachterin bei den Förderprogrammen der Slowenischen Forschungsgemeinschaft (ARRS) und der Österreichischen Forschungsförderungsgesellschaft mbH (FFG)</td>
      </tr>
      <tr>
        <td><b>seit 2013</b></td>
        <td>Sprecherin des Forschungszentrums CODE (Cyber Defence@UniBwM) an der Universität der Bundeswehr München Umwidmung des Lehrstuhls in Kommunikationssysteme und Netzsicherheit</td>
      </tr>
      <tr>
        <td><b>2013</b></td>
        <td>TPC-Co Chair der 9th International Conference on Network and Service Management (CNSM) 2013</td>
      </tr>
      <tr>
        <td><b>seit 2012</b></td>
        <td>Prodekanin der Fakultät für Informatik</td>
      </tr>
      <tr>
        <td><b>seit 2012</b></td>
        <td>Mitglied in der Allianz für Cybersicherheit sowie im Sicherheitscluster München</td>
      </tr>
      <tr>
        <td><b>seit 2012</b></td>
        <td>Mitglied des Münchner Kreises sowie CAST e.V.</td>
      </tr>
      <tr>
        <td><b>2012</b></td>
        <td>Co-Vice General Chair des 21st IEEE International Conference on Computer Communication Networks, ICCCN 2012 vom 30.07.-02.07.2012 in München</td>
      </tr>
      <tr>
        <td><b>seit 2012</b></td>
        <td>Mitglied des Executive Committees des EU-Projektes Management of the Future Internet FLAMINGO (www.fp7-flamingo.eu)</td>
      </tr>
      <tr>
        <td><b>seit 2009</b></td>
        <td>Mitglied des Editorial Advisory Board of the International Journal of Network Management</td>
      </tr>
      <tr><td><b>seit 2009</b></td>
        <td>Gutachterin bei Förderprogrammen der Europäischen Union</td>
      </tr><tr>
        <td><b>seit 2008</b></td>
        <td>TPC Co-Chair des DFN-Forums Kommunikationstechnologien</td>
      </tr>
      <tr><td><b>2007</b></td>
        <td>General Chair des 10th IFIP/IEEE Symposiums on Integrated Network Management 2007, IM 2007 (http://www.im2007.org) vom 21.5.-25.5.2007, München</td>
      </tr><tr>
        <td><b>2006-2010</b></td>
        <td>Mitglied des Execute Committees des EU-Projektes European Network of Excellence for the Management of Internet Technologies and Complex Services (http://www.emanics.org)</td>
      </tr>
      <tr>
        <td><b>seit 2006</b></td>
        <td>Vorsitzende des Arbeitskreises für IT-Sicherheit an der Universität der Bundeswehr München</td>
      </tr>
    </tbody>
  </table>

  <h4>Berufliche Tätigkeiten</h4><table class="table table-striped table-hover">
    <thead>
      
    </thead>
    <tbody>
      <tr>
        <td><b>seit 12/2004</b></td>
        <td>Universitätsprofessorin und Lehrstuhlinhaberin für Kommunikationssysteme und Internet-Dienste an der Universität der Bundeswehr München;
          Berufung in das Beamtenverhältnis auf Lebenszeit</td>
      </tr><tr>
        <td><b>2004</b></td>
        <td>Ruf an die Universität der Bundeswehr München auf die C4-Professur für Kommunikationssysteme und Internetdienste, angenommen</td>
      </tr><tr>
        <td><b>2004</b></td>
        <td>Ruf an die Universität Stuttgart auf die C4-Professur für Informationsdienste mit Leitungsfunktion des Rechenzentrums der Universität Stuttgart (RUS), abgelehnt</td>
      </tr><tr>
        <td><b>seit 1995</b></td>
        <td>Mitglied des wissenschaftlichen Beratergremiums der TTI Tectran GmbH.</td>
      </tr><tr>
        <td><b>10/2003-02/2004</b></td>
        <td>Vertretungsprofessur für Verteilte Systeme an der Ludwig-Maximilians-Universität München (LMU)</td>
      </tr><tr>
        <td><b>2003-2004</b></td>
        <td>Privatdozentin  an der Ludwig-Maximilians-Universität München (LMU)</td>
      </tr><tr>
        <td><b>1995-2004</b></td>
        <td>Wissenschaftliche Mitarbeiterin am Leibniz-Rechenzentrum der Bayerischen Akademie der Wissenschaften in der Abteilung Kommunikationsnetze</td>
      </tr><tr>
        <td><b>1991 - 1994</b></td>
        <td>Mathematisch-technische Assistentin am Institut für Informatik der Ludwig-Maximilians-Universität München (LMU) bei Prof. Dr. H.-G. Hegering</td>
      </tr><tr>
        <td><b>1990 - 1991</b></td>
        <td>Gastwissenchaftlicher Aufenthalt am Institut für Informatik an der Technischen Universität München bei Prof. Dr. H.-G. Hegering; Stipendium der Republik Slowenien für hervorragende Leistungen</td>
      </tr><tr>
        <td><b>1988-1991</b></td>
        <td>Wissenschaftliche Mitarbeiterin am Institut für Informatik der Universität Maribor, Slowenien bei Prof. Dr. B. Horvat</td>
      </tr>
    </tbody>
  </table>

  <h4>Ausbildung</h4><table class="table table-striped table-hover">
    <thead>
      
    </thead>
    <tbody>
      <tr>
        <td><b>2002</b></td>
        <td>Habilitation an der Ludwig-Maximilians-Universität München (LMU)</td>
      </tr>
      <tr>
        <td><b>1997</b></td>
        <td>Promotions-Förderpreis der Ludwig-Maximilians-Universität München (LMU)</td>
      </tr>
      <tr>
        <td><b>17.7.1995</b></td>
        <td>Promotion zum Dr. rer. nat. in Informatik an der Ludwig-Maximilians-Universität München (LMU) mit einer Dissertation zum Thema A Framework for Supporting Fault Diagnosis in Integrated Network and Systems Management: Methodologies for the Correlation of Trouble Tickets and Access to Problem-Solving Expertise bei Prof. Dr. H.-G. Hegering mit "summa cum laude"</td>
      </tr>
      <tr>
        <td><b>1988-1991</b></td>
        <td>Abschluss als Magister der Technischen Wissenschaften an der Universität Maribor, Slowenien mit Auszeichnung. Aufbaustudium der Informatik; Magisterarbeit zum Thema Using the OSI Management Information Model for Open Distributed Processing (ODP)  bei Prof. Dr. B. Horvat und Prof. Dr. M. Jagodic</td>
      </tr>
      <tr>
        <td><b>1988</b></td>
        <td>Diplom in Informatik an der Universität Maribor, Slowenien. zum Thema Call Control in ISDN  (in slowenisch) bei Prof. Dr. B. Horvat</td>
      </tr>
      <tr>
        <td><b>1984</b></td>
        <td>Abitur am naturwissenschaftlichen Gymnasium, Maribor, Slowenien</td>
      </tr>
    </tbody>
  </table>

</div>
