<div class="table-responsive">
  <table class="confluenceTable table table-hover">
    <tbody>
      <tr>
        <td><b>WT 2016</b></td>
        <td>Vorlesung</td>
        <td>Mobile Kommunikationssysteme</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Sicherheit in der Informationstechnik</td>
      </tr>
      <tr>
        <td><b>HT 2015</b></td>
        <td>Praktikum</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Praktikum</td>
        <td>Sicherheit in der Informationstechnik</td>
      </tr>
    </tbody>
  </table>
</div>
