<div class="table-responsive">
  <table class="confluenceTable table table-hover">
    <tbody>
      <tr>
        <td><b>WT 2016</b></td>
        <td>Vorlesung</td>
        <td>Mobile Kommunikationssysteme</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Sicherheit in der Informationstechnik</td>
      </tr>
      <tr>
        <td><b>HT 2015</b></td>
        <td>Praktikum</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Praktikum</td>
        <td>Sicherheit in der Informationstechnik</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Ausgewählte Kapitel der IT Sicherheit</td>
      </tr>
      <tr>
        <td><b>FT 2015</b></td>
        <td>Praktikum</td>
        <td>Netzsicherheit</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Praktikum</td>
        <td>Rechnernetze 2</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Seminar</td>
        <td>Cyber Defense</td>
      </tr>
      <tr>
        <td><b>WT 2015</b></td>
        <td>Seminar</td>
        <td>IT Security</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Mobile Kommunikationssysteme</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td><b>HT 2014</b></td>
        <td>Praktikum</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Praktikum</td>
        <td>Sicherheit in der Informationstechnik</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Ausgewählte Kapitel der IT Sicherheit</td>
      </tr>
      <tr>
        <td><b>FT 2014</b></td>
        <td>Praktikum</td>
        <td>Netzsicherheit</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Praktikum</td>
        <td>Rechnernetze 2</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Seminar</td>
        <td>Cyber Defense</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Einführung in Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>IT Forensik</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Netz- und Systemmanagement</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Sicherheitsmanagement</td>
      </tr>
      <tr>
        <td><b>WT 2014</b></td>
        <td>Vorlesung</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Sicherheit in der Informationstechnik</td>
      </tr>
      <tr>
        <td><b>HT 2013</b></td>
        <td>Seminar</td>
        <td>IT Sicherheitsmanagement</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Ausgewählte Kapitel der IT Sicherheit</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Netzsicherheit</td>
      </tr>
      <tr>
        <td><b>FT 2013</b></td>
        <td>Praktikum</td>
        <td>Netzsicherheit</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Praktikum</td>
        <td>Rechnernetze 2</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Seminar</td>
        <td>Cyber Defense</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Einführung in Rechnernetze</td>
      </tr>
      <tr>
        <td><b>WT 2013</b></td>
        <td>Praktikum</td>
        <td>IT Sicherheit</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Seminar</td>
        <td>Forensik</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Mobile Kommunikationssysteme</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Sicherheit in der Informationstechnik</td>
      </tr>
      <tr>
        <td><b>HT 2012</b></td>
        <td>Praktikum</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td><b>FT 2012</b></td>
        <td>Praktikum</td>
        <td>Netzsicherheit</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Seminar</td>
        <td>Cyber Defense</td>
      </tr>
      <tr>
        <td><b>WT 2012</b></td>
        <td>Seminar</td>
        <td>Militärische Mobilkommunikation</td>
      </tr>
      <tr>
        <td><b>HT 2011</b></td>
        <td>Praktikum</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Seminar</td>
        <td>Netzsicherheit</td>
      </tr>
      <tr>
        <td><b>FT 2011</b></td>
        <td>Praktikum</td>
        <td>IT Sicherheit</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Seminar</td>
        <td>Future Internet</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Einführung in Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Netz- und Systemmanagement</td>
      </tr>
      <tr>
        <td><b>WT 2011</b></td>
        <td>Vorlesung</td>
        <td>Sicherheit in der Informationstechnik</td>
      </tr>
      <tr>
        <td><b>FT 2009</b></td>
        <td>Vorlesung</td>
        <td>Einführung in Rechnernetze</td>
      </tr>
      <tr>
        <td><b>WT 2009</b></td>
        <td>Vorlesung</td>
        <td>Einführung in Betriebssysteme</td>
      </tr>
      <tr>
        <td><b>HT 2008</b></td>
        <td>Vorlesung</td>
        <td>Netz- und Systemmanagement</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Sichere und integre Systeme</td>
      </tr>
      <tr>
        <td><b>HT 2007</b></td>
        <td>Vorlesung</td>
        <td>Rechnernetze 2 / Next Generation Internet</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Praktikum:</td>
        <td>Rechnernetze</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Seminar:</td>
        <td>Von der Sicherheit elektronischer Dokumente bis zu digitalen Identitäten</td>
      </tr>
      <tr>
        <td><b>FT 2007</b></td>
        <td>Vorlesung</td>
        <td>Mobile Kommunikationssysteme&lt;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Netz - und Systemmanagement</td>
      </tr>
      <tr>
        <td><b>WT 2007</b></td>
        <td>Vorlesung</td>
        <td>IT-Sicherheit</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Einführung in Rechnernetze</td>
      </tr>
      <tr>
        <td><b>HT 2006</b></td>
        <td>Vorlesung</td>
        <td>Rechnernetze II</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Praktikum:</td>
        <td>Rechnernetze<br> (Ausstattung des Praktikums mit neuesten Netzkomponenten (Cisco Router 611000, HP ProCurve Switches) und Managementwerkzeugen (HP OpenView Network Node Manager, HP ProCurve Manager).</td>
      </tr>
      <tr>
        <td><b>FT 2006</b></td>
        <td>Vorlesung</td>
        <td>Mobile Kommunikationssysteme</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Netz - und Systemmanagement</td>
      </tr>
      <tr>
        <td><b>WT 2005</b></td>
        <td>Vorlesung</td>
        <td>Einführung in Rechnernetze</td>
      </tr>
      <tr>
        <td><b>HT 2005</b></td>
        <td>Seminar:</td>
        <td>"Grid Computing: Stand der Technik und Herausforderungen</td>
      </tr>
      <tr>
        <td><b>FT 2005</b></td>
        <td>Vorlesung</td>
        <td>Mobile Kommunikationssysteme</td>
      </tr>
      <tr>
        <td><b>WT 2005</b></td>
        <td>Vorlesung</td>
        <td>Einführung in Rechnernetze</td>
      </tr>
      <tr>
        <td><b>WS 2004</b></td>
        <td>Vorlesung</td>
        <td>Informatik III</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>Vorlesung</td>
        <td>Komponenten zum Aufbau von Rechnernetzen<br> an der Ludwig-Maximilians-Universität München</td>
      </tr>
    </tbody>
  </table>
</div>
