<section id="prof-scroller" class="team-slider silver-light scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="row">
          <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">{{include.title}}</h2>
        </div>
      </div>
      <div>
        <div id="people-scroller" class="owl-carousel-3col">
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. nat. Günter Achhammer</h4>
                  <p>Mathematik, insb. Ingenieur-athematik</p>
                  <p></p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/luipold_babel.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer.nat. habil. Luipold Babel</h4>
                  <p>Mathematik und Informatik</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. nat. Dominik Bayer</h4>
                  <p>Angewandte Mathematik</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Reinhard Finsterwalder</h4>
                  <p>Informatik, insb. Ingenieurinformatik</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. pol. Gerhard Hessenberger</h4>
                  <p>Betriebswirtschaftslehre, insb. Logistik</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. nat. Bo Hu</h4>
                  <p>Betriebswirtschaftslehre, insb. Wirtschaftsinformatik
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/rafaela_kraus.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. oec. publ. Rafaela Kraus</h4>
                  <p>Personalmanagement</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/sonja_kretschmar.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. phil. Sonja Kretschmar</h4>
                  <p>TV- und Radiojournalismus</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/judith_pies.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. Judith Pies</h4>
                  <p>Krisen- und Konfiliktjournalismus</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/carsten_rennhak.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. oec. publ. Carsten Rennhak</h4>
                  <p>Public Relations und Marketing</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/sigrid_rotering.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. soc. habil. Sigrid Rotering- Steinberg</h4>
                  <p>Pädagogische Psychologie</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. nat. Andreas Rudolph</h4>
                  <p>Mathematik, insb. Wirtschaftsmathemaatik und Statistik</p>
                </div>
              </div>
            </a>
          </div>


          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/manfred_sargl.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.rer. pol. Manfred Sargl</h4>
                  <p>Betriebswirtschaftslehre, insb. Controlling</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/martin_stroesser.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. nat. Martin Strösser</h4>
                  <p>Angewandte Mathematik</p>
                </div>
              </div>
            </a>
          </div>

           <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/thomas_sturm.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. nat. Dr.-Ing. Thomas Sturm</h4>
                  <p>Mathematik, insb. Technomathematik</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/kristina_wied.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. phil. Kristina Wied</h4>
                  <p>Print- und Onlinejournalismus</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. pol. Peter Weinert</h4>
                  <p>Betriebswirtschaftslehre, insb. Organisation</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/thomas_wuestrich.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. pol. Thomas Wüstrich</h4>
                  <p>Volkswirtschaftslehre und - politik</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/natascha_zowislo.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. phil. habil. Natascha Zowislo- Grünewald</h4>
                  <p>Unternehmenskommunikation</p>
                </div>
              </div>
            </a>
          </div>

          

        </div>
      </div>
    </div>
  </div>
  <script>
$('.owl-carousel-3col').owlCarousel({
    loop:true,
    margin:10,
    autoplay:false,
    nav:true,
    navText: [
        '<i class="fa fa-angle-left"></i>',
        '<i class="fa fa-angle-right"></i>'
    ],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
  </script>
</section>
