<section id="prof-scroller" class="team-slider silver-light scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="row">
          <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">{{include.title}}</h2>
        </div>
      </div>
      <div>
        <div id="people-scroller" class="owl-carousel-3col">
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/karl-christian-thienel.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Christian Thienel</h4>
                  <p>Werkstoffe des Bauwesens</p>
                  <p></p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/Kimmerle.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer.nat. Sven- Joachim Kimmerle</h4>
                  <p>Ingenieurmathematik und Ingenieurinformatik</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/conrad_boley.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Conrad Boley</h4>
                  <p>Bodenmechanik und Grundbau</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/karl_heinz_thiemann.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Karl-Heinz Thiemann</h4>
                  <p>Landmanagement</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/klaus_bogenberger.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Klaus Bogenberger</h4>
                  <p>Verkehrstechnik</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/michael_bruenig.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. habil. Michael Brünig</h4>
                  <p>Baumechanik
                  </p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/geralt_siebert.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Geralt Siebert</h4>
                  <p>Baukonstruktion und Bauphysik</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/norbert_gebbeken.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. habil. Norbert Gebbeken</h4>
                  <p>Baustatik</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/otto_heunecke.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Otto Heunecke</h4>
                  <p>Ingenieursgeodäsie</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Andreas Taras</h4>
                  <p>Stahlbau</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/thomas_apel.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr. rer. habil. Thomas Apel</h4>
                  <p>Mathematik</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. habil. Christian Schaum</h4>
                  <p>Siedlungswasser-wirtschaft und Abfalltechnik</p>
                </div>
              </div>
            </a>
          </div>


          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Andreas Malcherek</h4>
                  <p>Hydromechanik und Wasserbau</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/person.png">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Jürgen Schwarz</h4>
                  <p>Baubetrieb</p>
                </div>
              </div>
            </a>
          </div>

          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/manfred_keuser.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Prof. Dr.-Ing. Manfred Keuser</h4>
                  <p>Massivbau</p>
                </div>
              </div>
            </a>
          </div>

          

        </div>
      </div>
    </div>
  </div>
  <script>
$('.owl-carousel-3col').owlCarousel({
    loop:true,
    margin:10,
    autoplay:false,
    nav:true,
    navText: [
        '<i class="fa fa-angle-left"></i>',
        '<i class="fa fa-angle-right"></i>'
    ],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
  </script>
</section>
