<section id="prof-scroller" class="team-slider silver-light scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{include.title}}</h2>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="people-scroller owl-carousel-3col">
            <div class="item">
              <a href="person.html" class="no-hover">
                <div>
                  <div class="pull-left">
                    <img class="icon-md" src="media/people/hirsch_4x4.jpg" alt="Portrait von Univ.-Prof. Dr. Bernhard Hirsch">
                  </div>
                  <div>
                    <h4 class="media-heading">Univ.-Prof. Dr. Bernhard Hirsch</h4>
                    <p>Professur für Allgemeine Betriebswirtschaftslehre, insbesondere Controlling</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="person.html" class="no-hover">
                <div>
                  <div class="pull-left">
                    <img class="icon-md" src="media/people/schueler_4x4.jpeg" alt="Portrait von Univ.-Prof. Dr. Andreas Schüler">
                  </div>
                  <div>
                    <h4 class="media-heading">Univ.-Prof. Dr. Andreas Schüler</h4>
                    <p>Professur für Betriebswirtschaftslehre, insbesondere Finanzwirtschaft und Finanzdienstleistungen</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="person.html" class="no-hover">
                <div>
                  <div class="pull-left">
                    <img class="icon-md" src="media/people/brieden_4x4.jpeg" alt="Portrait von Univ.-Prof. Dr. Andreas Brieden">
                  </div>
                  <div>
                    <h4 class="media-heading">Univ.-Prof. Dr. Andreas Brieden</h4>
                    <p>Professur für Statistik, insbesondere Risikomanagement</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="person.html" class="no-hover">
                <div>
                  <div class="pull-left">
                    <img class="icon-md" src="media/people/hartung_4x4.jpeg" alt="Portrait von Univ.-Prof. Dr. Thomas Hartung">
                  </div>
                  <div>
                    <h4 class="media-heading">Univ.-Prof. Dr. Thomas Hartung</h4>
                    <p>Professur für Versicherungswirtschaft</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="person.html" class="no-hover">
                <div>
                  <div class="pull-left">
                    <img class="icon-md" src="media/people/laschewski_4x4.jpeg" alt="Portrait Dr. Christian Laschewski">
                  </div>
                  <div>
                    <h4 class="media-heading">Dr. Christian Laschewski</h4>
                    <p>Juniorprofessur für Externes Rechnungswesen</p>
                  </div>
                </div>
              </a>
            </div>
            <div class="item">
              <a href="person.html" class="no-hover">
                <div>
                  <div class="pull-left">
                    <img class="icon-md" src="media/people/essig_4x4.jpg" alt="Portrait Univ.-Prof. Dr. Michael Eßig">
                  </div>
                  <div>
                    <h4 class="media-heading">Univ.-Prof. Dr. Michael Eßig</h4>
                    <p>Professur für Allgemeine Betriebswirtschaftslehre, insbesondere Materialwirtschaft und Distribution</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
$('.owl-carousel-3col').owlCarousel({
    loop:true,
    margin:10,
    autoplay:false,
    nav:true,
    navText: [
        '<i class="fa fa-angle-left"></i>',
        '<i class="fa fa-angle-right"></i>'
    ],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
  </script>
</section>
