<section class="people unibworange-background">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <a href="person.html">
            <div class="media">
                <img class="icon-lg" src="media/people/hirsch_4x4.jpg" alt="Portrait von Univ.-Prof. Dr. Bernhard Hirsch">
              <div class="media-body">
                <h3 class="media-heading">Univ.-Prof. Dr. Bernhard Hirsch</h3>
                <p>Univ.-Prof. Dr. Bernhard Hirsch ist seit September 2006 Professor für Controlling an der Universität der Bundeswehr München.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-4 col-sm-6">
          <a href="person.html">
            <div class="media">
                <img class="icon-lg" src="media/people/rauch_4x4.jpg" alt="Portrait von Damian Rauch">
              <div class="media-body">
                <h3 class="media-heading">Damian Rauch</h3>
                <p>Damian Rauch (Sportfördergruppe) tritt im Militärischen Fünfkampf an.</p>
              </div>
            </div>
          </a>
        </div><!--/.col-md-4-->
        <div class="col-md-4 col-sm-6 hidden-sm">
          <a href="person.html">
            <div class="media">
                <img class="icon-lg" src="media/people/dreo_4x4.jpg" alt="Portrait von Prof. Dr. Gabi Dreo Rodosek">
              <div class="media-body">
                <h3 class="media-heading">Prof. Dr. Gabi Dreo Rodosek</h3>
                <p>Prof. Dr. Gabi Dreo Rodosek ist Lehrstuhlinhaberin des Lerhstuhls für Kommunikationssysteme und Netzsicherheit.</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
