<section>
      <div class="container">
        <div class="section-content">
          <div class="row multi-row-clearfix">
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/media/people/hirsch_4x4.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">
Univ.-Prof. Dr. Bernhard Hirsch</h4>
                  <p class="mb-20">Univ.-Prof. Dr. Bernhard Hirsch ist seit September 2006 Professor für Controlling an der Universität der Bundeswehr München.</p>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="page-teachers-details.html">view details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/media/people/rauch_4x4.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name mt-0 text-theme-color-2">Damian Rauch</h4>
                  <p class="mb-20">Damian Rauch (Sportfördergruppe) tritt im Militärischen Fünfkampf an.</p>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="page-teachers-details.html">view details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/media/people/dreo_4x4.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name mt-0 text-theme-color-2">Prof. Dr. Gabi Dreo Rodosek</h4>
                  <p class="mb-20">Prof. Dr. Gabi Dreo Rodosek ist Lehrstuhlinhaberin des Lerhstuhls für Kommunikationssysteme und Netzsicherheit.</p>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="page-teachers-details.html">view details</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/media/team-members/12.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name mt-0 text-theme-color-2">Bettina Herrmann</h4>
                  <p class="mb-20">Chemistry (BSc), Computer Science (BSc), English and Creative Writing (BA)</p>
                  <ul class="styled-icons icon-dark icon-circled icon-theme-colored icon-sm pull-left flip">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                  </ul>
                  <a class="btn btn-theme-colored btn-sm pull-right flip" href="page-teachers-details.html">view details</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
