<section id="prof-scroller" class="team-slider silver-light scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <div class="row">
          <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">{{include.title}}</h2>
        </div>
      </div>
      <div>
        <div id="people-scroller" class="owl-carousel-3col">
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/hirsch_4x4.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Univ.-Prof. Dr. Bernhard Hirsch</h4>
                  <p>Professur für Allgemeine Betriebswirtschaftslehre, insbesondere Controlling</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/schueler_4x4.jpeg">
                </div>
                <div>
                  <h4 class="media-heading">Univ.-Prof. Dr. Andreas Schüler</h4>
                  <p>Professur für Betriebswirtschaftslehre, insbesondere Finanzwirtschaft und Finanzdienstleistungen</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/brieden_4x4.jpeg">
                </div>
                <div>
                  <h4 class="media-heading">Univ.-Prof. Dr. Andreas Brieden</h4>
                  <p>Professur für Statistik, insbesondere Risikomanagement</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/hartung_4x4.jpeg">
                </div>
                <div>
                  <h4 class="media-heading">Univ.-Prof. Dr. Thomas Hartung</h4>
                  <p>Professur für Versicherungswirtschaft</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/laschewski_4x4.jpeg">
                </div>
                <div>
                  <h4 class="media-heading">Dr. Christian Laschewski</h4>
                  <p>Juniorprofessur für Externes Rechnungswesen</p>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="person.html" class="no-hover">
              <div>
                <div class="pull-left">
                  <img class="icon-md" src="/media/people/essig_4x4.jpg">
                </div>
                <div>
                  <h4 class="media-heading">Univ.-Prof. Dr. Michael Eßig</h4>
                  <p>Professur für Allgemeine Betriebswirtschaftslehre, insbesondere Materialwirtschaft und Distribution</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
$('.owl-carousel-3col').owlCarousel({
    loop:true,
    margin:10,
    autoplay:true,
    nav:true,
    navText: [
        '<i class="fa fa-angle-left"></i>',
        '<i class="fa fa-angle-right"></i>'
    ],
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:5
        }
    }
})
  </script>
</section>
