<section class="teaser-3x2">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">Impressionen</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="media/events/imgr_1.jpg" alt="">
              <h4>Unternehmensforum 2015</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="media/events/impr_2.jpg" alt="">
              <h4>Unternehmensforum 2014</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="media/events/impr_3.jpg" alt="">
              <h4>Unternehmensforum 2013</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="media/events/impr_4.jpg" alt="">
              <h4>Unternehmensforum 2012</h4>
            </a>
          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="media/events/impr_5.jpg" alt="">
              <h4>Unternehmensforum 2011</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="box-item">
          <div class="item-inner padding">
            <a href="#">
              <img class="img-responsive" src="media/events/impr_6.jpg" alt="">
              <h4>Unternehmensforum 2010</h4>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
