<!-- start 2 column variant -->
<section class="textboxes scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{ include.title }}</h2>
        </div>
      </div>
    </div>

    <div class="section-content">
        <!-- start row -->
        <div class="row">
          <!-- start element -->
          <div class="col-sm-12 col-md-6 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  und so weiter und so fort
  </p>

  <p>
    <strong>Another one</strong><br />
  Tel.: +49 89 6004-2032<br />
                </div>
              </article>
          </div>
          <!-- end element -->
          <!-- start element -->
          <div class="col-sm-12 col-md-6 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  Fakultät für Informatik<br />
  Institut für Schutz und Zuverlässigkeit<br />
  Professur für Wirtschaftsinformatik
  </p>

  <p>
    <strong>Dr. Steffi Rudel</strong><br />
  Tel.: +49 89 6004-2032<br />
  E-Mail: <a href="mailto:steffi.rudel@unibw.de">steffi.rudel@unibw.de</a><br />
  <a href="www.unibw.de/schutz-zuverlaessigkeit">www.unibw.de/schutz-zuverlaessigkeit</a></p>
                </div>
              </article>
          </div>
          <!-- end element -->
        </div>

        <!-- end row  -->
        <!-- start row -->
        <div class="row">
          <!-- start element -->
          <div class="col-sm-12 col-md-6 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  und so weiter und so fort
  </p>

  <p>
    <strong>Another one</strong><br />
  Tel.: +49 89 6004-2032<br />
                </div>
              </article>
          </div>
          <!-- end element -->
          <!-- start element -->
          <div class="col-sm-12 col-md-6 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  Fakultät für Informatik<br />
  Institut für Schutz und Zuverlässigkeit<br />
  Professur für Wirtschaftsinformatik
  </p>

  <p>
    <strong>Dr. Steffi Rudel</strong><br />
  Tel.: +49 89 6004-2032<br />
  E-Mail: <a href="mailto:steffi.rudel@unibw.de">steffi.rudel@unibw.de</a><br />
  <a href="www.unibw.de/schutz-zuverlaessigkeit">www.unibw.de/schutz-zuverlaessigkeit</a></p>
                </div>
              </article>
          </div>
          <!-- end element -->
        </div>

        <!-- end row  -->
      </div>
    </div>
  </div>
</section>
<!-- end 2 column variant -->



<!-- start 3 column variant -->
<section class="textboxes scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{ include.title }}</h2>
        </div>
      </div>
    </div>

    <div class="section-content">
        <!-- start 2 column row -->
        <div class="row">
          <!-- start element -->
          <div class="col-sm-12 col-md-4 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  und so weiter und so fort
  </p>

  <p>
    <strong>Another one</strong><br />
  Tel.: +49 89 6004-2032<br />
                </div>
              </article>
          </div>
          <!-- end element -->

          <!-- start element -->
          <div class="col-sm-12 col-md-4 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  und so weiter und so fort
  </p>

  <p>
    <strong>Another one</strong><br />
  Tel.: +49 89 6004-2032<br />
                </div>
              </article>
          </div>
          <!-- end element -->
          <!-- start element -->
          <div class="col-sm-12 col-md-4 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  Fakultät für Informatik<br />
  Institut für Schutz und Zuverlässigkeit<br />
  Professur für Wirtschaftsinformatik
  </p>

  <p>
    <strong>Dr. Steffi Rudel</strong><br />
  Tel.: +49 89 6004-2032<br />
  E-Mail: <a href="mailto:steffi.rudel@unibw.de">steffi.rudel@unibw.de</a><br />
  <a href="www.unibw.de/schutz-zuverlaessigkeit">www.unibw.de/schutz-zuverlaessigkeit</a></p>
                </div>
              </article>
          </div>
          <!-- end element -->
        </div>

        <!-- end row  -->
      </div>
    </div>
  </div>
</section>
<!-- end 3 column variant -->


<!-- start 4 column variant -->
<section class="textboxes scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">{{ include.title }}</h2>
        </div>
      </div>
    </div>

    <div class="section-content">
        <!-- start 2 column row -->
        <div class="row">
          <!-- start element -->
          <div class="col-sm-12 col-md-3 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  und so weiter und so fort
  </p>

  <p>
    <strong>Another one</strong><br />
  Tel.: +49 89 6004-2032<br />
                </div>
              </article>
          </div>
          <!-- end element -->

          <!-- start element -->
          <div class="col-sm-12 col-md-3 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  und so weiter und so fort
  </p>

  <p>
    <strong>Another one</strong><br />
  Tel.: +49 89 6004-2032<br />
                </div>
              </article>
          </div>
          <!-- end element -->
          <!-- start element -->
          <div class="col-sm-12 col-md-3 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  Fakultät für Informatik<br />
  Institut für Schutz und Zuverlässigkeit<br />
  Professur für Wirtschaftsinformatik
  </p>

  <p>
    <strong>Dr. Steffi Rudel</strong><br />
  Tel.: +49 89 6004-2032<br />
  E-Mail: <a href="mailto:steffi.rudel@unibw.de">steffi.rudel@unibw.de</a><br />
  <a href="www.unibw.de/schutz-zuverlaessigkeit">www.unibw.de/schutz-zuverlaessigkeit</a></p>
                </div>
              </article>
          </div>
          <!-- end element -->
          <!-- start element -->
          <div class="col-sm-12 col-md-3 nopadding">
              <article class="block clearfix">

                <div class="entry-image">
                  <img src="media/news/160611_TdBw_Neubiberg_Koch_07_4x4.jpg" alt="" class="img-responsive img-fullwidth">
                </div>
                <div class="entry-content">
                  <p>
  Universität der Bundeswehr München<br />
  Fakultät für Informatik<br />
  Institut für Schutz und Zuverlässigkeit<br />
  Professur für Wirtschaftsinformatik
  </p>

  <p>
    <strong>Dr. Steffi Rudel</strong><br />
  Tel.: +49 89 6004-2032<br />
  E-Mail: <a href="mailto:steffi.rudel@unibw.de">steffi.rudel@unibw.de</a><br />
  <a href="www.unibw.de/schutz-zuverlaessigkeit">www.unibw.de/schutz-zuverlaessigkeit</a></p>
                </div>
              </article>
          </div>
          <!-- end element -->
        </div>

        <!-- end row  -->
      </div>
    </div>
  </div>
</section>
<!-- end 4 column variant -->