<style>
  .cls-area {
    position: relative;
    background: transparent;
    height: 290px;
    top: -30px;
    margin: 0;
    padding: 0;
  }
  .cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-11, .cls-12 {
    fill: #fff;
    font-family: thesans;
    font-weight: 600;
    position: absolute;
    text-align: left;
    margin: 0; padding: 0;
  }
  .cls-1 span, .cls-2 span, .cls-3 span, .cls-4 span, .cls-5 span, .cls-6 span, .cls-11 span, .cls-12 span {
    display: block;
    margin: 0; padding: 0; line-height: 1;
    white-space: nowrap;
  }

  .cls-1 {
    left: 741px;
    top: -10px;
  }

  .cls-2 {
    left: 583px;
    top: 191px;
  }

  .cls-3 {
    left: 56px;
    top: 242px;
  }

  .cls-4 {
    left: 0px;
    top: 27px;
  }

  .cls-5 {
    left: 0px;
    top: 179px;
  }

  .cls-6 {
    left: 535px;
    top: 67px;
  }

  .cls-11 {
    left: 123px;
    top: 80px;
  }

  .cls-12 {
    left: 590px;
    top: 140px;
  }

  .cls-1 span {
    opacity: 0.2;
    font-size: 92px;
  }

  .cls-2 span {
    opacity: 0.4;
    font-size: 84px;
  }

  .cls-3 span {
    opacity: 0.3;
    font-size: 42px;
  }

  .cls-4 span {
    opacity: 0.5;
    font-size: 50px;
  }

  .cls-5 span {
    opacity: 0.75;
    font-size: 56px;
  }

  .cls-6 span {
    opacity: 0.8;
    font-size: 68px;
  }

  .cls-11 span {
    opacity: 0.2;
    font-size: 110px;
  }

  .cls-12 span {
    opacity: 0.2;
    font-size: 36px;
  }

  .tooltip {
    font-size: 14px;

  }
  .tooltip-inner {
    text-align: left;
    max-width: 300px;
  }

</style>

<section class="scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-6">
          <h2 class="mt-0 mb-0 text-uppercase line-bottom font-28">{{ include.title }}</h2>
        </div>
      </div>
    </div>
    <div class="col-lg-12 cls-area">

        <div id="Responsiv" class="cls-1"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Die Website soll sich an die verschiedenen Devices anpasen und auf Smartphones, Tablets und Desktop PCs gleichermassen funktionieren"><span>Responsiv</span></a></div>
        <div id="Neu_und_frisch" data-name="Neu und frisch" class="cls-2"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Das Design soll an moderne Standards angepasst werden und neu und frisch wirken"><span>Neu und frisch</span></a></div>
        <div id="Einheitliche_aussenwirkung" data-name="Einheitliche Außenwirkung " class="cls-3"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Alle Einrichtungen sollen ein weitgehend einheitliches Aussehen bekommen um einen Wiedererkennungseffekt zu erreichen"><span>Einheitliche Aussenwirkung</span></a></div>
        <div id="Modular" class="cls-11"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Durch das System von Modulen und Modulseiten entsteht ein flexibles, modulares Design"><span>Modular</span></a></div>
        <div id="Einfach_zu_benutzen" data-name="Einfach zu benutzen" class="cls-4"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Die Bedienung soll einfach gehalten werden damit die Pflege der Inhalte leicht von der Hand geht. Eine aktuelle Website ist dringend notwendig zur zeitgemäßen Aussendarstellung"><span>Einfach zu benutzen</span></a></div>
        <div id="Immer_aktuell" data-name="Immer aktuell" class="cls-5"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Automatisch immer aktuell durch Updates und Versionskontrolle"><span>Immer aktuell</span></a></div>
        <div id="Effizient" class="cls-6"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Effiziente und ressourcenschonende Umsetzung"><span>Effizient</span></a></div>
        <div id="Gestaltungsspielraum_und_Freiheiten" data-name="Gestaltungsspielraum und Freiheiten" class="cls-12"><a href="#" data-toggle="tooltip" data-placement="top" title="" data-original-title="Gleichzeitig soll es viele Gestaltungsspielräume geben, um den unterschiedlichen Anforderungen Rechnung zu tragen"><span>Gestaltungsspielraum und Freiheiten</span></a></div>

    </div>
  </div>
</div>
</section>



