<section id="cd-timeline" class="cd-container">
{% assign timeline = site.data.kommsite_timeline | reverse %}

  {% for item in timeline %}
  <div class="cd-timeline-block">
    <div class="cd-timeline-img {{ item.img_class }} bounce-in">
      <img src="{{ item.img }}" alt="Picture">
    </div> <!-- cd-timeline-img -->

    <div class="cd-timeline-content bounce-in">
      <h2>{{ item.title }}</h2>
      <p>{{ item.description }}</p>
      {% if item.url %}<a href="{{ item.url }}" class="cd-read-more">Mehr</a>{% endif %}
      <span class="cd-date">{{ item.date }}</span>
    </div> <!-- cd-timeline-content -->
  </div> <!-- cd-timeline-block -->
  {% endfor %}

</section>
