    <section>
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <div class="owl-carousel-1colx" data-nav="true">
                <div class="item">
                  <img src="/media/hero/unterstuetzung.jpg" alt="">
                </div>
              </div>
              <h3 class="text-theme-colored">Resourcen und Möglichkeiten</h3>
              <p class="mb-30">Sie sind nicht allein bei der Umstellung. Es hat zwar keiner Manpower übrig und die Resourcen sind stets knapp. Trotzdem stehen Ihnen eine Reihe an Möglichkeiten zur Verfügung, gut durch die Umstellung zu kommen und schnell die neuen Möglichkeiten nutzen zu können.<br> Lesen Sie hier, wie…</p>
              <a class="text-theme-colored" href="kommsite-hilfe.html">Weiter →</a>
            </div>
            <div class="col-md-6">
              <h2 class="line-bottom line-height-1 mt-0 mb-10 mt-sm-30">Tipps <span class="text-theme-color-2">& Unterstützung</span></h2>
              <p class="mb-30">Aktuelle HowTos…</p>
              <div class="row">
          {% assign count = 1 %}

            {% for item in site.posts %}
            {% if item.item_type == 'howto' and count < 5 and item.department == 'kommsite' %}


              <a href="{{ item.name}}">
                <div class="col-xs-12 col-sm-6 col-md-6">
                  <div class="icon-box iconbox-bg p-30 mb-30 iconbox-theme-colored">
                    <span class="icon icon-gray icon-circled icon-border-effect effect-circled">
                      <i class="fa fa-{{ item.icon }}"></i>
                    </span>
                    <h4 class="icon-box-title m-0 mb-5">{{ item.title }}</h4>
                  </div>
                </div>
              </a>

              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
              </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 text-right">
                    <a href="kommsite-hilfe.html" class="text-theme-colored">Alle Howtos →</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>