<section class="silver">
  <div class="center">
    <h2>Berufsbilder</h2>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 ">

        <h3>Controller</h3>
        <p>Ein Controller nimmt Planungs-, Koordinations- und Kontrollaufgaben wahr, um die Unternehmensführung mit Instrumenten und Informationen zu versorgen. Beim operativen Controlling geht es um die Steuerung der Wirtschaftlichkeit, Rentabilität sowie Liquidität des Unternehmens. Das strategische Controlling benutzt Analysen, um neue Potentiale für das Unternehmen aufzubauen und vor Fehleinschätzungen des Marktes zu warnen.</p>

        <h3>Wirtschaftsingenieur</h3>
        <p>Wirtschaftsingenieure werden meist innerhalb von technisch-wirtschaftlichen Querschnittsfunktionen, wie z. B. für logistische oder planerische Aufgaben (z. B. im Fertigungsbereich), technisches Marketing, Vertrieb bzw. Einkauf für technische Produkte, Projektmanagement oder Qualitätssicherung tätig. Sie werden hauptsächlich im Maschinenbau, der Elektrotechnik, im Fahrzeugbau, im Bauwesen und in Beratungsgesellschaften eingesetzt.</p>


      </div>
      <div class="col-md-6 ">
        <h3>Unternehmensberater</h3>
        <p>Unternehmensberater bieten anderen Unternehmen die Beratung als Dienstleistung an. Oft ist das Management der Kunden Gegenstand der Beratung, dann wird von der sog. Managementberatung gesprochen. Manchmal stehen aber auch fachliche Entscheidungen und Veränderungen im Mittelpunkt, wie z. B. bei speziellen IT- oder Ingenieurleistungen, Personalfragen oder der Wirtschaftsprüfung.</p>


        <h3>Projektmanager</h3>
        <p>Der Projektmanager ist für die operative Planung und Steuerung eines Projektes verantwortlich. Je nach Projektart ist er in diesem Zusammenhang für das Erreichen von Sach-, Termin-, Kosten- bzw. Ausbildungszielen im Rahmen des Projekts zuständig. Im Bereich der Planung legt er Ziele sowie benötigte Ressourcen für deren Erreichung fest.</p>



      </div>
    </div>
  </div>
</section>
