
<section class="accordion scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="module-title line-bottom">Unsere Auswahl</h2>
        <p class="description">Text - Text - Text</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">


		<div class="panel-group toggle">
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle11" class=""><span class="open-sub"></span>Ehemalige Wehrbereichsbibliothek VI</a>
		      </div>
		    </div>
		    <div id="toggle11" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<!-- Document content -->
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="#">Inhalt</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="{{ site.baseurl }}werkstoffe-roentgendiffraktometer.html">Inhalt</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Frei</a></li>
				</ul>
		      	<!-- / Document content -->
		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle12"><span class="open-sub"></span>Gedruckte DIN-Normen</a>
		      </div>
		    </div>
		    <div id="toggle12" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->

		      	<p>Text, Text, Text</p>

				<p>Text, Text, Text.</p>
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="#">Inhalt</a></li>
					<li><i class="fa fa-hand-o-right"></i><a href="#">Inhalt</a></li>
					
				</ul>
		      	<!-- /Document content -->

		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle13"><span class="open-sub"></span>leer</a>
		      </div>
		    </div>
		    <div id="toggle13" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="#">Inhalt</a></li>
					
					
				</ul>
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		</div>        


      </div>
      <div class="col-md-6 ">


		<div class="panel-group toggle">
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle21" class=""><span class="open-sub"></span>Großformatige kartografische Atlanten und Karten</a>
		      </div>
		    </div>
		    <div id="toggle21" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	<p>Text</p>

				<table class="table">
					<tbody>
						<tr>
							<td>
							<p><strong>Inhalt</strong></p>
							</td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i>Inhalt</li>
								
								
							</ul>
							</td>
						</tr>
						<tr>
							<td><strong>Bestimmung der Mahlfeinheit</strong></td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/bet-verfahren">BET-Verfahren n. DIN ISO 9277</a></li>
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/luftdurchlaessigkeitsgeraet">Luftdurchlässigkeitsgerät nach Blaine lt. DIN EN 196-6</a></li>
							</ul>
							</td>
						</tr>
						<tr>
							<td><strong>Untersuchungen zum Hydratationsverhalten</strong></td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/waermeflusskalorimeter">Wärmeflusskalorimeter</a></li>
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/porenloesung">Untersuchung der&nbsp;Porenlösung</a></li>
							</ul>
							</td>
						</tr>
						<tr>
							<td>
							<p><strong>Rheologische Untersuchung</strong></p>
							</td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/viskomat">Viskomat NT</a></li>
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/bt-2">Frischbetonrheometer BT-2</a></li>
							</ul>
							</td>
						</tr>
						<tr>
							<td><strong>Frischmörteluntersuchung</strong></td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i>Erstarrungszeiten und Raumbeständigkeit n. DIN EN 196-3</li>
								<li><i class="fa fa-hand-o-right"></i>Wasseranspruch nach Puntke n. DAfStb-Richtlinie "Selbstverdichtender Beton" 2003-11</li>
								<li>
								<p><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/schwindkegel">Schwindkegel</a></p>
								</li>
							</ul>
							</td>
						</tr>
						<tr>
							<td>
							<p><strong>Dichtebestimmung</strong></p>
							</td>
							<td>
							<ul class="list-icon angle-double-right theme-colored">
								<li><i class="fa fa-hand-o-right"></i><a href="https://www.unibw.de/werkstoffe/kompetenzen/bindemittel-zusatzstoffe/gaspyknometer">Gaspyknometer n. DIN 66137-2</a></li>
								<li><i class="fa fa-hand-o-right"></i>Kapillarpyknometer</li>
								<li><i class="fa fa-hand-o-right"></i>Flaschenpyknometer n. DIN EN 1097-6</li>
								<li><i class="fa fa-hand-o-right"></i>Wasseraufnahme leichter GK über BVK-Verfahren n. DIN EN 459-2</li>
								<li><i class="fa fa-hand-o-right"></i>Einlaufgerät nach Böhme</li>
							</ul>
							</td>
						</tr>
					</tbody>
				</table>
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle22"><span class="open-sub"></span>Frei</a>
		      </div>
		    </div>
		    <div id="toggle22" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="{{ site.baseurl }}werkstoffe-computertomographie.html">leer</a></li>
					
				</ul>
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle23"><span class="open-sub"></span>frei</a>
		      </div>
		    </div>
		    <div id="toggle23" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	<ul class="list-icon angle-double-right theme-colored">
			      	<li><i class="fa fa-hand-o-right"></i><a href="#">Inhalt</a></li>
					
				</ul>
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		</div>        


        



      </div>
    </div>
  </div>
</section>

