
<section class="accordion scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <h2 class="module-title line-bottom">Unsere Auswahl</h2>
        <p class="description">Gebäude 33/100 und 200, 1. Stock</p>
        
        <p>Ergänzend zum umfassenden Freihand- und Lesebereich im Geb. 35/200 bietet die Universitätsbibliothek weitere Bestände frei zugänglich an.
        Die Signaturen der dort aufgestellten Medien beginnen mit der Gebäudenummer 33, also z.B. 33/WBB/2016.123.</p>

        <p>Alle Sonderbestände können vor Ort genutzt und größtenteils auch entliehen werden.</p>

<p>&nbsp;</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">


		<div class="panel-group toggle">
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle11" class=""><span class="open-sub"></span>Ehemalige Wehrbereichsbibliothek VI</a>
		      </div>
		    </div>
		    <div id="toggle11" class="panel-collapse collapse">
		      <div class="panel-body">
		      	<!-- Document content -->
		      	<p>Die Wehrbereichsbibliothek VI (WBB) wurde 1956 als wissenschaftliche Fachbibliothek der Bundeswehr zur Literaturversorgung im Wehrbereich VI (deckungsgleich mit dem Freistaat Bayern) gegründet. Aus diesem Auftrag ergaben sich die Sammelgebiete: Bundeswehr, Sicherheitspolitik, Wehrtechnik, Militär- und Zeitgeschichte, Geschichte, sowie allgemein Literatur mit militärischem Bezug. Dazu kam ein regionaler, insbesondere regionalgeschichtlicher bayerischer Schwerpunkt.</p>

                <p>Die WBB wurde bei der Gründung der Hochschulen der Bundeswehr im Jahr 1973 der Universitätsbibliothek der Universität der Bundeswehr München (UB UniBw M) zugeordnet und zunächst weitgehend eigenständig weitergeführt. Der Bestand befand sich in einem geschlossenen Bibliotheksmagazin. Bei der Auflösung des WB VI im Jahr 2001 wurde entschieden, dass die WBB komplett in den Bestand der UB UniBw M übernommen und dort weiter betreut und ausgebaut wird. </p>

                <p>Damit ergänzt die von der WBB gesammelte Literatur den fachwissenschaftlichen Bestand der UB auf den entsprechenden Gebieten und bildet auch eine Grundlage für die allgemeine Weiterbildung der studierenden Offiziere in ihrem beruflichen militärischen Umfeld unabhängig vom Studienfach.</p>

                <p>Um den Nutzern einen direkten Zugang und schnelleren Zugriff auch auf diese Literatur zu ermöglichen, ist die WBB nun frei zugänglich. <u>Sie behält dabei allerdings ihren ursprünglichen Charakter als Magazinbibliothek, bei der die Bücher nicht fachlich zusammengehörig, sondern rein formal nach den Signaturen geordnet sind. Außerdem enthält sie auch ältere, seltener genutzte und teilweise auch nur eingeschränkt nutzbare Werke.</u></p>

                <p>Der frei zugänglich aufgestellte WBB-Bestand umfasst ca. 140.000 Bände. Er wird laufend erweitert.</p>

                <p>Bis zum Jahr 1984 wurde der WBB-Bestand durch einen eigenen Zettelkatalog mit einer speziellen Systematik sachlich erschlossen. Hier sind auch einzelne Aufsätze nachgewiesen.</p>

                <p>Der Systematische Katalog der WBB VI steht als IPAC (Image Public Access Catalog) zur Verfügung. Nähere Angaben zur Systematik und der Nutzung des Kataloges finden sie dort im Hilfe-Text.</p>

                <p><strong><em>IPAC (</em></strong><a href="http://137.193.200.8/?startIPAC=IPAC"><strong><em>http://137.193.200.8/?startIPAC=IPAC</em></strong></a><strong><em> )</em></strong></p>

		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle12"><span class="open-sub"></span>Gedruckte DIN-Normen</a>
		      </div>
		    </div>
		    <div id="toggle12" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
                <p><u>Nur für Angehörige der Universität</u> stehen ergänzend zum Online-Zugriff über das <em>Normsearch-Portal </em>die gedruckten&nbsp; DIN-Normen <u>bis zum Erscheinungsjahr 2000</u> zur Verfügung. Diese Normen dürfen nicht eingescannt, sondern nur kopiert werden. Kopien müssen vom Bibliothekspersonal mit einem bestimmten Stempel gekennzeichnet werden.</p>
		      	


				
		      	
		      	<!-- /Document content -->

		      </div>
		    </div>
		  </div>
		  
		</div>        


      </div>
      <div class="col-md-6 ">


		<div class="panel-group toggle">
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle21" class=""><span class="open-sub"></span>Großformatige kartografische Atlanten und Karten</a>
		      </div>
		    </div>
		    <div id="toggle21" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	
				<p>Atlanten und Karten, die wegen ihres Formats nicht im allgemeinen Freihandbestand im Gebäude 35/200 aufgestellt werden können, werden im Gebäude 33 angeboten. Bis auf Ausnahmen (z.B. Atlanten mit losen Einzelblättern) können sie auch entliehen werden.</p>			
							
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		  <div class="panel">
		    <div class="panel-heading">
		      <div class="panel-title"> 
		      	<a data-toggle="collapse" href="#toggle22"><span class="open-sub"></span>Frei</a>
		      </div>
		    </div>
		    <div id="toggle22" class="panel-collapse collapse">
		      <div class="panel-body">
   		      	<!-- Document content -->
		      	
		      	<!-- /Document content -->
		      </div>
		    </div>
		  </div>
		  
		</div>        


        



      </div>
    </div>
  </div>
</section>

