<section class="video">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="video-popup">                
          <a href="https://www.youtube.com/embed/qdraauX_m9M?enablejsapi=1&amp;origin=http%3A%2F%2F5.35.244.66&amp;widgetid=1" data-lightbox-gallery="youtube-video" title="Video">
            <img alt="" src="https://img.youtube.com/vi/qdraauX_m9M/maxresdefault.jpg" class="img-responsive img-fullwidth">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
