<section class="scheme-{{include.color_scheme}}">
  <div class="container">
    <div class="section-title">
      <div class="row">
        <div class="col-md-12">
          <h2 class="module-title line-bottom">Forschung und Kompetenzen</h2>
        </div>
      </div>
    </div>
    <div class="section-content">
      <div class="row">
        <div class="col-md-6 ">

          <h3>Forschung</h3>
          <p>Forschung, Forschung... Dieser Bereich ist leer, weil der zuständige Fachbereich noch keine Inhalte geliefert hat. Es finden sich hier keine Inhalte, weil der zuständige Fachbereich noch keine geliefert hat. Sobald Inhalte geliefert werden vom zuständigen Fachbereich, werden diese hier angezeigt. </p>

        </div>
        <div class="col-md-6 ">
          <h3>Kompetenzen</h3>
          <p>Im Rahmen seiner Lehr- und Forschungstätigkeit verfügt das Institut für Werkstoffe des Bauwesens über verschiedene Labore. Hierzu gehören das Chemielabor, das Bindemittellabor, das Betonlabor sowie das Labor für Strukturanalyse. Mit dem Ziel einer praxisbezogenen Ausbildung finden in den Laboren auch vielfältige Lehrveranstaltungen unter aktiver Beteiligung der Studenten statt.</p>
        </div>
      </div>
    </div>
  </div>
</section>
