@charset "UTF-8";


/*@font-face {
    font-family: "thesans";
    src: url('../css/fonts/TheSaB4_.woff') format('woff');
}
*/
@font-face {
    font-family: "thesans";
    src: url("../fonts/TheSans_B2/TheSans_B2_400_SemiLight/TheSans_B2_400_.eot");
    src: url("../fonts/TheSans_B2/TheSans_B2_400_SemiLight/TheSans_B2_400_.eot?#iefix") format("embedded-opentype"),
    url("../fonts/TheSans_B2/TheSans_B2_400_SemiLight/TheSans_B2_400_.woff") format("woff"),
    url("../fonts/TheSans_B2/TheSans_B2_400_SemiLight/TheSans_B2_400_.svg#TheSans_B2_400_") format("svg");
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: theserif;
    src: url('../fonts/TheSerif_cls_3_.woff') format('woff');
}*/
@font-face {
     font-family: "theserif";
     src: url("../fonts/TheSerifOffice/TheSerifOfficeLF5/TheSerifOfficeLF5_.woff2") format("woff2");
     font-weight: normal;
     font-style: normal;
}

$colour-uni-orange: #ED6600 !default;

// http://www.websitebuilderexpert.com/how-to-choose-color-for-your-website/
// https://color.adobe.com/de/create/color-wheel/?base=2&rule=Analogous&selected=0&name=Mein%20Color-Thema&mode=rgb&rgbvalues=0.31246392692162916,0.9686274509803922,0.5733410531524858,0.8394117647058824,0.8128914386067215,0.2616615052447046,0.9294117647058824,0.4,0,0.8394117647058824,0.3571560841517555,0.7853092440107536,0.3859965181005549,0.5141390172153777,0.9686274509803922&swatchOrder=0,1,2,3,4
$colour-uni-similar-1: #50F792 !default;  // green
$colour-uni-similar-1-text: black !default;
$colour-uni-similar-2: #D6CF43 !default;  // yellow
$colour-uni-similar-2-text: black !default;
$colour-uni-similar-3: #D65BC8 !default;  // pink
$colour-uni-similar-3-text: white !default;
$colour-uni-similar-4: #6283F7 !default;  // blue
$colour-uni-similar-4-text: black !default;

$colour-text: #282828 !default;
$colour-text-secondary: #808080 !default;
$colour-text-light: #ffffff !default;
$colour-uni-grey: #6A686F !default;
$colour-middle-grey: #8B8891 !default;
$colour-light-grey: #E6E6E6 !default;
$colour-dark-blue: #003366 !default;
$colour-black-minus-one: #111111 !default;
$colour-black-minus-two: #282828 !default;
$colour-link: #337ab7 !default;
$colour-link-hover: #23527c !default;
$colour-link-focus: #23527c !default;

// Intranet Colours
$colour-rust-red : #CC3300 !default;  //Studium
$colour-rust-red-80: #D47557 !default;  // Campus (??)
$colour-mediterran-azure: #50A2E8 !default;  // Koerper und Seele
$colour-ruddy-beige: #C09F80 !default;  // Service
$colour-dark-grey: #8b9094 !default; // IT Dienste
$colour-ruddy-beige-80: rgba(192, 159, 128, 0.8) !default;
$colour-dark-yellow: #FFCC66 !default;  // Personal
$colour-dark-yellow-80: rgba(255, 204, 102, 0.8) !default;
$colour-orange-orange: #ED6600 !default; // uebergreifende dienste
$colour-dark-purple: #6C387B !default; // Foschung
$colour-olive-green: #46512F !default; // Militaerisches
$colour-creamy-red-wine-80: rgba(152, 75, 67, 0.8) !default;
$colour-mensa-brown: #984B43 !default;  // Verpflegung
$colour-dark-pink: #B30557 !default; // Weiterbildung


$colour-valley-green: #719c17 !default; // PC
$colour-ocean-blue: #0c66b3 !default; // Web

$colour-category-grey: #cc3300 !default ; // Personen will change

// Font treatment
$base-font-size: 18px !default;
$small-font-size: 16px !default;
$base-line-height: 1.5em !default;
$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

html {
    font-size: $base-font-size;
}
body {
    font-size: $base-font-size;
    color: $colour-text;
}
h1,
.h1 {
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
h4,
.h4 {
  font-size: 1.33rem;
}
h5,
.h5 {
  font-size: 1.11rem;
  font-weight: bold;
}
h6,
.h6 {
  font-size: 1.11rem;
}

.list-icon li {
    font-size: $small-font-size;
}
.visualClear {
    clear: both;
}
a.tilelink {
    color: $colour-text;
}

header,
footer, 
ol, 
ul {
    :focus {
      border-style: solid;
      border-color: $colour-uni-orange;
      border-width: 1px;
      border-radius: 0 !important;
    } 
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  width:95%;
  overflow:hidden;
}
.main-content {
    .container {
        ul {
            list-style-type: disc;
            list-style-position: outside;
            > li {
                margin-left: 2em;
            }
            &.blank {
                list-style-type: none;
                > li {
                    margin-left: 0;
                }
            }
            &.angle-double-right {
                list-style-type: none;
                > li {
                    margin-left: 0;
                }
            }
            &.list-group {
                > li {
                    margin-left: 0;
                }
            }
        }
        ol {
            list-style-type: decimal;
            list-style-position: outside;
            > li {
                margin-left: 2em;
            }
        }
    }
}

.font-thesans {
  font-family: "thesans";
}
.font-theserif {
  font-family: 'theserif', serif;
}
blockquote {
    border-left: 3px solid $colour-dark-blue;
    background-color: $colour-light-grey;
    p {
        font-family: "thesans";
        font-size: 100%;
        font-style: normal;
    }
}
#breadcrumbs {
    .breadcrumb {
        color: $colour-text;
        font-size: $base-font-size;
        font-weight: $font-weight-bold;
        a {
            &:hover,
            &:focus {
              color: $colour-text-secondary;
            }
          }
        li {
            margin-left: 0;
        }
        > li + li::before {
        content: "/";
        font-size: $base-font-size;
        }
    }

}
a {
    color: $colour-link;
    text-decoration: none;
    &:hover {
        color: $colour-link-hover;
    }
    &:focus {
        color: $colour-link-focus;
    }
}

/* Color schemes */
.unibworange-text { color: $colour-uni-orange; }
.unibworange-background { background-color: $colour-uni-orange; }
.unibworange-border { border-color: $colour-uni-orange; }

.background-light-gray, .silver-light { background-color: #eee; }
.background-gray, .silver { background-color: #aaa; }
.background-dark-gray { background-color: #666; }


/* Old schemes */
/*
.scheme-beige { background-color: #f5f2f0 !important; color: $colour-text !important; }
.scheme-light-gray, .scheme-light-grey { background-color: #eee !important; color: $colour-text !important; }
.scheme-grey,
.scheme-gray { background-color: #bbb !important; color: $colour-text-light !important; }
.scheme-dark-grey,
.scheme-dark-gray { background-color: #666 !important; color: $colour-text-light !important; }

.scheme-dark-gray a,
.scheme-dark-gray h2,
.scheme-dark-gray h3,
.scheme-dark-gray h4 {
  color: white;
}

.scheme-yellow { background-color: $colour-dark-yellow !important; color: $colour-text !important; }
.scheme-orange { background-color: $colour-uni-orange !important; color: $colour-text-light !important; }
.scheme-red { background-color: $colour-rust-red !important; color: $colour-text-light !important; }
.scheme-blue {
    h2,
    h3,
    h4,
    a,
    p {
      background-color: $colour-warm-blue !important; color: $colour-text-light !important;
    }

}
*/
/* New Schemes */

.scheme-white { 
    background-color: white !important; 
    color: $colour-text !important; 
    .list-group-item { 
                        background-color: #fafafa; 
                      } 
    }


.scheme-light-grey { 
    background-color: #eee !important; 
    color: $colour-text !important; 
    .list-group-item,
    .bg-deep,
    .howto.iconbox-bg,
    .icon-box .icon-gray,
    p.callout  { 
                background-color: #ffffff; 
              } 
    .howto p.text-gray { color: $colour-text !important;  }
    }


.scheme-uni-grey {
    background-color: $colour-uni-grey !important;
    color: white !important;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    strong,
    p {
        color: white !important;
    }
    .post *,
    p.callout,
    blockquote p,
    .contact-info h4 { color: $colour-text !important; } 
    .list-group-item { 
                        background-color: #fafafa;
                        color: $colour-text !important; 
                        a { color: $colour-link !important; }
                        a:hover { color: $colour-link-hover !important; }
                        a:active { color: $colour-link !important; }
                        a:focus { color: $colour-link-focus !important; }
                        a:visited { color: $colour-link !important; }
                      } 

    .icon-box { 
                h4, 
                h5 { color: $colour-text !important; }
                .text-gray,
                p.text-gray,
                h6.text-gray  { color: grey !important; }
                a.icon-dark { color: white !important; }
                .icon.icon-gray { background-color: #c4c3c7 }
            }
    .contact-info .text-gray { color: grey !important; }  
    .bg-deep { background-color: #f1f1f1 !important; }
    .howto {
                h5, 
                p.text-gray { color: white !important;  }
    }
}
.scheme-uni-orange {
    background-color: $colour-uni-orange !important;
    color: white !important;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    strong,
    p {
        color: white !important;
    }
    .post *,
    p.callout,
    blockquote p,
    .contact-info h4 { color: $colour-text !important; } 
    .list-group-item { 
                        background-color: #fafafa;
                        color: $colour-text !important; 
                        a { color: $colour-link !important; }
                        a:hover { color: $colour-link-hover !important; }
                        a:active { color: $colour-link !important; }
                        a:focus { color: $colour-link-focus !important; }
                        a:visited { color: $colour-link !important; }
                      } 

    
    .icon-box { 
                h4, 
                h5 { color: $colour-text !important; }
                .text-gray,
                p.text-gray,
                h6.text-gray  { color: grey !important; }
                a.icon-dark { color: white !important; }
                .icon.icon-gray { background-color: #e0e0e0 }
            }
    .contact-info .text-gray { color: grey !important; }  
    .bg-deep { background-color: #f1f1f1 !important; }
    .howto {
                h5, 
                p.text-gray { color: white !important;  }
    }
    .howto .icon-white { border-color: #e0e0e0  !important; }
}
.scheme-middle-grey { 
    background-color: $colour-middle-grey !important; 
    color: white !important;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    strong,
    p {
        color: white !important;
    }
     .post *,
    p.callout,
    blockquote p,
    .contact-info h4 { color: $colour-text !important; } 
    .list-group-item { 
                        background-color: #fafafa;
                        color: $colour-text !important; 
                        a { color: $colour-link !important; }
                        a:hover { color: $colour-link-hover !important; }
                        a:active { color: $colour-link !important; }
                        a:focus { color: $colour-link-focus !important; }
                        a:visited { color: $colour-link !important; }
                      } 
    .icon-box { 
                h4, 
                h5 { color: $colour-text !important; }
                .text-gray,
                p.text-gray,
                h6.text-gray  { color: grey !important; }
                a.icon-dark { color: white !important; }
                .icon.icon-gray { background-color: #dfdde3 }
            }
    .contact-info .text-gray { color: grey !important; }  
    .bg-deep { background-color: #f1f1f1 !important; }
    .howto {
                h5, 
                p.text-gray { color: white !important;  }
    }
}
.scheme-dark-blue {
    background-color: $colour-dark-blue !important;
    color: white !important;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    a,
    strong,
    p {
        color: white !important;
    }
    .btn-theme-colored {
        background-color: $colour-uni-orange;
        border-color: $colour-uni-orange;
    }
    .btn-theme-colored:hover,
    .btn-theme-colored:active,
    .btn-theme-colored:focus {
        background-color: darken($colour-uni-orange, 10%);
        border-color: darken($colour-uni-orange, 10%);
    }
    .post *,
    p.callout,
    blockquote p,
    .contact-info h4 { color: $colour-text !important; } 
    .list-group-item { 
                        color: $colour-text !important; 
                        a { color: $colour-link !important; }
                        a:hover { color: $colour-link-hover !important; }
                        a:active { color: $colour-link !important; }
                        a:focus { color: $colour-link-focus !important; }
                        a:visited { color: $colour-link !important; }
                      }
    .icon-box { 
                h4, 
                h5 { color: $colour-text !important; }
                .text-gray,
                p.text-gray,
                h6.text-gray  { color: grey !important; }
                a.icon-dark { color: white !important; }
                a.icon-gray { color: $colour-link !important; }   
                .icon.icon-gray { background-color: #dfdde3 }
            }
    .contact-info .text-gray { color: grey !important; }  
    .bg-deep { background-color: #f1f1f1 !important; }
    .howto {
                h5, 
                p.text-gray { color: white !important;  }
    }
    blockquote { border-color: #666;}
}
.scheme-uni-similar-1 { background-color: $colour-uni-similar-1 !important; color: $colour-uni-similar-1-text !important; }
.scheme-uni-similar-2 { background-color: $colour-uni-similar-2 !important; color: $colour-uni-similar-2-text !important; }
.scheme-uni-similar-3 { background-color: $colour-uni-similar-3 !important; color: $colour-uni-similar-3-text !important; }
.scheme-uni-similar-4 { background-color: $colour-uni-similar-4 !important; color: $colour-uni-similar-4-text !important; }


#header {
    background-color: #fff;
    color: $colour-text;
    padding: 0.5em 0;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 85px;
    transition: all 1s;

    .header-nav {
        .header-nav-wrapper {
            background-color: white;
            .menuzord {
                background-color: white;
            }
            .menuzord-menu {
                > .active {
                    > a {
                        border-bottom: 3px solid $colour-uni-orange;
                        border-radius: 0 !important;
                        padding: 4px 4px;
                        margin: 4px 12px 1px;
                    }
                }
            }
        }
    }
}
@import "sitelogos";

#global-navigation {
    position: relative;
    height: 51px;
    line-height: 42px;
    nav {
        position: relative;
        z-index: 2;
        float: left;
        a {
          &.site-logo {
            border-radius: 0;
            background-size: cover;
            margin-right: 20px;
            height: 36px;
          }
        }
        &.secondary {
          z-index: 3;
        }
    }
}

#athene{
    position: absolute;
    left: 50%;
    transform: -webkit-translateX(-50%);
    transform: -moz-translateX(-50%);
    transform: translateX(-50%);
    z-index: 1;
    transition: all 1s;
    top: -80px;
    opacity: 1;
    height: 70px;
    overflow: hidden;
    &.bumped {
      top: -50px;
      opacity: 0;
    }
    a {
        background: url("../media/logos/logo-unibw-brandmark.svg");
        background-size: cover;
        color: transparent;
        width: 330px;
        height: 53px;
        display: block;
        transition: all 0.5s;
        margin-left: -15px;
        &:hover:before {
            opacity: 1;
        }
        &:before {
            content: ' ';
            background: url("../media/logos/logo-unibw-text.svg");
            background-size: cover;
            width: 330px;
            height: 53px;
            display: block;
        }

    }
}

#secondary-navigation {
    position: absolute;
    right: 1%;
    top: -90px;
    color: $colour-text;
    a {
        height: 16px;
        line-height: 16px;
        font-size: 16px;
        padding: 0 10px;
        color: $colour-text-secondary;
        &:hover, &:visited {
            color: $colour-text-secondary;
        }
        &.language-selector {
            img {
                height: 0.8rem;
            }
        }
    }
    a + a {
        border-left: 1px solid black;
    }
}

a.site-logo {
  float: left;
  color: transparent !important;
  line-height: 1.42857143;
  display: inline-block;
  margin-top: 5px;
}

.menuzord-menu {
    a {
        &:hover {
            color: $colour-dark-blue;
        }
    }
    li {
        ul {
            &.dropdown {
                top: 50px;
                opacity: 0.95;
                box-shadow: 1px 1px 1px #eeeeee;
                li {
                    a {
                        padding: 3px 19px 3px 22px;
                        font-size: 16px;
                        font-family: thesans;
                    }
                    &:hover > a {
                        padding-left: 22px;
                    }
                    .indicator {
                        top: 4px;
                    }
                }
            }
        }
    }
    > li  {
        padding: 4px 0;
        > a {
            color: $colour-text;
            font-size: $base-font-size;
        }
    }

}



/* Inner Header - Heros on subpages */

section {
    &#event {
        article {
            .date-info {
                margin-bottom: 30px; 
                font-size: 1.11rem;
                font-weight: bold;
                .time-info {
                    color: $colour-text-secondary;
                }
            }
            .event-details {
                margin-top: 20px;
                margin-bottom: 50px;
                .detail-label {
                    white-space: nowrap;
                    font-weight: bold;
                }
            }
        }
    }
    &#event-list {
        p {
            color: $colour-text-secondary;
        }
        ul {
            margin-top: 10px;
            li {
                list-style-type: none;
            }
        }
    }
    &#upcoming-events {
        p {
            font-size: 0.9rem;
        }
        ul {
            li {
                margin-left:0;
                font-size: 0.8rem;
            }
        }
    }
    &#intranet-search {
        a {
            color: $colour-text;
        }
    }
    &.businesscards {
        background-color: $colour-light-grey;
    }

    &.news-sec {
        a {
            color: $colour-text;
        }
    }
    &.gallery {
        figure {
            figcaption {
                text-align: center;
                width:95%;
                height: 3.75em;
                overflow:hidden;
            }
        }
        .post {
          .entry-title {
              height: 1em;
          }
          .description {
              height: 3.35em;
              overflow:hidden;
          }
        }
    }
    &.gallery-extended {
        .post {
            background-color: #f8f8f8;
            .entry-title {
              height: auto;
            }
            .description {
              height: auto;
              overflow: auto;
            }
        }
    }
    &.news {
        a {
            .description {
                color: $colour-text
            }
        }
        h2 { margin-top:0; font-size: 1.5rem;}
    }
    &.news-listing {
        background-color: $colour-light-grey;
        a {
            .description {
                color: $colour-text
            }
        }
        h3 {
            &.entry-title {
                font-size: 1.5rem;
            }
        }
        article {
            &.post {
                background-color: white;
                .entry-content {
                    background-color: white;
                }
            }
        }
    }
    &.events-listing,
    &#events-list {
        background-color: $colour-dark-blue;
        a {
            .description,
            .entry-content {
                color: $colour-text;
            }
        }
        h3 {
            &.entry-title {
                font-size: 1.5rem;
            }
        }
        article {
            &.post {
                background-color: $colour-light-grey;
                .entry-content {
                    background-color: transparent;
                }
            }
            .media-body {
                ul.list-icon {
                    i {
                        margin: 0 0px 0 -5px;
                    }
                    li {
                        margin: 0 0 5px 0;
                        padding: 0;
                        font-size: 100%;
                    }
                }
            }
        }
    }
    &.events-listing {
        .section-title {
            .module-title,
            .description {
                color: white;
            }
        }
    }
    &.events-search {
        .container {
            padding-bottom:0;
        }
    }
    &#events-list {
        .container {
            padding-top:0;
        }
        background-color: white;
        article {
            &.post {
                background-color: $colour-light-grey;
                margin-bottom: 20px;
            }
        }
    }
    &.clients {
        h2 {
            text-align: center;
        }
        .clients-logo {
            height: 10em;
            img {
                height: 6em;
                padding: 1em 2em;
            }
        }
    }
    &.people {
        a { color: $colour-text; }
        img {
            width: 100%;
        }
    }
    &.gallery {
        a {
            color: $colour-text;
        }
        img {
            width: 100%;
        }
    }
    &.call-to-action {
        a {
            .description {
                color: $colour-text;
            }
        }
    }
    &.categories {
        .icon-box {
            overflow: hidden;
        }
    }
    &.inner-header {
        height: 540px;
        .container {
            height: 540px;
            .section-content {
                position:absolute;
                bottom:0;
                margin-bottom: 40px;
            }
        }
        &.no-hero {
            background-color: rgb(248,248,248);
            height: 200px;
            .container {
                height: 200px;
                .section-content {
                    position:absolute;
                    bottom:0;
                    margin-bottom: 40px;
                    h1 {
                        &.title {
                            text-shadow: none !important; 
                            color: #333 !important;
                            background-color: transparent;
                            font-weight: normal !important;
                        }
                    }
                }
            }
        }
        .title {
            font-size: 2rem;
            font-family: "thesans";
            margin-left: -3px;
        }
        small {
            font-size: 1rem;
            color: $colour-text-light;
        }
    }
    .section-title {
        margin-bottom: 10px;
        p {
            font-size: $base-font-size;
        }
    }
    .module-title {
        text-transform: uppercase;
    }
    .hero-content {
        table>tbody>tr>td, 
        table>tbody>tr>th, 
        table>tfoot>tr>td, 
        table>tfoot>tr>th, 
        table>thead>tr>td, 
        table>thead>tr>th {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
    }
    
    .people-scroller {
        a {
            color: $colour-text;
        }
        h4 {
            font-size: 1rem;
            font-weight: 500;
        }
        p {
            clear:both;
            font-size: 0.9rem;
        }

    }
}
.contact-info {
    overflow: hidden;
    display: block;   
}
.nav-tabs>li>a {
    font-size: 14px;
}
/* Testimonials - Quotes */
#quotes .item img {
    height: 100px;
    width: 100px;
}

.inner-header .hero-image:before,
section.gradient:before,
.rev_slider .slotholder:before {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(0,0,0,0.2) 70%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(0,0,0,0.2) 70%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007db9e8', endColorstr='#c7000000',GradientType=0 );
}
.inner-header .hero-image:after,
section.gradient:after,
.rev_slider .slotholder:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 30%;
    left: 0;
    opacity: 0.5;
}
.rev_slider {
    .text-layer {
        width: 80%;
    }
    p {
        .description {
            white-space: normal ;
        }
    }
}

#hero .title,
#hero small,
.rev_slider h1 {
    font-size: 56px;
    color: $colour-text-light;
    font-weight: bold;
    display: inline;
    z-index: 10;
    text-shadow: 0 0 100px #000, 0 0 30px #000, 0 0 5px rgba(0, 0, 0, 0.7);
}
#hero {
    .marker {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 40px;
        height: 100%;
        z-index:20;
        span {
            transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            font-weight: bold;
            -webkit-font-smoothing: antialiased;
            font-size: 26px;
            line-height: 41px;
        }
    }
}


#footer {
    color: $colour-text-light;
    .text-white {
        strong, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            color: $colour-text-light;
        }
    }
    ul.list li {   
      padding-left: 0;
    }
    .widget .list-inline li {
        height: 18px;
        line-height: 18px;
        padding: 0 18px;
        border-right: 1px solid $colour-text-light;
    }

    .widget .list-inline li:last-child {
        border-right: none !important;
    }

}


/* Description highlight */

.single-service .description {
    font-size: 20px;
    font-weight: 600;
}


/* Hack to offset anchors by the height of the navbar*/
a.anchor {
  display: block;
  position: relative;
  top: -90px;
  visibility: hidden;
}


body {
    .category-service {
        .main-content {
            #overview {
                min-height: 350px;
                background-position: center -100px !important;
                background-size: cover;
                text-align: center;
            }
        }
    }
    .category-institut {
        .main-content {
            #overview {
                min-height: 350px;
                background-position: center center !important;
                background-size: cover;
            }
        }
    }
    .category-antrag {
        .main-content {
            #overview {
                min-height: 350px;
                background-position: center center !important;
                background-size: cover;
            }
        }
    }

    .main-content {
        .accordion {
            .panel-group {
                margin-bottom: 0;
            }
        }
        .accordion ul,
        .single-post ul {
            list-style: outside none none;
            margin-top: 13px;
            padding-left: 0;
            padding: 0;
            margin: 0;
            li {
                margin: 5px 0 5px 10px;
                font-weight: 500;
                padding-left: 15px;
                position: relative;
                &:before {
                    border: none;
                    color: #a9a9a9;
                    content: "\f111";
                    display: inline-block;
                    font-family: fontawesome;
                    font-size: 9px;
                    margin-right: 10px;
                    padding: 0;
                    left: 0;
                    position: absolute;
                    top: 4px;
                }
            }
        }
    }
}



/* gradients */

.royal-gradient::before {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30 , #243B55); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30 , #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.titanium-gradient::before {
    background: #283048; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #283048 , #859398); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #283048 , #859398); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#studies-info {
    .box {
        margin-top: -70px;
        background-color: #666666;
        color: $colour-text-light;
        border-radius: 0px 0px 20px 20px;
        padding: 10px 0px 20px 30px;
        a, h3 {
            color: $colour-text-light;
            i {
                color: $colour-text-light;
            }
        }
    }
}

.owl-carousel {
    .owl-controls {
        .owl-next {
            right: -40px;
        }
        .owl-prev {
          left: -40px;
        }
    }
    .owl-item img.icon-md,
    .icon-md {
      font-size: 36px;
      height: 68px;
      width: 68px;
      line-height: 68px;
      color: #fff;
      margin-right: 10px;
      background-color: rgba(0, 0, 0, 0.4);
      text-align: center;
      display: block;
      border-radius: 50%;
      -webkit-transition: 500ms;
      -moz-transition: 500ms;
      -o-transition: 500ms;
      transition: 500ms;
    }
    .owl-item img.icon-lg,
    .icon-lg {
      background-color: rgba(0, 0, 0, 0.4);
      border-radius: 100%;
      color: #fff;
      display: inline-block !important;
      font-size: 48px;
      height: 108px;
      line-height: 108px;
      margin: 10px;
      text-align: center;
      width: 108px;
    }
    &.owl-hide-nav {
        .owl-nav,
        .owl-dots {
            display: none;
        }
    }
}

section.businesscards>.container, 
section.categories>.container {
    padding-bottom: 40px;
}
 
.quicklinks-wrapper > .row {
  margin-bottom: 20px;
}

.quicklink {
    display: inline-block;
    margin: 0 20px;
    text-align: center;
    width: 80px;
    .fa {
      border: 2px solid #fff;
      border-radius: 100%;
      margin-bottom: 10px;
      padding: 15px;
    }
}


#intranet-search input[type=checkbox] {
  margin-left: -60px;
}

.grid-sizer {
  width: 220px;
  height: 100px;
}

.search-results {
    &.rz {
        .grid-item {
            height: 150px;
            white-space: normal;
            .text {
                padding: 10px 15px;
            }
        }
    }
    .grid-item {
        width: 220px;
        height: 100px;
        background-color: #f5f5f5;
        margin-bottom: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .item-header {
            color: $colour-text-light;
            background-color: $colour-rust-red;
            height: 30px;
            padding: 5px 10px;
            &.studies {
              background-color: $colour-rust-red;
            }
            &.campus {
              background-color: $colour-rust-red-80;
              color: $colour-text;
            }
            &.soul {
              background-color: $colour-mediterran-azure;
              color: $colour-text;
            }
            &.service {
              background-color: $colour-ruddy-beige;
              color: $colour-text;
            }
            &.it {
              background-color: $colour-dark-grey;
              color: $colour-text;
            }
            &.personnel {
              background-color: $colour-dark-yellow;
              color: $colour-text;
            }
            &.central-services {
              background-color: $colour-orange-orange;
              color: $colour-text;
            }
            &.research {
              background-color: $colour-dark-purple;
            }
            &.military {
              background-color: $colour-olive-green;
            }
            &.lunch {
              background-color: $colour-mensa-brown;
            }
            &.learning {
              background-color: $colour-dark-pink;
            }
            &.hours {
              background-color: $colour-dark-blue;
            }
            &.forms {
              background-color: $colour-ruddy-beige-80;
              color: $colour-text;
            }
            &.ci {
              background-color: $colour-creamy-red-wine-80;
            }
            &.e-learning  {
              background-color: $colour-rust-red;
            }
            &.drucken  {
              background-color: $colour-dark-yellow;
              color: $colour-text;
            }
            &.sonstiges  {
              background-color: $colour-olive-green;
            }
            &.netz  {
              background-color: $colour-dark-purple;
            }
            &.datenaustausch  {
              background-color: $colour-mediterran-azure;
              color: $colour-text;
            }
            &.it-sicherheit  {
              background-color: $colour-dark-pink;
            }
            &.zentraler-speicher  {
              background-color: $colour-mensa-brown;
            }
            &.nutzerkonto  {
              background-color: $colour-ruddy-beige;
              color: $colour-text;
            }
            &.software  {
              background-color: $colour-uni-orange;
              color: $colour-text;
            }
            &.email  {
              background-color: $colour-middle-grey;
              color: $colour-text;
            }
            &.pc  {
              background-color: $colour-ocean-blue;
            }
            &.web  {
              background-color: $colour-valley-green;
              color: $colour-text;
            }

        }
        .text {
            display: block;
            font-weight: bold;
            line-height: 30px;
            padding: 20px 15px;
            position: absolute;
            text-align: center;
            width: 100%;
            .title {
                padding: 0px 0 5px 0;
            }
            .description {
                color: #666;
                font-weight: normal; 
                font-size: 0.85em;
                line-height: 1.25em;
            }
        }
    }
}

.color-marker {
    color: $colour-text-light;
    background-color: $colour-rust-red;
    width: 30px;
    height: 30px;
    display: inline-block;
    border-radius: 15px;
    vertical-align: middle;
    margin: 0;
    padding: 7px 6px;
    &.studies {
      background-color: $colour-rust-red;
    }
    &.campus {
      background-color: $colour-rust-red-80;
    }
    &.soul {
      background-color: $colour-mediterran-azure;
    }
    &.service {
      background-color: $colour-ruddy-beige;
      padding-left: 8px;
    }
    &.it {
      background-color: $colour-dark-grey;
    }
    &.personnel {
      background-color: $colour-dark-yellow;
    }
    &.central-services {
      background-color: $colour-orange-orange;
    }
    &.research {
      background-color: $colour-dark-purple;
      padding-left: 8px;
    }
    &.military {
      background-color: $colour-olive-green;
    }
    &.lunch {
      background-color: $colour-mensa-brown;
      padding-left: 8px;
    }
    &.learning {
      background-color: $colour-dark-pink;
      padding-left: 8px;
    }
    &.hours {
      background-color: $colour-dark-blue;
      padding-left: 8px;
    }
    &.forms {
        background-color: $colour-ruddy-beige-80;
    }
    &.ci {
      background-color: $colour-creamy-red-wine-80;
    }
    &.e-learning  {
      background-color: $colour-rust-red;
    }
    &.drucken  {
      background-color: $colour-dark-yellow;
      padding-left: 8px;
    }
    &.sonstiges  {
      background-color: $colour-olive-green;
      padding-left: 8px;
    }
    &.netz  {
      background-color: $colour-dark-purple;
    }
    &.datenaustausch  {
      background-color: $colour-mediterran-azure;
    }
    &.it-sicherheit  {
      background-color: $colour-dark-pink;
      padding-left: 10px;
    }
    &.zentraler-speicher  {
      background-color: $colour-mensa-brown;
      padding-left: 8px;
    }
    &.nutzerkonto  {
      background-color: $colour-ruddy-beige;
      padding-left: 8px;
    }
    &.software  {
      background-color: $colour-uni-orange;
    }
    &.email  {
      background-color: $colour-middle-grey;
    }
    &.pc  {
      background-color: $colour-ocean-blue;
    }
    &.web  {
      background-color: $colour-valley-green;
      padding-left: 8px;
    }
}


#intranet-search {
  padding: 0;
}

.row {
    &.search-form {
        margin: 50px 0;
        padding: 0 20px;
    }
    &.search-results {
        margin: 50px 0;
    }
}


/*Business Card Css */
.business-card {
    border: 0;
    background: white;
    padding: 10px;
    color: $colour-text;
    border-radius: 4px;
    margin-bottom: 30px;

    div {
        color: $colour-text;
    }
    p {
        font-size: 1rem;
    }
    h3 {
        font-size: 1.1em;
        line-height: 1.4rem;
    }
    .ellipsis {
        font-size: 0.9rem;
    }
    .byline {
        margin-bottom: 0;
    }

    .profile-img {
        width: 100px;
        height: 100px;
        float: left;
        img {
            width: 100px;
            height: 100px;
        }
    }
    .position-data {
        margin-left: 120px;
        h3 {
            height: 70px;
        }
    }
    .contact-data {
        padding: 1em 1em;
        font-size: 0.8rem;
    }
    .content {
        margin-bottom: 20px;
    }

}

.main-content .container ul.list-icon  {
  list-style-type: none;
}

#organisationskontakt {
    .contact-map-container {
        margin-bottom: -150px;
        .point-map-small {display: none;}
        .point-map-big {display: block;}
    }
    #floor_plan { 
        background-image:url('../media/lageplan_neutral_low_480.jpg');
        background-repeat:no-repeat;
        width:480px;
        height:524px;
    }
    .legend {
        position: relative;
        z-index: 10;
        float: left;
        left: -170px;
        top: -150px;
        padding: 0px 20px 20px 20px;
        width: auto;
        border-left: 2px solid #ed6600;
        background: #f7f7f7;
        font-size: 0.8em;

        h3 {
          font-size: 18px;
          font-weight: bold;
        }

        ul {
            list-style-type: none;
            list-style: none;

            > li {
                margin-left: 0;
            }
        }

    }
}

#intranet-search {
    &.image-library {
        .search-results {
            .grid-item {
                height:200px;
                background-color: white;
                .item-header {
                    line-height: 1.2;
                }
            }
        }
    }
    .form-group {
        .checkbox-inline {
            white-space: nowrap;
        }
    }
}

.searchResults {

    .result-title {
        font-size: 1.2em;
    }
    .url {
        color: #333;
    }
    .discreet {
        display: block;
        line-height: 1.25em;
    }
    .highlighting {
        padding-top: 10px;
    }
    .row {
        padding-bottom: 40px; 
        .url {
            background-color: #eee;
            display: inline-block;
            border-radius: 0.5em;
            padding: .1em .5em;
            font-size: 90%;
            i {
                color: #ff6600;
            }
        }
        &.bscw .url {
            i {
                color: #40dd40;
            }
        }
        &.plone4 .url {
            i {
                color: #4477dd;
            }
        }
    }
}

.plone-pagination {

  ul {
      display: inline-block;
      padding-left: 0;
      margin: 10px 0;
      border-radius: 4px;

      > li {
        display: inline; // Remove list-style and block-level defaults
        > a,
        > span {
          position: relative;
          float: left; // Collapse white-space
          padding: 6px 12px;
          line-height: 1.5em;
          text-decoration: none;
          color: #002e5b;
          background-color: #fff;
          border: 1px solid #ddd;
          margin-left: -1px;
        }
        &:first-child {
          > a,
          > span {
            margin-left: 0;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            
          }
        }
        &:last-child {
          > a,
          > span {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
          }
        }
      }

      > li > a,
      > li > span {
        &:hover,
        &:focus {
          z-index: 2;
          color: #002e5b;
          background-color: #eee;
          border-color: #ddd;
        }
      }

      > .active > a,
      > .active > span {
        &,
        &:hover,
        &:focus {
          z-index: 3;
          color: #fff;
          background-color: #002e5b;
          border-color: #002e5b;
          cursor: default;
        }
      }

      > .disabled {
        > span,
        > span:hover,
        > span:focus,
        > a,
        > a:hover,
        > a:focus {
          color: #ddd;
          background-color: #fff;
          border-color: #ddd;
          cursor:  not-allowed;
        }
      }
    }

}


/* Hide the clear button on that page */
.site-zki-herbsttagung {
    &.section-anmeldung {
        &.subsection-datenspeicher  {
            #clearSavedFormInput {
                display: none;
            }
        }
    }
}

/* tinymce specials */
.mce-content-body {
    ul {
        list-style-type: disc;
        list-style-position: outside;
        > li {
            margin-left: 2em;
        }
        &.blank {
            list-style-type: none;
            > li {
                margin-left: 0;
            }
        }
        &.angle-double-right {
            list-style-type: none;
            > li {
                margin-left: 0;
            }
        }
        &.list-group {
            > li {
                margin-left: 0;
            }
        }
    }
    ol {
        list-style-type: decimal;
        list-style-position: outside;
        > li {
            margin-left: 2em;
        }
    }
    table {
        th,
        td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
    }
}

span {
  &.mb_YTPBar {
    opacity: 1;
    .buttonBar {
      background: rgba(0,0,0,.4);
    }
  }
}

/* tinymce added image styles */
.image-left {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}
.image-right {
  float: right;
  margin: 0.5em 0em 0.5em 1em;
}
.image-inline {
  float: none;
}

#language-menu li:not(:last-child) {
  border-right: 1px solid black;
  padding: 0;
  height: 16px;
  line-height: 16px;
}

nav.secondary div.dropdown-menu { width: 288px; }

.search-form-wrapper button.search {
  height: 46px;
}

.bg-video video {
  &::-webkit-media-controls {
    top: 500px;
    position: absolute;
  }
  width: 100%;
}

#videoContainer {
  .position, .duration {
    line-height: 25px;
    width: auto;
  }
  span.mb_OnlyYT {
    left: 195px;
  }
  progress {
    &::-moz-progress-bar {
      background-color: #444;
    }
    &::-webkit-progress-value {
      background-color: #444;
    }
    border: none;
    position: relative;
    top: -8px;
  }
}

.fluid-video-wrapper video {
  width: 100%;
}

// #17094 hide html-code module
[data-tile-id="raw_html"] { display: none; }

// Hide Form Folder from the Add Content modal
img[src$='/ct_form.png'],
img[src$='/ct_form.png'] + div {display: none}

