/*==========  Mobile First Method  ==========*/
 
/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	#hero h1.title { font-size: 28px; }
	h1 {font-size: 2rem; }
	h2 {font-size: 1.5rem; }
	.business-card h3 { font-size:1rem; }

	#organisationskontakt .contact-map-container { margin-bottom: 0; }
	#organisationskontakt .legend { left: 0; top: 0; }
	.news .teaser-container .btn { margin-bottom: 20px; }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 576px) {
	.business-card h3 { font-size:1.1rem; }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	#hero h1.title { font-size: 28px; }
	h1 { font-size: 2rem; }
	h1 { font-size: 1.5rem; }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	#hero h1.title { font-size: 56px; }
	#organisationskontakt .contact-map-container { margin-bottom: -150px; }
	#organisationskontakt .legend { left: -170px; top: -150px; }
	.news .teaser-container .btn { margin-bottom: 0px; }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}
