/*==========  Mobile First Method  ==========*/
 
@media only screen and (max-width : 768px) {
    /* remove the background image for small devices */
    #hero {
        background-image: none !important;
        background: none;
        margin-bottom: 0;
    }
    #hero.gradient:before { background: none; margin: 0; padding: 0; }
    #hero.inner-header, #hero.inner-header .container { height:auto;}
    #hero.inner-header .section-content { margin-bottom: auto;}
    #hero h1.title { text-shadow: none; color: #333;}
    #hero .text-white { color: #333 !important; }
    #hero.carousel h1.sr-only { font-weight: bold; z-index: 1; display: block; position: relative; width: auto; height: auto; margin: auto; padding: auto; font-size: 28px; padding: 15px 15px;}
    #hero.carousel .rev_slider_wrapper, #hero #home-video { display: none !important; }
    #hero .mt-180, #hero .pt-70, #hero .pb-20 { margin-top: 0 !important; margin-bottom: 0 !important; padding-top: 0 !important; padding-bottom: 0 !important; }
    #breadcrumbs { display: none;}
    #hero.divider .container { padding-top: 20px !important; padding-bottom: 20px !important; }
    main section .container, main section .container-fluid, main .divider .container, #footer.divider .container  { padding-top: 30px; padding-bottom: 30px; }
    section.inner-header .container .section-content { position: relative; }
    /* END remove the background image for small devices */

    section#job dl dt { width: 100%; float: none; display: block; margin: 0; overflow: hidden; }
    section#job dl dd { width: 100%; float: none; display: block; border: none; overflow: hidden; }
}

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    #hero h1.title { font-size: 28px; }
    h1 {font-size: 2rem; }
    h2 {font-size: 1.7rem; }
    .business-card h3 { font-size:1rem; }

    #organisationskontakt .contact-map-container { margin-bottom: 0; }
    #organisationskontakt .legend { left: 0; top: 0; }
    .news .teaser-container .btn { margin-bottom: 20px; }

    /* contact map small */
    #organisationskontakt #floor_plan { 
        background-image:url('../media/lageplan_neutral_low_320.jpg');
        background-repeat:no-repeat;
        width:340px;
        height:370px;
    }
    #organisationskontakt .contact-map-container .point-map-small {display: block;}
    #organisationskontakt .contact-map-container .point-map-big {display: none;}

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 576px) {
    .business-card h3 { font-size:1.1rem; }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    #hero h1.title { font-size: 28px; }
    h1 { font-size: 2rem; }
    h2 { font-size: 1.7rem; }
}

@media only screen and (max-width : 768px) {
  #athene { top: -56px; } 
  .institute-logo { display: none;  }
}


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #hero h1.title { font-size: 56px; }
    #organisationskontakt .contact-map-container { margin-bottom: -150px; }
    #organisationskontakt .legend { left: -170px; top: -150px; }
    .news .teaser-container .btn { margin-bottom: 0px; }

    /* contact map small */
    #organisationskontakt #floor_plan { 
        background-image:url('../media/lageplan_neutral_low_320.jpg');
        background-repeat:no-repeat;
        width:340px;
        height:370px;
    }
    #organisationskontakt .contact-map-container .point-map-small {display: block;}
    #organisationskontakt .contact-map-container .point-map-big {display: none;}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    /* contact map big */
    #organisationskontakt #floor_plan { 
        background-image:url('../media/lageplan_neutral_low_480.jpg');
        background-repeat:no-repeat;
        width:480px;
        height:524px;
    }
    #organisationskontakt .contact-map-container .point-map-small {display: none;}
    #organisationskontakt .contact-map-container .point-map-big {display: block;}
}


/*
            @include screen-size(medium-large) {
              padding-right: 5%;
              padding-bottom: 0.5em;
              color: rgba(0,0,0,0.7);
              width: 35%;
            }

            @include screen-size(small) {
              width: 100%;
              float: none;
              display: block;
              margin: 0;
              overflow: hidden;
            }
            */