:root {
    --overlay-bg-color: rgb(0 0 0 / 70%);
    --overlay-fg-color: white;
    --marker-stroke-color: #595858;
}

@layer components {
    .dialog--full[open] {
        position: fixed;
        background: var(--overlay-bg-color);
        color: var(--overlay-fg-color) !important;
        width: 100vw;
        height: 100vh;
        overflow: scroll;
        top: 0;
        left: 0;
        z-index: 1000;
    }

    .dialog--full[open] #main_navigation summary,
    .dialog--full[open] #main_navigation a {
        color: var(--overlay-bg-color);
        display: inline-block;
        padding-left: 2em;
    }

    .dialog--full[open] #main_navigation summary .marker { 
        color: var(--overlay-fg-color);
        stroke: var(---marker-stroke-color);
    }

    .dialog--full[open] #main_navigation summary .hamburger { 
        color: var(--overlay-fg-color); 
        stroke: var(---marker-stroke-color);
    }

    .almost-right {
        left: calc(100vw - 5rem);
    }

    .next-to-almost-right {
        left: calc(100vw - 8rem);
    }
}
