@import "tailwindcss" prefix(tw);

@import "./component-details.css";
@import "./component-dialog.css";
@import "./component-menu.css";
@import "./tailwind-fixes.css";
@import "./typography.css";


/* Other tyles */
#secondary-navigation {
        z-index: 10;
}

.header-nav-wrapper {
   min-height: 50px;
}

#secondary-navigation a, #secondary-navigation a:hover, #secondary-navigation a:visited {
        color: #595858;
}