/* Tailwind fixes.
 */

/* Tailwind doesn't compile `@max-lg`, so we have to.
 */
@container (max-width: calc(32rem - 1px)) {
  .\@max-lg\:fixed-toolbar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
  }

  .\@max-lg\:dialog--full[open] {
    position: fixed;
    background: var(--overlay-bg-color);
    color: var(--overlay-fg-color) !important;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    top: 0;
    left: 0;
    z-index: 1000;
  }

  .\@max-lg\:dialog--full[open] #main_navigation summary,
  .\@max-lg\:dialog--full[open] #main_navigation a {
    color: white;
    display: inline-block;
  }

  .\@max-lg\:dialog--full summary {
    color: white;
    mix-blend-mode: difference;
  }

  .\@max-lg\:dialog--full summary svg {
    stroke-width: 2;
    stroke: currentcolor;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .\@max-lg\:text-auto {
    font-size: inherit;
    line-height: inherit;
  }
}
