---
layout: generic
---

<section>
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-9 blog-pull-right">
        <div class="blog-posts single-post">
          <article class="post clearfix mb-0">
            <div class="entry-header">
              <div class="post-thumb thumb"> <img src="{{ page.hero }}" alt="" class="img-responsive img-fullwidth"> </div>
            </div>  
            <div class="entry-title pt-10 pl-15">
              <h4><a class="text-uppercase" href="#">{{page.title}}</a></h4>
            </div>
            <div class="entry-meta pl-15">
              <ul class="list-inline">
                <li>Posted: <span class="text-theme-color-2"> {{ page.date | date: '%d %B %Y'}}</span></li>
              </ul>
            </div>
            <div class="entry-content mt-10">
              {{ content }}
            </div>
          </article>
        </div>
      </div>
          
      <div class="col-md-3">
        <div class="sidebar sidebar-right mt-sm-30">
          <div class="bs-docs-sidebar affix">
            <h5 class="widget-title line-bottom">Service</h5>
            <ul class="nav bs-docs-sidenav nav-list">
              <li><a href="#anchor1">Übersicht</a></li>
              <li><a href="#anchor2">Karriereförderung</a></li>
              <li><a href="#anchor3">Finanzierung</a></li>
              <li><a href="#anchor4">Angebotsentwicklung</a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
