---
layout: generic
---

<section class="profile-details">
  <div class="container">
    <div class="row">

      <img class="col-md-3 col-sm-5 img-responsive img-circle hidden-xs" src="{{ page.image }}">

      <div class="col-md-5 col-md-offset-1 col-sm-offset-1 col-sm-5 img-xs">
        <img class="img-responsive visible-xs" src="{{ page.image }}">

        <div class="inst-wrapper">
          <b>{{ page.position }}</b>
          <ul class="table-list">
            
              <li>
                <div class="table-col-icon"><b><i class="fa fa-home" aria-hidden="true"></i></b></div>
                <div class="table-col-content">{{ page.room }}</div>
              </li>
              <li>
                <div class="table-col-icon"><b><i class="fa fa-phone" aria-hidden="true"></i></b></div>
                
                <div class="table-col-content">
                  <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
                </div>
              </li>
              <li>
                <div class="table-col-icon"><b><i class="fa fa-fax" aria-hidden="true"></i></b></div>
                
                <div class="table-col-content">
                  <a href="tel:{{ page.fax }}">{{ page.fax }}</a>
                </div>
              </li>
              <li>
                <div class="table-col-icon"><b><i class="fa fa-envelope" aria-hidden="true"></i></b></div>
                
                <div class="table-col-content"><a href="mailto:{{ page.email }}">{{ page.email }}</a></div>
              </li>
              <li>
                <div class="table-col-icon"><b><i class="fa fa-user" aria-hidden="true"></i></b></div>
                
                <div class="table-col-content"><a href="tel:{{ page.office_phone }}">{{ page.secretary_phone }}</a> ({{ page.secretary_name }}) Sekretariat</div>
              </li>
              <li>
                <div class="table-col-icon">
                  <b><i class="fa fa-share-square-o" aria-hidden="true"></i></b>
                </div>
                <div class="table-col-content">
                  <a href="http://www.xing.de" class="social-link">
                    <i class="fa fa-xing" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/" class="social-link">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="http://www.facebook.com" class="social-link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://plus.google.com/" class="social-link">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social-link">
                    V-Card:
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </div>
              </li>
          </ul>
          
        </div>
      </div>

    </div>
  </div>
</section>

<section class="profile-summary">
  <div class="container pt-0">
    <div class="row">
      <div class="col-md-12 col-sm-12 img-xs">
        {{ page.content }}  
      </div>
    </div>
  </div>
</section>

<section class="profile-publications">

  <div class="container pt-0">
    <div class="row">
      <div class="col-md-12 col-sm-12 img-xs">
        
        <h2 class="module-title line-bottom" >Publikationen</h2>
        <iframe class="athene" src="https://testing.cms6a.syslab.com/upgrade-test-site/personenseiten/univ-prof-dr-ing-karl-christian-thienel/atheneforschung?query=authors=Christian Thienel"></iframe>
      
      </div>

    </div>
  </div>
</section>
