---
layout: generic
---

<section class="news">
  <div class="container">
    <div class="row">

      <img class="col-md-3 col-sm-5 img-responsive img-circle hidden-xs" src="{{ page.image }}">

      <div class="col-md-5 col-md-offset-1 col-sm-offset-1 col-sm-5 img-xs">
        <img class="img-responsive visible-xs" src="{{ page.image }}">

        <div class="inst-wrapper">
          <b>{{ page.position }}</b>
          <table class="table xtable-striped">
            <tbody>
              <tr>
                <td><b><i class="fa fa-home" aria-hidden="true"></i></b></td>
                <td>{{ page.room }}</td>
              </tr>
              <tr>
                <td><b><i class="fa fa-phone" aria-hidden="true"></i></b></td>
                <td>
                  <a href="tel:{{ page.phone }}">{{ page.phone }}</a>
                </td>
              </tr>
              <tr>
                <td><b><i class="fa fa-fax" aria-hidden="true"></i></b></td>
                <td>
                  <a href="tel:{{ page.fax }}">{{ page.fax }}</a>
                </td>
              </tr>
              <tr>
                <td><b><i class="fa fa-envelope" aria-hidden="true"></i></b></td>
                <td><a href="mailto:{{ page.email }}">{{ page.email }}</a></td>
              </tr>
              <tr>
                <td><b><i class="fa fa-user" aria-hidden="true"></i></b></td>
                <td><a href="tel:{{ page.office_phone }}">{{ page.secretary_phone }}</a> ({{ page.secretary_name }}) Sekretariat</td>
              </tr>
              <tr>
                <td>
                  <b><i class="fa fa-share-square-o" aria-hidden="true"></i></b>
                </td>
                <td>
                  <a href="http://www.xing.de" class="social-link">
                    <i class="fa fa-xing" aria-hidden="true"></i>
                  </a>
                  <a href="https://www.linkedin.com/" class="social-link">
                    <i class="fa fa-linkedin" aria-hidden="true"></i>
                  </a>
                  <a href="http://www.facebook.com" class="social-link">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                  </a>
                  <a href="https://plus.google.com/" class="social-link">
                    <i class="fa fa-google-plus" aria-hidden="true"></i>
                  </a>
                  <a href="#" class="social-link">
                    V-Card:
                    <i class="fa fa-download" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

    <div class="row mt-20">
      <div class="col-md-12 col-sm-12 img-xs">
        {{ page.content }}  
      </div>
    </div>
  </div>
</section>

<section class="profile-tabs">
  <div class="container">
    <div class="row">
      <ul id="myTab" class="nav nav-tabs boot-tabs">
        <li class="active" role="presentation"><a href="#werdegang" data-toggle="tab">Werdegang</a></li>
        <li><a href="#lehrveranstaltungen" data-toggle="tab">Lehrveranstaltungen</a></li>
        <li><a href="#forschungsbereiche" data-toggle="tab">Forschungsbereiche</a></li>
        <li><a href="#aktuelleforschungsprojekte" data-toggle="tab">Aktuelle Forschungsprojekte</a></li>
        <li><a href="#konferenzen" data-toggle="tab">Konferenzen</a></li>
        <li><a href="#funktionen" data-toggle="tab">Funktionen</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade in active" id="werdegang">
          {% include table-2col.html %}
        </div>
        <div class="tab-pane fade" id="lehrveranstaltungen">
          {% include table-3col.html %}
        </div>
        <div class="tab-pane fade" id="forschungsbereiche">
          Leer
        </div>
        <div class="tab-pane fade" id="aktuelleforschungsprojekte">
          Leer
        </div>
        <div class="tab-pane fade" id="konferenzen">
          Leer
        </div>
        <div class="tab-pane fade" id="funktionen">
          Leer
        </div>
      </div>
    </div>
  </div>
</section>
