---
layout: generic
parent: Aktuelles
---
<section id="event">
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-9">
        <div class="blog-posts single-post">
          <article class="post clearfix mb-0">
            <div class="entry-header">
              <div class="post-thumb thumb"> <img src="{{ page.image }}" alt="" class="img-responsive img-fullwidth"> </div>
            </div>

            <h1 class="module-title line-bottom">{{ page.title }}</h1>
            <div class="date-info">
              <i class="fa fa-calendar mr-5"></i> {{ page.start |  date: '%d. %m. %Y' }} - {{ page.end |  date: '%d. %m. %Y' }} | <em class="time-info">{{ page.start-time }} - {{ page.end-time }}</em>
            </div>

            {{ content }}

            <div class="event-details">
              <hr />
              <h2>Kontakt</h2>
              
              <div class="row">
                <div class="col-md-12 col-sm-12">{{ page.ansprechpartner }}</div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12">{{ page.email-telefon }}</div>
              </div>
              <hr />
              <h2>Infos & Anmeldung</h2>
              <div class="row">
                <div class="col-md-12 col-sm-12">{{ page.anmeldung }}</div>
              </div>
              <div class="row">
                <div class="col-md-12 col-sm-12"><a href="{{ page.website }}">{{ page.website }}</a></div>
              </div>
              <hr />

              <div class="row">
                <div class="col-md-3 col-sm-12 detail-label">Ausrichtung:</h5></div>
                <div class="col-md-8 col-sm-12">{{ page.ausrichtung }}</div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-12 detail-label">Veranstalter:</div>
                <div class="col-md-8 col-sm-12">{{ page.veranstalter }}</div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-12 detail-label">Ort:</div>
                <div class="col-md-8 col-sm-12">{{ page.location }}</div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-12 detail-label">Kosten:</div>
                <div class="col-md-8 col-sm-12">{{ page.kosten }}</div>
              </div>
              
              <div class="row">
                <div class="col-md-3 col-sm-12 detail-label">Art der Veranstaltung:</div>
                <div class="col-md-8 col-sm-12">{% if item.is-open %}öffentlich{% else %}uni-intern{% endif %}</div>
              </div>
               <div class="row">
                <div class="col-md-3 col-sm-12 detail-label">Termin übernehmen:</div>
                <div class="col-md-8 col-sm-12">iCalendar</div>
              </div>
              <hr />
            </div>
             <div class="row">
                <div class="col-sm-12">
                  <p><a href="werkstoffe-termine.html" class="btn btn-theme-colored btn-xl"><i class="fa fa-arrow-circle-left"></i> Zurück zur Übersicht</a></p>
                </div>
            </div>
          </article>
        </div>
      </div>

      <div class="col-md-3">
        <div class="sidebar sidebar-right mt-sm-30">
          <div class="widget">
            <h2 class="widget-title line-bottom">Weitere Termine</h2>
            <div class="widget-image-carousel">
              {% assign posts = site.posts | where:"layout","event" %}
              {% assign items = posts | where:"category",page.category %}

              {% for item in items limit:7 %}
                  {% unless page.url == item.url %}
                    <div class="item">
                      <a href="{{ item.url | replace_first: '/', '' }}">
                        <h3 class="title">{{ item.title }}</h3></a>
                        
                        <p class="font-12"><em>{{item.start}} - {{item.end}}<br>{{item.location}}</em></p>
                        <hr>
                    </div>
                  {% endunless %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
