---
layout: generic
---
<section class="inner-header divider parallax layer-overlay overlay-dark-5" data-bg-img="/media/hero/antrag.jpg">
  <div class="container pt-70 pb-40">
    <!-- Section Content -->
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <h2 class="title text-white">Antrag auf Aufnahme in den Bachelor-Studiengang Wirtschaftsingenieurwesen (B.Eng.) an der Universität der Bundeswehr München (UniBw M).</h2>
          <ol class="breadcrumb text-left text-black mt-10">
            <li>&nbsp;</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="divider">
      <div class="container">
        <div class="row pt-30">
          <div class="col-md-4">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-map-2 text-theme-colored"></i></a>
                  <div class="media-body"> <strong>Kontaktadresse</strong>
                    <p>Universität der Bundeswehr München  <br> Werner-Heisenberg-Weg 39<br>85577 Neubiberg</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12">
                <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-call text-theme-colored"></i></a>
                  <div class="media-body"> <strong>Telefon</strong>
                    <p>+49 89 6004 4530</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-12">
                <div class="icon-box left media bg-deep p-30 mb-20"> <a class="media-left pull-left" href="#"> <i class="pe-7s-mail text-theme-colored"></i></a>
                  <div class="media-body"> <strong>E-Mail</strong>
                    <p>info@casc.de</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
          <div class="col-md-8">
            <h3 class="line-bottom mt-0 mb-20">Antragsformular</h3>
            <p class="mb-20">Bitte füllen Sie die folgenden Felder aus und hängen Sie alle geforderten Nachweise als Upload an. Wir melden uns nach Eingang des Antrags bei Ihnen, bestätigen den Eingang und senden Ihnen weiterführende Informationen zu.</p>
    
            {{ content }}

            <!-- Contact Form Validation-->
            <script type="text/javascript">
              $("#contact_form").validate({
                submitHandler: function(form) {
                  var form_btn = $(form).find('button[type="submit"]');
                  var form_result_div = '#form-result';
                  $(form_result_div).remove();
                  form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                  var form_btn_old_msg = form_btn.html();
                  form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                  $(form).ajaxSubmit({
                    dataType:  'json',
                    success: function(data) {
                      if( data.status == 'true' ) {
                        $(form).find('.form-control').val('');
                      }
                      form_btn.prop('disabled', false).html(form_btn_old_msg);
                      $(form_result_div).html(data.message).fadeIn('slow');
                      setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                    }
                  });
                }
              });
            </script>
          </div>
        </div>
      </div>
    </section>
