---
layout: generic
parent: Aktuelles
---
<section id="job">
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-posts single-post">
          <article class="post clearfix mb-0">

            <h1 class="module-title line-bottom">{{ page.title }}</h1>
            

            <div class="date-info">
              <i class="fa fa-calendar mr-5"></i> {{ page.created }}
            </div>

            <hr />
            <p class="description">{{ page.description }}</p>

            {{ content }}

            <hr />
            <p ><strong>Haben wir Ihr Interesse geweckt?</strong></p>
            <p>
            Dann senden Sie bitte Ihre aussagekräftigen Bewerbungsunterlagen (Anschreiben, Lebenslauf, Zeugnisse, Bescheinigungen) bis zum 16.12.2020 im PDF-Format per E-Mail an:</p>
            <p>
            <a class="btn btn-theme-colored" href="mailto:{{ page.contact-email }}">{{ page.contact-email }}</a>
            </p>
            <p>
            Mit Ihrer Bewerbung erklären Sie sich einverstanden, dass Ihre persönlichen Daten für Zwecke der Bewerbung gespeichert, verarbeitet und an die am Bewerbungsverfahren beteiligten Stellen weitergeleitet werden. Nähere Informationen zum Datenschutz können Sie unter folgendem Link abrufen: <a href="#">Datenschutzerklärung</a>.
            </p>
            <p>
            <strong>Wir freuen uns auf Ihre Bewerbung!</strong>
            </p>

          </article>
        </div>
      </div>

    </div>
  </div>
</section>
