---
layout: generic
parent: Aktuelles
---
<section id="job">
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-posts single-post">
          <article class="post clearfix mb-0">

            <h1 class="module-title line-bottom">{{ page.title }}</h1>
            
            <p class="description"><strong>{{ page.description }}</strong></p>

            
            <dl class="main-info-career">
                    
              <dt>Arbeitgeber</dt>
              <dd><i class="fa fa-industry mr-5"></i> {{ page.institute }}</dd>

              <dt>Stellen-Kategorie</dt>
              <dd><i class="fa fa-users mr-5"></i> {{ page.category }}</dd>

              <dt>Studiengang</dt>
              <dd><i class="fa fa-graduation-cap mr-5"></i> {{ page.field-of-study }}</dd>

              <dt>Ort</dt>
              <dd><i class="fa fa-map-marker mr-5"></i> {{ page.location }}</dd>

              <dt>Arbeitszeit</dt>
              <dd><i class="fa fa-briefcase mr-5"></i> {{ page.working-time }}</dd>

              <dt>Ende der Bewerbungsfrist</dt>
              <dd><i class="fa fa-calendar mr-5"></i> {{ page.deadline }}</dd>
              
            </dl> 

            {{ content }}

           <dl>
                    
                <dt>Bewerbung</dt>
                <dd>
                Du hast Spaß daran Neues zu lernen und unsere Abteilung tatkräftig zu unterstützen?<br />
  Bewirb dich jetzt!<br /><br />
  Startdatum: ab 01.07.2020<br />
  Dauer: 6 Monate<br /><br />
  Ansprechpartner:<br />
  BMW Group Recruiting Team<br />
  +49 89 382-17001<br /><br />

 <a class="btn btn-theme-colored" href="mailto:{{ page.contact-email }}">{{ page.contact-email }}</a>
              </dd>
            </dl>
          </article>
        </div>
      </div>

    </div>
  </div>
</section>
<!--section  class="lead-text scheme-light-grey">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="hero-content">
            <h3>Haben wir Ihr Interesse geweckt?</h3>
            <p>
            Dann senden Sie bitte Ihre aussagekräftigen Bewerbungsunterlagen (Anschreiben, Lebenslauf, Zeugnisse, Bescheinigungen) bis zum 16.12.2020 im PDF-Format per E-Mail an:</p>
            <p>
            <a class="btn btn-theme-colored" href="mailto:{{ page.contact-email }}">{{ page.contact-email }}</a>
            </p>
            <p>
            <strong>Wir freuen uns auf Ihre Bewerbung!</strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section-->

