---
layout: generic
parent: Aktuelles
---
<section id="job">
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-12">
        <div class="blog-posts single-post">
          <article class="post clearfix mb-0">

            <h1 class="module-title line-bottom">{{ page.title }}</h1>
            
            <p class="description"><strong>{{ page.description }}</strong></p>

            <hr />
            
            <dl class="main-info-career">
                    
              <dt>Arbeitgeber</dt>
              <dd><i class="fa fa-institution mr-5"></i> {{ page.institute }}</dd>

              <dt>Arbeitszeit</dt>
              <dd><i class="fa fa-briefcase mr-5"></i> {{ page.working-time }}</dd>
              
            </dl> 

            {{ content }}

          </article>
        </div>
      </div>

    </div>
  </div>
</section>
<section  class="lead-text scheme-light-grey">
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12">
          <div class="hero-content">
Ansprechpartner:<br />
BMW Group Recruiting Team<br />
+49 89 382-17001<br /><br />
Standort: München<br />
Stellenreferenz: 2938
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

