---
layout: generic
---


<section>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 text-center">

        <h1> Aktuell umgesetzte Module </h1>

    <p>Die folgenden Module sind bereits umgesetzt und können bei der Umsetzung von weiteren Websites verwendet werden.</p>
          <p>Zur Liste <a href="potential-modules.html">weiterer möglicher Module</a> (zur Zeit nicht umgesetzt)</p>
        </div>
      </div>
    </div>
  </div>
</section>

{% include content_snippet.html heading="Slider" content="" %}
{% include slider.html %}

{% include content_snippet.html heading="Aufmacherbild (Hero)" content="" %}
{% include hero.html %}

{% include content_snippet.html heading="Studiengänge Gallerie" content="" %}
{% include program_gallery.html parent="Studiengänge" %}

{% include content_snippet.html heading="Termine" content="" %}
{% include events.html %}

{% include content_snippet.html heading="Gallerie" content="" %}
{% include gallery.html %}

{% include content_snippet.html heading="Nachrichten/Aktuelles" content="" %}
{% include news.html %}

{% include content_snippet.html heading="Mitarbeiter" content="" %}
<section>
  <div class="row">
    <div class="container mt-0 mb-30 pt-30 pb-30">
      <div class="col-md-3 scrolltofixed-container">
        <div class="list-group scrolltofixed" >
        <!-- Room for more info -->
        </div>
      </div>
      <div class="col-md-9 blog-pull-right">
        <div class="blog-posts single-post">
        </div>
        <div class="blog-posts single-post" id="{{ item.url | remove: '/' | remove: '.html' }}">
          {% include people-cloud.html %}
        </div>
      </div>
    </div>
  </div>
</section>


{% include content_snippet.html heading="Testimonials / Quotes" content="" %}
{% include testimonials.html %}


{% include content_snippet.html heading="Logos" content="" %}
{% include logos.html %}
