---
layout: generic
---

{{ content }}

{% include content_snippet.html heading="Slider" id="slider" content="" %}
{% include slider.html %}

{% include content_snippet.html heading="Aufmacherbild (Hero)" id="heroimage" content="" %}
{% include hero.html %}

{% include intro-text-zwei-spalten.html %}


{% include content_snippet.html heading="Termine" id="termine" content="" %}
{% include events.html %}

{% include content_snippet.html heading="Galerie" id="gallery" content="" %}
{% include gallery.html %}

{% include content_snippet.html heading="Nachrichten/Aktuelles" id="news" content="" %}
{% include news.html %}

{% include content_snippet.html heading="Mitarbeiter" id="staff" content="" %}
<section>
  <div class="row">
    <div class="container mt-0 mb-30 pt-30 pb-30">
      <div class="col-md-3 scrolltofixed-container">
        <div class="list-group scrolltofixed" >
        <!-- Room for more info -->
        </div>
      </div>
      <div class="col-md-9 blog-pull-right">
        <div class="blog-posts single-post">
        </div>
        <div class="blog-posts single-post" id="{{ item.url | remove: '/' | remove: '.html' }}">
          {% include people-cloud.html %}
        </div>
      </div>
    </div>
  </div>
</section>


{% include content_snippet.html heading="Testimonials / Quotes" content="" %}
{% include testimonials.html %}


{% include content_snippet.html heading="Logos" content="" %}
{% include logos.html %}

