---
layout: generic
---

{{ content }}

{% assign count = 1 %}
{% assign count_old = 1 %}

<section class="bg-lighter">
  <div class="container">
    <div class="row">
          {% for item in site.posts %}
            {% if item.layout == 'news-item' and count < 12 and item.department == page.department %}
              <!-- Blog Item Start -->

           <div class="col-md-4">
              <div class="news-item">

                <a href="{{ item.url | replace_first: '/', '' }}">
                  <article class="post clearfix mb-30 bg-deep">
                    <div class="entry-header">
                      <div class="post-thumb thumb"> 
                        <img src="{{ item.image }}" alt="" class="img-responsive img-fullwidth">
                      </div>
                    </div>
                    <div class="entry-content p-20 pr-10">
                      <h2 class="entry-title">{{ item.title }}</h2>
                      <p class="description mt-10">{{ item.description }}</p>
                    </div>
                  </article>
                </a>
              </div>
            </div>
              <!-- Blog Item End -->
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}
    </div>
  </div>
</section>
