---
layout: generic
---

{{ content }}

{% assign count = 1 %}
{% assign count_old = 1 %}

<section>
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row blog-posts">
      <div class="col-md-12">
        <!-- Blog Masonry -->
        <div id="grid" class="gallery-isotope grid-3 masonry gutter-30 clearfix">

          {% for item in site.posts %}
            {% if item.layout == 'news-item' and count < 12 and item.department == page.department %}
              <!-- Blog Item Start -->
              <div class="gallery-item">
                <article class="post clearfix mb-30 bg-lighter">
                  <div class="entry-header">
                    <div class="post-thumb thumb"> 
                      <a href="{{ item.url }}">
                      <img src="{{ item.image }}" alt="" class="img-responsive img-fullwidth"> </a>
                    </div>
                  </div>
                  <div class="entry-content border-1px p-20 pr-10">
                    <div class="entry-meta media mt-0 no-bg no-border">
                      <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                        <ul>
                          <li class="font-16 text-white font-weight-600">{{ item.date |  date: '%d' }}</li>
                          <li class="font-12 text-white text-uppercase">{{ item.date |  date: '%b' }}</li>
                        </ul>
                      </div>
                      <div class="media-body pl-15">
                        <div class="event-content pull-left flip">
                          <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="{{ item.url }}">{{ item.title }}</a></h4>
                        </div>
                      </div>
                    </div>
                    <p class="mt-10">{{ item.description }}</p>
                    <a href="{{ item.url }}" class="btn-read-more">Mehr</a>
                    <div class="clearfix"></div>
                  </div>
                </article>
              </div>
              <!-- Blog Item End -->
              {% assign count = count | plus: 1 %}
            {% endif %}
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>
