---
layout: generic
---

<section id="page-content">
  <div class="container mt-30 mb-30 pt-30 pb-30">
    <div class="row">
      <div class="col-md-2">
        <div class="sidebar sidebar-left mt-sm-30">
        </div>
      </div>
      <div class="col-md-10">
        {% if page.title %}<h2>{{page.title}}</h2>{% endif %}
        {% if page.description %}<p class="font-20 description">
             {{ page.description }}
        </p>
        {% endif %}

        {{ content | markdownify}}

        
      </div>
          

    </div>
  </div>
</section>
