---
layout: generic
category: events
section: Web Relaunch
department: casc

---

{{ content }}

{% include organisationskontakt.html %}


{% include content_snippet.html heading="Über uns" id="ueberuns" content="" %}
{% include about.html %}

{% include content_snippet.html heading="Kursangebote" id="kursangebote" content="" %}
{% include courses.html %}

{% include content_snippet.html heading="Team" id="team" content="" %}
{% include team.html %}

{% include content_snippet.html heading="Termine und Info" id="termineinfo" content="" %}
{% include why-us.html %}


{% include content_snippet.html heading="Text mit Video" id="textvideo" content="" %}
{% include text-video.html %}

{% include content_snippet.html heading="Statistik Promotion" id="statistik" content="" %}
{% include stats-promo-bar.html %}

{% include content_snippet.html heading="Feature Matrix 1" id="featurematrix1" content="" %}
{% include feature-matrix-1.html %}

{% include content_snippet.html heading="Feature Matrix 2" id="featurematrix2" content="" %}
{% include feature-matrix-2.html %}

{% include content_snippet.html heading="Flip Cards" id="flipcards" content="" %}
{% include flip-cards.html %}

{% include content_snippet.html heading="Kontaktdaten" id="kontaktdaten" content="" %}
{% include contact-details.html %}

{% include content_snippet.html heading="Terminliste" id="terminliste" content="" %}
{% include events-listing.html %}

{% include content_snippet.html heading="Diagramme" id="diagramme" content="" %}
{% include charts.html %}
