---
layout: generic

---

<section>
  <div class="container">
    <div class="section-content">
      <div class="row">
        <div class="col-md-12 text-center">

        <h1> Mögliche Module </h1>

    <p>Im Folgenden finden sich Beispiele für mögliche weitere Module, die jedoch zum aktuellen Zeitpunkt noch nicht umgesetzt sind.</p>
    <p>Zur Liste <a class="text-blue" href="modules.html">aktuell bereits umgesetzter Module</a></p>
  
        </div>
      </div>
    </div>
  </div>
</section>

{% include content_snippet.html heading="Organisationskontakt" content="Leitung der Organisation und Lageplan" %}
{% include organisationskontakt.html %}


{% include content_snippet.html heading="Über uns" content="" %}
{% include about.html %}

{% include content_snippet.html heading="Kursangebote" content="" %}
{% include courses.html %}

{% include content_snippet.html heading="Team" content="" %}
{% include team.html %}

{% include content_snippet.html heading="Termine und Info" content="" %}
{% include why-us.html %}


{% include content_snippet.html heading="Text mit Video" content="" %}
{% include text-video.html %}

{% include content_snippet.html heading="Statistik Promotion" content="" %}
{% include stats-promo-bar.html %}

{% include content_snippet.html heading="Feature Matrix 1" content="" %}
{% include feature-matrix-1.html %}

{% include content_snippet.html heading="Feature Matrix 2" content="" %}
{% include feature-matrix-2.html %}

{% include content_snippet.html heading="Flip Cards" content="" %}
{% include flip-cards.html %}

{% include content_snippet.html heading="Kontaktdaten" content="" %}
{% include contact-details.html %}

{% include content_snippet.html heading="Terminliste" content="" %}
{% include events-listing.html %}

{% include content_snippet.html heading="Diagramme" content="" %}
{% include charts.html %}
