---
layout: generic
---

<h1>Modules</h1>
<p>The following UI components may be implemented in the future for
the UniBw website</p>

<h2>Text/Video</h2>
{% include text-video.html %}

<h2>Statistics Promotional Bar</h2>
{% include stats-promo-bar.html %}

<h2>Feature Matrix 1</h2>
{% include feature-matrix-1.html %}

<h2>Feature Matrix 2</h2>
{% include feature-matrix-2.html %}

<h2>Flip cards</h2>
{% include flip-cards.html %}

<h2>Contact details</h2>
{% include contact-details.html %}

<h2>Events listing</h2>
{% include events-listing.html %}

<h2>Charts</h2>
{% include charts.html %}
