---
layout: generic
---



<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 blog-pull-right">
        <div class="single-service">
          <img src="{{ page.image }}" alt="{{ page.title }}">
          <h3 class="text-theme-colored line-bottom text-theme-colored">{{ page.title }}</h3>
          <h5>{{ page.description }}</h5>

            {{ content }}

          <h4 class="line-bottom mt-20 mb-20 text-theme-colored">Weitere <span class="text-theme-color-2 font-weight-400">Informationen</span></h4>
          <ul id="myTab" class="nav nav-tabs boot-tabs">
            <li class="active"><a href="#info" data-toggle="tab">Informationsmaterial</a></li>
            <li><a href="#small" data-toggle="tab">Termine</a></li>
            <li><a href="#medium" data-toggle="tab">Prüfungsreglement</a></li>
            <li><a href="#large" data-toggle="tab">Anmeldeunterlagen</a></li>
          </ul>
          <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="info">
              <table class="table table-bordered"> 
                <tbody><tr>
                  <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">Informationsmaterial</td>
                </tr>
                <tr> <th>Coures Type</th> <th>Class time</th> <th>Course Duration</th> <th>Price</th> </tr>
                </tbody><tbody> 
                  <tr> <th scope="row">Studiengangsflyer</th> <td>45 minutes</td> <td>3 years</td> <td>$810</td> </tr>
                  <tr> <th scope="row">„Auf einen Blick“</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                  <tr> <th scope="row">Modulstruktur/ Modulübersicht</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                  <tr> <th scope="row">Video</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                  <tr> <th scope="row">Präsentation</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                  
                </tbody> 
              </table>
            </div>

            <div class="tab-pane fade" id="small">
              <table class="table table-bordered"> 
                <tbody><tr>
                  <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">Termine</td>
                </tr>
                <tr> <th>Coures Type</th> <th>Class time</th> <th>Course Duration</th> <th>Price</th> </tr>
                </tbody><tbody> 
                  <tr> <th scope="row">Studienplan/ Terminplan</th> <td>45 minutes</td> <td>3 years</td> <td>$810</td> </tr>
                  <tr> <th scope="row">Kosten- und Leistungsübersicht</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                  
                </tbody> 
              </table>
            </div>
            <div class="tab-pane fade" id="medium">
              <table class="table table-bordered"> 
                <tbody><tr>
                  <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">Prüfungsreglement</td>
                </tr>
                <tr> <th>Coures Type</th> <th>Class time</th> <th>Course Duration</th> <th>Price</th> </tr>
                </tbody><tbody> 
                  <tr> <th scope="row">Modulhandbuch</th> <td>45 minutes</td> <td>3 years</td> <td>$810</td> </tr>
                  <tr> <th scope="row">Prüfungsordnung</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                  
                </tbody> 
              </table>
            </div>
            <div class="tab-pane fade" id="large">
              <table class="table table-bordered"> 
                <tbody><tr>
                  <td class="text-center font-16 font-weight-600 bg-theme-color-2 text-white" colspan="4">Anmeldeunterlagen</td>
                </tr>
                <tr> <th>Coures Type</th> <th>Class time</th> <th>Course Duration</th> <th>Price</th> </tr>
                </tbody><tbody> 
                  <tr> <th scope="row">Aufnahmeantrag</th> <td>45 minutes</td> <td>3 years</td> <td>$810</td> </tr>
                  <tr> <th scope="row">Immatrikulationsantrag</th> <td>45 minutes</td> <td>2 years</td> <td>$940</td> </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>

      <div class="container">
        <div class="row">
            <div class="section-title mb-10">
              <div class="row">
                <div class="col-md-8">
                  <h4 class="mt-20 line-bottom line-height-1">Akademische <span class="text-theme-color-2 font-weight-400">Leitung</span></h4>
               </div>
              </div>
            </div>

            <div class="section-content">
              <div class="row multi-row-clearfix">
              {% for item in site.posts %}
              {% if item.parent == 'People' and item.category == "akademische_leitung" %}
                <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
                  <div class="team maxwidth400">
                    <div class="thumb"><img class="img-fullwidth" src="{{ item.image }}" alt="{{ item.title }}"></div>
                    <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                      <h5 class="name text-theme-color-2 mt-0">{{ item.title }}</h5>
                      <p class="mb-20 font-12">{{ item.description }}&nbsp;</p>
                      <a class="btn btn-theme-colored btn-sm pull-right flip" href="{{ item.url}}">Zur Person…</a>
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}         
              </div>
            </div>
        </div>
      </div>

      </div>
      <div class="col-sm-12 col-md-4">
        <div class="sidebar sidebar-left mt-sm-30 ml-40">
          <div class="widget">
            <h4 class="widget-title line-bottom">Unsere <span class="text-theme-color-2">Programme</span></h4>
            <div class="services-list">
              <ul class="list list-border angle-double-right">
               {% for item in site.posts %}
                {% if item.parent == 'Studiengänge' %}

                <li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
               {% endfor %}

              </ul>
            </div>
            <h4 class="widget-title line-bottom">Unsere <span class="text-theme-color-2">Zertifikate</span></h4>
            <div class="services-list">
              <ul class="list list-border angle-double-right">
               {% for item in site.posts %}
                {% if item.parent == 'Zertifikate' %}

                <li class="{% if item.url == page.url %}active{% endif %}"><a href="{{ item.url }}">{{ item.title }}</a></li>
                {% endif %}
               {% endfor %}

              </ul>
            </div>

          </div>
            {% for item in site.posts %}
            {% if item.name == page.contact_name %}
            <div class="widget">
              <h4 class="widget-title line-bottom">Anmeldung und  <span class="text-theme-color-2">Kontakt</span></h4>
              <p>{{ page.anmeldung }}</p>
              <div class="doctor-thumb">
                <img src="{{ item.image }}" alt="{{ item.title }}">
              </div>
              <div class="info">
                <h4 class="text-uppercase text-white">{{ item.title }}</h4>
                {{ item.content }}
              </div>
            </div>
            {% endif %}
            {% endfor %}
          <div class="widget">
            <h4 class="widget-title line-bottom">Schreiben <span class="text-theme-color-2">Sie uns!</span></h4>
            <p>Sie haben noch Fragen? Sprechen Sie uns an! Wir beraten Sie gerne per E-Mail, telefonisch oder im persönlichen Gespräch.</p>
            <form id="quick_contact_form_sidebar" name="footer_quick_contact_form" class="quick-contact-form" action="includes/quickcontact.php" method="post" novalidate="novalidate">
              <div class="form-group">
                <input name="form_email" class="form-control" type="text" required="" placeholder="Ihre Email" aria-required="true">
              </div>
              <div class="form-group">
                <textarea name="form_message" class="form-control" required="" placeholder="Ihre Nachricht" rows="3" aria-required="true"></textarea>
              </div>
              <div class="form-group">
                <input name="form_botcheck" class="form-control" type="hidden" value="">
                <button type="submit" class="btn btn-theme-colored btn-flat btn-xs btn-quick-contact text-white pt-5 pb-5" data-loading-text="Please wait...">Abschicken</button>
              </div>
            </form>

            <!-- Quick Contact Form Validation-->
            <script type="text/javascript">
              $("#quick_contact_form_sidebar").validate({
                submitHandler: function(form) {
                  var form_btn = $(form).find('button[type="submit"]');
                  var form_result_div = '#form-result';
                  $(form_result_div).remove();
                  form_btn.before('<div id="form-result" class="alert alert-success" role="alert" style="display: none;"></div>');
                  var form_btn_old_msg = form_btn.html();
                  form_btn.html(form_btn.prop('disabled', true).data("loading-text"));
                  $(form).ajaxSubmit({
                    dataType:  'json',
                    success: function(data) {
                      if( data.status == 'true' ) {
                        $(form).find('.form-control').val('');
                      }
                      form_btn.prop('disabled', false).html(form_btn_old_msg);
                      $(form_result_div).html(data.message).fadeIn('slow');
                      setTimeout(function(){ $(form_result_div).fadeOut('slow') }, 6000);
                    }
                  });
                }
              });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

    {% include testimonials.html %}
