---
layout: generic
---
<section class="bg-lighter">
  <div class="container">
    <div class="section-title mb-0">
      <div class="row">
        <div class="col-md-8">
          <h2 class="text-uppercase font-28 line-bottom mt-0 line-height-1">Unsere <span class="text-theme-color-2 font-weight-400">Programme</span></h2>
          <h4 class="pb-20"></h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <!-- <div class="portfolio-filter font-alt align-center">
          <a href="#" class="active" data-filter="*">Alle</a>
          <a href="#studiengang" class="" data-filter=".studiengang">Studiengänge</a>
          <a href="#zertifikat" class="" data-filter=".zertifikat">Zertifikate</a>
        </div> -->

        <div id="grid" class="gallery-isotope grid-3 masonry gutter clearfix">
          {% for item in site.posts %}
          {% if item.parent == "Studiengänge" %}

            <!-- Portfolio Item Start -->
            <div class="gallery-item studiengang">
              <div class="thumb">
                <img class="img-fullwidth" src="{{ item.image }}" alt="project">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="{{ item.url }}"><i class="fa fa-info"></i></a>
                    </div>
                  </div>
                </div>
                <a class="hover-link" href="{{ item.url }}">Details</a>
              </div>
              <div class="portfolio-description">
                <h5 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h5>
                <!-- <span class="category"><span>Studiengang</span> --></span>
              </div>
            </div>
            <!-- Portfolio Item End -->
          {% endif %}
          {% endfor %}
          {% for item in site.posts %}
          {% if item.parent == "Zertifikate" %}

            <!-- Portfolio Item Start -->
            <div class="gallery-item zertifikat">
              <div class="thumb">
                <img class="img-fullwidth" src="{{ item.image }}" alt="project">
                <div class="overlay-shade"></div>
                <div class="icons-holder">
                  <div class="icons-holder-inner">
                    <div class="styled-icons icon-sm icon-dark icon-circled icon-theme-colored">
                      <a href="{{ item.url }}"><i class="fa fa-info"></i></a>
                    </div>
                  </div>
                </div>
                <a class="hover-link" href="{{ item.url }}">Details</a>
              </div>
              <div class="portfolio-description">
                <h5 class="title"><a href="{{ item.url }}">{{ item.title }}</a></h5>
                <!-- <span class="category"><span>Zertifikat</span> --></span>
              </div>
            </div>
            <!-- Portfolio Item End -->
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

