// DTec specific styles
/* colour values */

/*

main grays:
dark-gray: #646363 75% Schwarz
light-gray: #9D9D9C 50% Schwarz
orange: #ED6E00
pink: #C3004A

shades of gray

40 % Schwarz
30 % Schwarz
20 % Schwarz
10 % Schwarz

*/

/* if we need the focus, take the dark gray color instead orange */
header *:focus, footer *:focus, ol *:focus, ul *:focus { border: none;}
header * :focus, footer * :focus, ol * :focus, ul * :focus { border: none;}

a { color: #7EAAC0; }
a:hover,
a:focus { color: #518196; }

.header-nav {
	background: transparent;
}
.header-nav-wrapper {
    background: transparent;
}
.border-bottom-theme-color-2-1px {
	background: transparent;
	background-image:url('../media/dtec/bg_main_nav.png');
	background-position: center bottom;
    background-repeat: no-repeat;
	border-bottom: none !important;
}
.menuzord { margin-bottom: 6px; background: transparent; }

#header .header-nav .header-nav-wrapper .menuzord { background-color: transparent; }

/*
#breadcrumbs {display: none !important;}
*/

#hero-title .container { padding-top: 50px; padding-bottom: 0px; }

/* taken out because that looked not good when a title is picked for the module or the module is coloured 
.main-content section:first-child>.container  { padding-top: 0px; }
*/

.bg-theme-color-2, .line-bottom-center:after, .line-bottom:after { background: transparent !important; }

/* main styles */
#athene{
    top: -100px;
    height: 90px;
}
#athene.bumped {
      top: 0;
      opacity: 0;
}
#athene a {
        background: url("../media/dtec/dtec.bw_Logo_RGB.svg");
        background-size: cover;
        color: transparent;
        width: 420px;
        height: 90px;
        margin-left: auto;
}

#athene a:before {
            display: none;
        }

.menuzord-menu>li>a,
.menuzord-menu>li:hover>a
 {
    background: transparent;
    border: none;
}

.menuzord .menuzord-menu ul.dropdown li:hover>a, 
.menuzord .menuzord-menu>li.active>a, 
.menuzord .menuzord-menu>li:hover>a,
#header .header-nav .header-nav-wrapper .menuzord-menu > .active > a  {
    background: transparent none repeat scroll 0 0;
    color: #646363;
    font-weight: bolder;
    border: none;
}

/* module styles */
section.bg-lighter { background-color: #fff !important; }
section .module-title {
	text-transform: none;
    font-weight: bolder;
}
section .module-title.line-bottom {
    margin-bottom: 15px;
}

.text-theme-color-2 { color: #282828; }

.icon-box .icon.icon-gray:hover {
  color: #4B4A4A;
}

section.events-listing,
section#events-list {
        background-color: #646363;
}
section.events-listing .btn-theme-colored {
        background-color: #B1B0B0;
        border-color: #B1B0B0;
    }
section.events-listing .btn-theme-colored:hover,
section.events-listing .btn-theme-colored:active,
section.events-listing .btn-theme-colored:focus {
        background-color: #979696;
        border-color: #979696;
    }

/* form */

form#contact_form legend { 
    border: none;
    font-weight: bolder;
    font-size: 1.2em; 
}
form#contact_form label {
    font-family: "thesans";
    font-size: 1.2em;
    font-weight: bolder;
}
form#contact_form .checkbox label {
    font-size: 0.8em;
    font-weight: bolder;
    line-height: 1.5;
}

form#contact_form .btn {
    font-size: 1em;
}

blockquote {
    border-left: 3px solid #646363;
}

.unibworange-text { color: #646363; }
.unibworange-background { background-color: #646363; }
.unibworange-border { border-color: #646363; }
.searchResults .row .url i { color: #646363; }

/* colour schemes */
.scheme-white {}

.scheme-white .text-white { color: #282828 !important; }
.scheme-white.overlay-theme-colored-8:before { background-color: rgba(255, 255, 255, 0.8) !important; }

.scheme-light-grey { background-color: #E3E2E2 !important; }
.scheme-light-grey .text-white { color: #282828 !important;}
.scheme-light-grey.overlay-theme-colored-8:before { background-color: rgba(227, 226, 226, 0.8) !important; }

.scheme-uni-orange { background-color: #9D9D9C !important; }
.scheme-uni-orange .list-group-item { background-color: #FDFCFC; }   
.scheme-uni-orange .icon-box .icon.icon-gray { background-color: #E3E2E2; }
.scheme-uni-orange .bg-deep { background-color: #FDFCFC !important; }
.scheme-uni-orange .howto .icon-white { border-color: #E3E2E2  !important; }
.scheme-uni-orange .howto p.text-gray { color: #E3E2E2 !important;  }
.scheme-uni-orange.overlay-theme-colored-8:before { background-color: rgba(157, 157, 156, 0.8) !important; }

.scheme-middle-grey { background-color: #9D9D9C !important; } 
.scheme-middle-grey .list-group-item {  background-color: #FDFCFC; }
.scheme-middle-grey .icon-box .icon.icon-gray { background-color: #E3E2E2; }
.scheme-middle-grey .bg-deep { background-color: #FDFCFC !important; }
.scheme-middle-grey .howto p.text-gray { color: #CAC9C9 !important;  }
.scheme-middle-grey.overlay-theme-colored-8:before { background-color: rgba(157, 157, 156, 0.8) !important; }

.scheme-uni-grey { background-color: #646363 !important; }
.scheme-uni-grey .list-group-item { background-color: #FDFCFC; } 
.scheme-uni-grey .btn-theme-colored {
        background-color: #B1B0B0;
        border-color: #B1B0B0;
    }
.scheme-uni-grey .btn-theme-colored:hover,
.scheme-uni-grey .btn-theme-colored:active,
.scheme-uni-grey .btn-theme-colored:focus {
        background-color: #979696;
        border-color: #979696;
    }
.scheme-uni-grey .icon-box .text-gray,
.scheme-uni-grey p.text-gray,
.scheme-uni-grey h6.text-gray  { color: grey !important; }   
.scheme-uni-grey .icon-box .icon.icon-gray { background-color: #CAC9C9 }
.scheme-uni-grey .bg-deep { background-color: #FDFCFC !important; }
.scheme-uni-grey .howto p.text-gray { color: #CAC9C9 !important;  }
.scheme-uni-grey.overlay-theme-colored-8:before { background-color: rgba(100, 99, 99, 0.8) !important; }


.scheme-dark-blue { background-color: #646363 !important; }
.scheme-dark-blue .btn-theme-colored {
        background-color: #B1B0B0;
        border-color: #B1B0B0;
    }
.scheme-dark-blue .btn-theme-colored:hover,
.scheme-dark-blue .btn-theme-colored:active,
.scheme-dark-blue .btn-theme-colored:focus {
        background-color: #979696;
        border-color: #979696;
    }
.scheme-dark-blue .icon-box .icon.icon-gray { background-color: #E3E2E2 } 
.scheme-dark-blue .bg-deep { background-color: #FDFCFC !important; }
.scheme-dark-blue .howto p.text-gray { color: #CAC9C9 !important;  }
.scheme-dark-blue.overlay-theme-colored-8:before { background-color: rgba(100, 99, 99, 0.8) !important; }

.scheme-white .list-group-item a,
.scheme-uni-grey .list-group-item a,
.scheme-light-grey .list-group-item a,
.scheme-middle-grey .list-group-item a,
.scheme-uni-orange .list-group-item a,
.scheme-dark-blue .list-group-item a
 {
    color: #7EAAC0 !important;
}

.scheme-white .list-group-item a :hover,
.scheme-white  .list-group-item a :active,
.scheme-white  .list-group-item a :focus,
.scheme-white  .list-group-item a :visited,
.scheme-uni-grey .list-group-item a :hover,
.scheme-uni-grey  .list-group-item a :active,
.scheme-uni-grey  .list-group-item a :focus,
.scheme-uni-grey  .list-group-item a :visited,
.scheme-uni-orange .list-group-item a :hover,
.scheme-uni-orange .list-group-item a :active,
.scheme-uni-orange .list-group-item a :focus,
.scheme-uni-orange .list-group-item a :visited,
.scheme-middle-grey .list-group-item a :hover,
.scheme-middle-grey .list-group-item a :active,
.scheme-middle-grey .list-group-item a :focus,
.scheme-middle-grey .list-group-item a :visited,
.scheme-light-grey .list-group-item a :hover,
.scheme-light-grey .list-group-item a :active,
.scheme-light-grey .list-group-item a :focus,
.scheme-light-grey .list-group-item a :visited,
.scheme-dark-blue .list-group-item a :hover,
.scheme-dark-blue .list-group-item a :active,
.scheme-dark-blue .list-group-item a :focus,
.scheme-dark-blue .list-group-item a :visited 
  {
    color: #518196 !important;
}

section.gallery-extended .post { margin-bottom: 15px; }

.btn {
    border-radius: 0;
}

/* footer styles */
.layer-overlay.overlay-dark-9::before {
    background-color: #646363;
}


.footer .text-theme-color-2, 
.footer .work-gallery .gallery-bottom-part .title {
    color: #fff;
}

.footer a,
.footer a:hover,
.footer a:visited,
.footer a:active,
.footer a:focus { color: #fff; border: none;}

footer .widget .list-inline li + li {
    border-left: 1px solid white;
}

/* Mobile mode (Responsive mode) */
@media (max-width: 900px){
    /* Menu items */
#header .header-nav .header-nav-wrapper .menuzord { margin-bottom: 12px; }
}